<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <!-- JQuery -->
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- Vue.js -->
    <script src="{{ asset('js/vue.js') }}"></script>
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.structure.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/flags.css') }}">
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Company/5mict/css/main.css') }}">
    <title>{% block title %}{% trans %}Welcome!{% endtrans %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div class="row row-regular">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div align="center" class="panel panel-default  center ">
                <div class="panel-body">
                    <div class="col-lg-9">
                        <div class="panel-header super-admin">
                            <img src="{{ asset('Company/5mict/images/logo.png') }}">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="menu-info">
                            {% include ':components:logout.html.twig' %}
                        </div>
                    </div>
                    <div class="col-lg-12">
                        {% block body %}{% endblock body %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
        {% include ':superAdmin:components/grant_modal.html.twig'
        with {
        'title' : 'Update grant',
        'action': 'update'
        }
        %}
        {% include ':superAdmin:components/grant_modal.html.twig'
        with {
        'title' : 'Add grant',
        'action': 'add'
        }
        %}
    </div>
{% block javascripts %}{% endblock %}
</body>
</html>