{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    <br/>
    {% include ':components:password_update.html.twig' %}
    {% include ':components:html_error.html.twig' with {'context': 'admin'} %}
    <div class="col-lg-12 actions">
        <i class="fa fa-cog menu-settings" aria-hidden="true" data-toggle="modal" data-target="#ModalSettings"></i>
        <i class="fa fa-user-plus menu-add" aria-hidden="true" data-toggle="modal" data-target="#addUserModal"></i>

    </div>
    <table class="table table-bordered">
        <tr class="table-header">
            <th>{% trans %}Username{% endtrans %}</th>
            <th>{% trans %}First name{% endtrans %}</th>
            <th>{% trans %}Last name{% endtrans %}</th>
            <th>{% trans %}Phone number{% endtrans %}</th>
            <th>{% trans %}Email{% endtrans %}</th>
            <th>{% trans %}Is Active{% endtrans %}</th>
            <th>{% trans %}Roles{% endtrans %}</th>
            <th class="th-center">{% trans %}Action{% endtrans %}</th>
        </tr>
        {% for user in users %}
            <tr class="table-rows">
                <th id="th-{{ user.id }}-username">{{ user.username }}</th>
                <th id="th-{{ user.id }}-first-name">{{ user.firstName }}</th>
                <th id="th-{{ user.id }}-last-name">{{ user.lastName }}</th>
                <th id="th-{{ user.id }}-last-name">{{ user.phonenumber }}</th>
                <th id="th-{{ user.id }}-email">{{ user.email }}</th>
                <th id="th-{{ user.id }}-isActive">{{ user.isActive ? 'true' : 'false' }}</th>
                <th id="th-{{ user.id }}-roleString">{{ user.rolesString }}</th>
                <th class="th-center">
                    <i id="update-{{ user.id }}" class="fa fa-pencil icon update" aria-hidden="true" data-toggle="modal" data-target="#updateUserModal"></i>&nbsp;
                    <i id="delete-{{ user.id }}" class="fa fa-trash icon delete" aria-hidden="true"></i>
                </th>
            </tr>
        {%  endfor %}
    </table>
    {% include ':admin:FurnitureDatabase/components/user_modal.html.twig'
        with {
            'action': 'update',
            'title': 'Update user'|trans
        }
    %}
    {% include ':admin:FurnitureDatabase/components/user_modal.html.twig'
        with {
            'action': 'add',
            'title': 'Add user'|trans
        }
    %}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $(".delete").click(function (event) {
                let id = event.target.id.split('-')[1];
                let data = {};
                data.id = id;
                let answer = confirm('Are you sure you want to delete user');
                if(answer) {
                    $.ajax({
                        url: '/admin/delete-user',
                        type: 'delete',
                        data: data,
                        success: function (result) {
                            window.location.reload();
                        },
                        error: function (result) {
                            try {
                                let error = JSON.parse(result.responseText);
                                admin_set_error_message(error.error_message);
                            } catch(e) {
                                admin_set_error_message(error.error_message);
                            }
                        }
                    });
                }
            });
            $(".update").click(function (event) {
                let data = {};
                data.id = event.target.id.split('-')[1];
                $.ajax({
                    url: '/admin/get-user',
                    type: 'post',
                    data: data,
                    success: function(result) {
                        try {
                            let user = JSON.parse(result);
                            set_update_values(user);
                        } catch(e) {
                            admin_set_error_message('Unknown');
                        }
                    },
                    error: function(result) {
                        try {
                            let error = JSON.parse(result.responseText);
                            admin_set_error_message(error.error_message);
                        } catch(e) {
                            admin_set_error_message('Unknown');
                        }
                    }
                });
            });
        });
        $(".modal-draggable .modal-dialog").draggable({
            handle: ".modal-header"
        });
    </script>
{% endblock %}
