<div id="reportrange"  style="background: #fff; cursor: pointer;  border: 1px solid #ccc;">
    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
    <span></span> <b class="caret"></b>
</div>
{% block javascripts %}
    <script>
        moment.updateLocale({{ locale }});
        let start = moment().subtract(29, 'days');
        let end = moment();
        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                {% if locale == 'en' %}
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                {% endif %}
                {% if locale == 'nl' %}
                    'Gisteren': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Laatste 7 Dagen': [moment().subtract(6, 'days'), moment()],
                    'Laatste 30 Dagen': [moment().subtract(29, 'days'), moment()],
                    'Deze Maand': [moment().startOf('month'), moment().endOf('month')],
                    'Vorige Maand': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                {% endif %}
            }
        }, cb);
        cb(start, end);
    </script>
{% endblock %}