<div class="col-lg-12" id="{{ context }}-div-error" style="display:none">
    <span id="{{ context }}-error-text"></span><br/><br/>
</div>
<script>
    function  {{ context }}_set_error_message(error_message) {
        $('#{{ context }}-div-error').show();
        $('#{{ context }}-error-text').text('Attention: ' + error_message);
    };
</script>