<img id="nl" src="{{ asset('images/blank.gif') }}" class="flag flag-nl menu-leng" alt="Dutch" />
<img id="en" src="{{ asset('images/blank.gif') }}" class="flag flag-gb menu-leng" alt="English" />
<!--<img id="ge" src="{{ asset('images/blank.gif') }}" class="flag flag-de menu-leng" alt="German" />-->

<script>
    $(document).ready( function() {
        $('#nl').click(function(event) {
            $.ajax({
                url: '/change/language/to/nl',
                type: 'put',
                success: function (response) {
                    //alert('language changed to' + response);
                    window.location.reload();
                },
                error: function (response) {
                    try {
                        let error = JSON.parse(response.responseText);
                        alert('Can not change language to Dutch. Error ' + error.error_message);
                    } catch(e) {
                        window.location.reload();
                    }
                }
            });
        });
        $('#en').click(function(event) {
            $.ajax({
                url: '/change/language/to/en',
                type: 'put',
                success: function (response) {
                    window.location.reload();
                },
                error: function (response) {
                    try {
                        let error = JSON.parse(response.responseText);
                        alert('Can not change language to English. Error ' + error.error_message);
                    } catch(e) {
                        window.location.reload();
                    }
                }
            });
        });
        $('#ge').click(function(event) {
            $.ajax({
                url: '/change/language/to/ge',
                type: 'put',
                success: function (response) {
                    window.location.reload();
                },
                error: function (response) {
                    try {
                        let error = JSON.parse(response.responseText);
                        alert('Can not change language to German. Error ' + error.error_message);
                    } catch(e) {
                        window.location.reload();
                    }
                }
            });
        });
    });
</script>