{% if is_granted('ROLE_SUPER_ADMIN') %}
    <a href="/super-admin" class="menu-admin"><i class="fa fa-cogs" aria-hidden="true"></i>Super Admin</a>
{%  endif %}
{%  if is_granted('ROLE_ADMIN') %}
    <a href="/admin/users" class="menu-admin"><i class="fa fa-cogs" aria-hidden="true"></i>{% trans %}Admin{% endtrans %}</a>
{% endif %}
{%  if is_granted('ROLE_USER') %}
    <a href="/user" class="menu-admin"><i class="fa fa-cogs" aria-hidden="true"></i>{% trans %}User{% endtrans %}</a>
{% endif %}
<a href="/logout" class="menu-logout"><i class="fa fa-power-off" aria-hidden="true"></i>{% trans %}Logout{% endtrans %}</a>
