<div class="modal fade modal-draggable" id="MailModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Email{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                {% include ':components:modal_error.html.twig' with {'context': 'send_mail'}%}
                <div class="form-group">
                    <label style="float: left" for="email">{% trans %}Email Address{% endtrans %}:</label><br/>
                    <input style="z-index: 0" type="text" class="form-control" id="email" required="required" />
                </div><br/>
                <div class="form-group">
                    <label style="float: left" for="mail-subject">{% trans %}Subject{% endtrans %} :</label>
                    <input style="z-index: 0" type="text" class="form-control" id="mail-subject" placeholder="Enter subject" required="required" />
                </div><br/>
                <div class="form-group">
                    <label style="float: left" for="mail-message">{% trans %}Message{% endtrans %}</label>
                    <textarea name="message" id="mail-message" class="form-control" rows="12" cols="25" required="required" placeholder="Message"></textarea>
                </div>
                <div class="form-group" id="signature">
                    {% include company ~ 'signature.html.twig' %}
                </div><br>
                <button type="button" value="Submit" id="send-mail" class="btn btn-default btn-block button-color">{% trans %}Send Email{% endtrans %}</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    let data = {};
    let message_type;
    function set_mail_data(pdf, mail_type, order_number, order_article_id, delivery_date, commission, details, files) {
        data.pdf = pdf;
        data.mail_type = mail_type;
        data.order_number = order_number;
        data.order_article_id = order_article_id;
        data.delivery_date = delivery_date;
        data.commission = commission;
        data.details = details;
        data.files = files;
        let message;
        let message_subject;
        switch('{{ mail_type }}'){
            case '{{ constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::INVOICE_SENT') }}':
                message ="{{ 'invoice_sent_mail_message'|trans({}, 'messages', communication_language) }}";
                message_subject = "{{ 'Invoice de Jong Interieur'|trans({}, 'messages', communication_language) }}";
                message_type = "invoice";
                break;
            case '{{ constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::OFFER_EMAILED') }}':
                message ="{{ 'offer_emailed_mail_message'|trans({}, 'messages', communication_language) }}";
                message_subject = "{{ 'Offer de Jong Interieur'|trans({}, 'messages', communication_language) }}";
                message_type = "offer";
                break;
            case '{{ constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::ORDER_CONFIRMATION_EMAILED') }}':
                message ="{{ 'order_confirmation_emailed_mail_message'|trans({}, 'messages', communication_language) }}";
                message_subject = "{{ 'Order confirmation de Jong Interieur'|trans({}, 'messages', communication_language) }}";
                message_type = "order_confirmation";
                break;
            default:
                message_subject = "";
                message_type = "order_from_supplier";
                break;
        }
        $('#mail-subject').val(message_subject);
        $('#mail-message').val(message);
    }
    $(document).ready(function () {
        $(".modal-draggable .modal-dialog").draggable({
            handle: ".modal-header"
        });
        $("#send-mail").click(function () {
            let form = new FormData();
            form.append('mail_type', data.mail_type);
            form.append('order_number', data.order_number);
            form.append('order_article_id', data.order_article_id);
            form.append('mail_address', $('#email').val());
            form.append('mail_subject', $('#mail-subject').val());
            form.append('mail_body', $('#mail-message').val());
            form.append('delivery_date', data.delivery_date);
            form.append('commission', data.commission);
            form.append('message_type', message_type);
            form.append('details', data.details);
            form.append('pdf', data.pdf);
            if(data.files !== null || data.files.length > 0){
                $.each(data.files, function(i, file) {
                    form.append('file[]', file);
                });
            }
            $.ajax({
                url: '/orders/send-mail',
                data: form,
                type: 'post',
                contentType: false,
                processData: false,
                success: function(result) {
                    try{
                        window.location.reload();
                    } catch(e) {
                        send_mail_set_error_message('Unknown');
                    }
                },
                error: function(result) {
                    send_mail_set_error_message(result.responseText);
                }
            })
        });
    });
</script>