<div class="modal fade modal-draggable" id="MailViewModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Email View{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                {% include ':components:modal_error.html.twig' with {'context': 'send_mail_view'}%}
                <div class="form-group">
                    <label style="float: left" for="mail-view-subject">{% trans %}Subject{% endtrans %} :</label>
                    <input style="z-index: 0" type="text" class="form-control" id="mail-view-subject" disabled/>
                </div>
                <div class="form-group">
                    <label style="float: left" for="mail-view">{% trans %}Email Address{% endtrans %} :</label><br>
                    <span style="float: left; margin-left: -80px;" id="mail-view-address"></span>
                </div><br/>
                <div class="form-group">
                    <label style="float: left" for="mail-view-message">{% trans %}Message{% endtrans %}</label>
                    <textarea name="message" id="mail-view-message" class="form-control" rows="12" cols="25" disabled></textarea>
                </div>
                <div class="form-group" hidden>
                    {% include company ~ 'signature.html.twig' %}
                </div><br>
                <iframe id="mail-view-attachment" width="100%" height="100%"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    function set_mail_view_data(data) {
        $('#mail-view-subject').val(data.mail_subject);
        $('#mail-view-address').text(data.send_to);
        $('#mail-view-message').val(data.mail_body);
        $('#created').val(data.created);
        $('#mail-status').val(data.mail_status);
        $('#mail-view-attachment').attr('src', window.location.protocol + '//' + window.location.hostname + data.file);
    }
</script>