<div class="col-lg-1 menu-comp">
    <a id="debtor" href="{{ path('user-debtors') }}" class="menu-icon">
        <i class="fa fa-male menu-debit-item" aria-hidden="true"></i>
        <span class="menu-debit-name">{% trans %}Debtors{% endtrans %}</span>
    </a>
</div>
<div class="col-lg-1 menu-comp">
    <a id="supplier" href="{{ path('user-suppliers') }}" class="menu-icon">
        <i class="fa fa-bus menu-leve-item" aria-hidden="true"></i>
        <span class="menu-leve-name">{% trans %}Suppliers{% endtrans %}</span>
    </a>
</div>
<div class="col-lg-1 menu-comp">
    <a id="order" href="{{ path('user-orders') }}" class="menu-icon">
        <i class="fa fa-list-alt menu-order-item" aria-hidden="true"></i>
        <span class="menu-order-name">{% trans %}Orders{% endtrans %}</span>
    </a>
</div>
<div class="col-lg-1 menu-comp">
    <a id="article" href="{{ path('user-articles') }}" class="menu-icon">
        <i class="fa fa-shopping-cart menu-artik-item" aria-hidden="true"></i>
        <span class="menu-artik-name">{% trans %}Articles{% endtrans %}</span>
    </a>
</div>
<div class="col-lg-1 menu-comp">
    <a id="planning" href="{{ path('user-planning-orders') }}" class="menu-icon">
        <i class="fa fa-calendar menu-plan-item" aria-hidden="true"></i>
        <span class="menu-plan-name">{% trans %}Planing{% endtrans %}</span>
    </a>
</div>
<div class="col-lg-1 menu-comp">
    <a id="facture" href="{{ path('user-orders-get-invoices') }}" class="menu-icon">
        <i class="fa fa-file-text-o menu-fact-item" aria-hidden="true"></i>
        <span class="menu-fact-name">{% trans %}Invoices{% endtrans %}</span>
    </a>
</div>
{% if is_granted('ROLE_ADMIN') %}
<div class="col-lg-1 menu-comp">
    <a id="user" href="{{ path('userpage') }}" class="menu-icon">
        <i class="fa fa-user-circle menu-user-item" aria-hidden="true"></i>
        <span class="menu-user-name">{% trans %}User{% endtrans %}</span>
    </a>
</div>
{% endif %}

