<div id="page-selection"></div>
<script>
    $(document).ready(function() {
        let {{ paging_entity_name }}_http_request = {
            page_number: parseInt({{ page_number }}),
            page_size: parseInt({{ page_size }}),
            total_number_of_pages: parseInt({{ total_number_of_pages }}),
            parent_id: parseInt({{ parent_id }}),
            get_page: function(url) {
                $.redirect(url, {page_number: this.page_number, page_size: this.page_size, parent_id: this.parent_id});
            }
        };
        let total_pages = parseInt({{ total_number_of_pages }});
        let current_page = parseInt({{ page_number }});
        $('#page-selection').bootpag({
            total: total_pages,
            page: current_page,
            maxVisible: 4,
            leaps: true,
            firstLastUse: true,
            first: '1',
            last: total_pages,
            wrapClass: 'pagination',
            activeClass: 'current-page',
            disabledClass: 'hidden',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first'
        }).on("page", function(event, num){
            {{ paging_entity_name }}_http_request.page_number = num;
            {{ paging_entity_name }}_http_request.get_page('{{ get_page }}');
        });
    });
</script>