<div id="page-selection"></div>
<script>
    $(document).ready(function() {
        let total_pages = parseInt({{ total_number_of_pages }});
        let current_page = parseInt({{ page_number }});
        $('#page-selection').bootpag({
            total: total_pages,
            page: current_page,
            maxVisible: 4,
            leaps: true,
            firstLastUse: true,
            first: '1',
            last: total_pages,
            wrapClass: 'pagination',
            activeClass: 'current-page',
            disabledClass: 'hidden',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first',
        }).on("page", function(event, num){
            http_request.page_number = num;
            http_request.get_page(window.location.href);
        });
    });
</script>