<div id="page-selection"></div>
<script>
    $(document).ready(function() {
        let {{ paging_entity_name }}_http_request = {
            page_number: parseInt({{ page_number }}),
            page_size: parseInt({{ page_size }}),
            total_number_of_pages: parseInt({{ total_number_of_pages }}),
            parent_id: parseInt({{ parent_id }}),
            get_page: function(url) {
                let href = url + '?parent_id=' + this.parent_id + '&page_number=' + this.page_number + '&page_size=' + this.page_size;
                $.ajax({
                    url: href,
                    type: 'get',
                    success: function(result) {
                        let data = {};
                        try{
                            data = JSON.parse(result);
                            this.page_number = data.page_number;
                            {{ context }}_render(data.notes);
                        } catch(e) {
                            {{ context }}_set_error_message('Can not parse result');
                        }
                    },
                    error: function(result) {
                        let error = {};
                        try {
                            let error = JSON.parse(result.responseText);
                        } catch(e) {
                            error.error_message = 'Uknown';
                        }
                        {{ context }}_set_error_message(error.error_message);
                    }
                })
            }
        };
        let total_pages = parseInt({{ total_number_of_pages }});
        let current_page = parseInt({{ page_number }});
        $('#page-selection').bootpag({
            total: total_pages,
            page: current_page,
            maxVisible: 4,
            leaps: true,
            firstLastUse: true,
            first: '1',
            last: total_pages,
            wrapClass: 'pagination',
            activeClass: 'current-page',
            disabledClass: 'hidden',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first'
        }).on("page", function(event, num){
            {{ paging_entity_name }}_http_request.page_number = num;
            {{ paging_entity_name }}_http_request.get_page('{{ get_page }}');
        });
    });
</script>