<div class="modal fade modal-draggable" id="ModalSettings" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Change Password{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <div>
                    {% include ':components:modal_error.html.twig' with {'context' : 'password_update'} %}
                    <div class="form-group">
                        <label for="current-pwd">{% trans %}Current Password{% endtrans %}:</label>
                        <input type="password" class="form-control" id="update-password-current-password" placeholder="{% trans %}Enter current password{% endtrans %}">
                    </div>
                    <div class="form-group">
                        <label for="new-pwd">{% trans %}New Password{% endtrans %}:</label>
                        <input type="password" class="form-control" id="update-password-password" placeholder="{% trans %}Enter new password{% endtrans %}">
                    </div>
                    <div class="form-group">
                        <label for="new-pwd">{% trans %}Confirm New Password{% endtrans %}:</label>
                        <input type="password" class="form-control" id="update-password-confirm-password" placeholder="{% trans %}Enter new password{% endtrans %}">
                    </div>
                    <input type="button" id="div-update-password" class="btn btn-default btn-block button-color" value="{% trans %}Submit{% endtrans %}"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    //$(document).ready(function() {
        $("#div-update-password").click(function () {
            let data = {};
            data.username = '{{ user.username }}';
            data.current_password = $('#update-password-current-password').val()
            data.password = $('#update-password-password').val();
            data.confirm_password = $('#update-password-confirm-password').val();
            console.log(data);
            $.ajax({
                //url: 'https://' + window.location.hostname + '/user-password',
                url: '/user-password',
                type: 'put',
                data: data,
                success: function (result) {
                    window.location.reload();
                },
                error: function (result) {
                    try {
                        let error = JSON.parse(result.responseText);
                        password_update_set_error_message(error.error_message);
                    } catch(e) {
                        password_update_set_error_message('Unknown.');
                    }
                }
            });
        });
    //});
</script>