<div class="search">
    <div class="search-form">
        <div class="form-group has-feedback">
            <label for="search" class="sr-only">{% trans %}Search{% endtrans %}</label>
            <input type="text" class="form-control test" name="search" id="search" placeholder="Search">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $( "#search" ).change(function() {
            localStorage.setItem('search', $('#search').val());
        });
    });

</script>
