<div class="sorting">
        <img id="{{ sorting_column }}-asc" class="sorting-asc" src="{{ asset('images/sort-up.png') }}"/>
        <img id="{{ sorting_column }}-desc" class="sorting-desc" src="{{ asset('images/sort-down.png') }}"/>
</div>
<script>
    $(document).ready(function () {
        $("#{{ sorting_column }}-asc").click(function () {
            http_request.page_number = '{{ page_number }}';
            http_request.page_size = '{{ page_size }}';
            http_request.sort_by = '{{ sorting_criteria }}';
            http_request.sort_direction = 'asc';
            http_request.get_page(window.location.href);
        });
        $("#{{ sorting_column }}-desc").click(function () {
            http_request.page_number = '{{ page_number }}';
            http_request.page_size = '{{ page_size }}';
            http_request.sort_by = '{{ sorting_criteria }}';
            http_request.sort_direction = 'desc';
            http_request.get_page(window.location.href);
        });
    });
</script>