{% include ':components:html_error.html.twig' with {'context' : 'contact_person_delete' } %}
{% include ':user/debtors/components:modal_contact_persons.html.twig' with {'contact_persons_action': 'add'} %}
{% include ':user/debtors/components:modal_contact_persons.html.twig' with {'contact_persons_action': 'update'} %}
<div class="col-lg-6 hide_editing_contact_person">
    <div class="form-group">
        <i class="fa fa-plus fa-add "  aria-hidden="true" data-toggle="modal" data-target="#addContactPersonModal" title="{% trans %}Add New Contact Person{% endtrans %}"></i>
    </div>
</div>
<div class="col-lg-12">
    <table class="table table-bordered">
        <thead class="table-header">
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Email{% endtrans %}</th>
            <th>{% trans %}Phone Number{% endtrans %}</th>
            <th class="hide_editing_contact_person">{% trans %}Action{% endtrans %}</th>
        </tr>
        </thead>
        <tbody id="contactTable">
        {% for contact_person in debtor.contactPersons  %}
            <tr class="table-rows" id="{{ contact_person.id }}">
                <td>{{ contact_person.name }}</td>
                <td>{{ contact_person.email }}</td>
                <td>{{ contact_person.phoneNumber }}</td>
                <td class="th-center hide_editing_contact_person">
                    <i id="contact-person-update-{{ contact_person.id }}" class="fa fa-pencil icon contact-person-update" aria-hidden="true" data-toggle="modal" data-target="#updateContactPersonModal" title="{% trans %}Update Contact Person{% endtrans %}"></i>
                    <i id="contact-person-delete-{{ contact_person.id }}" class="fa fa-trash icon contact-person-delete" aria-hidden="true" title="{% trans %}Delete Contact Person{% endtrans %}"></i>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        let activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('#myTab a[href="' + activeTab + '"]').tab('show');
        }
    });
    {% if Action == 'view' %}
        $('.hide_editing_contact_person').hide();
    {% endif %}
    $(".contact-person-update").click(function (event) {
        let tableRow = $(this).closest("tr")
            .find("td")
            .map(function() {
                return $(this).text();
            }).get();
        let contact_person = {};
        contact_person.id = event.target.id.split('-')[3];
        contact_person.name = tableRow[0];
        contact_person.email = tableRow[1];
        contact_person.phone_number = tableRow[2];
        set_update_values_contact_persons(contact_person);
    });
    $(".contact-person-delete").click(function (event) {
        let data = {};
        data.id = event.target.id.split('-')[3];
        $.ajax({
            url: '/debtors/delete-contact-person',
            type: 'delete',
            data: data,
            success: function (result) {
                window.location.href = '/debtors/' + {{ debtor.id }} + '/update-debtor';
            },
            error: function (result) {
                try {
                    let error = JSON(result.responseText);
                    contact_person_delete_set_error_message(error.error_message);
                } catch(e) {
                    contact_person_delete_set_error_message('Unknown');
                }
            }
        });
    });
</script>

