{% include ':components:html_error.html.twig' with {'context' : 'delete_delivery_address' } %}
{% include 'user/debtors/components/modal_delivery_address.html.twig' with {'delivery_address_action': 'add'} %}
{% include 'user/debtors/components/modal_delivery_address.html.twig' with {'delivery_address_action': 'update'} %}
<div class="col-lg-6 hide_editing_delivery_address">
    <div class="form-group">
        <i class="fa fa-plus fa-add"  aria-hidden="true" data-toggle="modal" data-target="#addDeliveryAddressModal" title="{% trans %}Add New Delivery Address{% endtrans %}"></i>
    </div>
</div>
<div class="col-lg-12">
    <table class="table table-bordered">
        <thead class="table-header">
        <tr>
            <th>{% trans %}Street{% endtrans %}</th>
            <th>{% trans %}House number{% endtrans %}</th>
            <th>{% trans %}House extension{% endtrans %}</th>
            <th>{% trans %}Postcode{% endtrans %}</th>
            <th>{% trans %}City{% endtrans %}</th>
            <th>{% trans %}Country{% endtrans %}</th>
            <th>{% trans %}Description{% endtrans %}</th>
            <th class="addressTable hide_editing_delivery_address">{% trans %}Action{% endtrans %}</th>
        </tr>
        </thead>
        <tbody id="deliveryTable">
            {% for deliveryAddress in debtor.deliveryAddresses %}
            <tr class="table-rows">
                <td>{{ deliveryAddress.street }}</td>
                <td>{{ deliveryAddress.number }}</td>
                <td>{{ deliveryAddress.numberExtension }}</td>
                <td>{{ deliveryAddress.postcode }}</td>
                <td>{{ deliveryAddress.city }}</td>
                <td>{{ deliveryAddress.country }}</td>
                <td>{{ deliveryAddress.description }}</td>
                <td class="th-center hide_editing_delivery_address">
                    <i id="delivery-address-update-{{ deliveryAddress.id }}" class="fa fa-pencil icon delivery-address-update" aria-hidden="true" data-toggle="modal" data-target="#updateDeliveryAddressModal" title="{% trans %}Update Delivery Address{% endtrans %}"></i>
                    <i id="delivery-address-delete-{{ deliveryAddress.id }}" class="fa fa-trash icon delivery-address-delete" aria-hidden="true" title="{% trans %}Delete Delivery Address{% endtrans %}" ></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        //console.log('localStorage ' + localStorage.getItem('activeTab'));
        let activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('#myTab a[href="' + activeTab + '"]').tab('show');
        }
    });
    {% if Action == 'view' %}
        $('.hide_editing_delivery_address').hide();
    {% endif %}
    $(".delivery-address-update").click(function (event) {
        let tableRow = $(this).closest("tr")
            .find("td")
            .map(function() {
                return $(this).text();
            }).get();
        let delivery_address = {};
        delivery_address.id = event.target.id.split('-')[3];
        delivery_address.street = tableRow[0];
        delivery_address.number = tableRow[1];
        delivery_address.number_extension = tableRow[2];
        delivery_address.postcode = tableRow[3];
        delivery_address.city = tableRow[4];
        delivery_address.country = tableRow[5];
        delivery_address.description = tableRow[6];
        delivery_address.contact_person_name = tableRow[7];
        set_update_values_delivery_address(delivery_address);
    });
    $(".delivery-address-delete").click(function (event) {
        let data = {};
        data.id = event.target.id.split('-')[3];
        $.ajax({
            url: '/debtors/delete-delivery-address',
            type: 'delete',
            data: data,
            success: function (result) {
                window.location.href = '/debtors/' + {{ debtor.id }} + '/update-debtor';
            },
            error: function (result) {
                try {
                    let error = JSON(result.responseText);
                    delete_delivery_address_set_error_message(error.error_message);
                } catch(e) {
                    delete_delivery_address_set_error_message('Unknown');
                }
            }
        });
    });
    $('.contact-redirect').click(function (event) {
        let contact_person_id = event.target.id.split('-')[0];
        $('.nav-tabs a[href="#contacts"]').tab('show');
        $('.table-rows').removeClass('focus-row');
        let row = $('#' + contact_person_id);
        row.addClass('focus-row');
    });
    $('a[rel=popover]').popover({
        html: true,
        trigger: 'hover',
    });
</script>