<div class="form-horizontal">
    <form class="{{ Action }}-general-information-submit" id="update-general-information-submit{{ Action == 'update' ? '-'~debtor.id : '' }}">
        {% include ':components:html_error.html.twig' with {'context': 'general_information'} %}
        <h5 class="title-text">{% trans %}Debtor Information{% endtrans %}</h5><br/><br/>
        <div class="col-lg-12">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label label-text" for="name">{% trans %}Name{% endtrans %}:</label>
                <div class="col-sm-6">
                    <input maxlength="100" required id="{{ Action }}_name" type="text" class="form-control input-sm">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label label-text" for="email">{% trans %}Email{% endtrans %}:</label>
                <div class="col-sm-6">
                    <input maxlength="60" required id="{{ Action }}_email" type="email" class="form-control input-sm">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label label-text" for="btw">{% trans %}BTW number{% endtrans %}:</label>
                <div class="col-sm-6">
                    <input maxlength="30" id="{{ Action }}_btw" type="text" class="form-control input-sm">
                </div>
            </div>
            <div class="form-group">
                <label class="label-text control-label">{% trans %}End User Type{% endtrans %}:</label>
                <div class="col-sm-6">
                    <select required id="{{ Action }}_end-user-type" class="form-control">
                        {% if Action == 'add' %}
                            <option value="">{% trans %}Choose..{% endtrans %}</option>
                        {% endif %}
                        {% for eut in end_user_type %}
                            <option value="{{ eut.name }}">{{ eut.trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="label-text control-label">{% trans %}How did you find us{% endtrans %}:</label>
                <div class="col-sm-6">
                    <select required id="{{ Action }}_how-did-you-find-us" class="form-control">
                        <option value="">{% trans %}Choose..{% endtrans %}</option>
                        {% for hdyfu in how_did_you_find_us %}
                            <option value="{{ hdyfu.name }}">{{ hdyfu.trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label label-text" for="website">{% trans %}Website{% endtrans %}:</label>
                <div class="col-sm-6">
                    <input maxlength="100" id="{{ Action }}_website" type="text" class="form-control input-sm">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label label-text" for="bank_account">{% trans %}Bank account{% endtrans %}:</label>
                <div class="col-sm-6">
                    <input maxlength="30" id="{{ Action }}_bank_account" type="text" class="form-control input-sm">
                </div>
            </div>
            <div class="form-group">
                <label class="label-text control-label">{% trans %}Communication language{% endtrans %}:</label>
                <div class="col-sm-6">
                    <select required id="{{ Action }}_communication-language" class="form-control">
                        <option value="">{% trans %}Choose..{% endtrans %}</option>
                        <option value="en">{% trans %}English{% endtrans %}</option>
                        <option value="nl">{% trans %}Nederlands{% endtrans %}</option>
                    </select>
                </div>
            </div>
        </div>
        {% if Action == 'add' %}
            <div class="col-lg-6">
                <div class="form-group" id="{{ Action }}_show-phone-number-general">
                    <label class="control-label label-text" for="{{ Action }}_phone-number-general">{% trans %}Phone number{% endtrans %}:</label>
                    <div class="col-sm-6">
                        <input maxlength="100" id="{{ Action }}_phone-number-general" type="text" class="form-control input-sm">
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
        <div class="col-lg-12">
            <div class="row">
                <h5 class="title-text">{% trans %}Address Information{% endtrans %}</h5><br/><br/>
                <div class="form-group col-xs-4 col-xs-offset-1">
                    <label for="street" style="float: left">{% trans %}Street{% endtrans %}:</label>
                    <input maxlength="60" required id="{{ Action }}_street" type="text" class="form-control input-sm">
                </div>
                <div class="form-group col-xs-4 margin-setter">
                    <label for="house_number" style="float: left">{% trans %}House number{% endtrans %}:</label>
                    <input maxlength="50" required id="{{ Action }}_house_number" type="text" class="form-control input-sm">
                </div>
                <div class="form-group col-xs-4 margin-setter">
                    <label for="number_extension" style="float: left">{% trans %}House extension{% endtrans %}:</label>
                    <input maxlength="5" id="{{ Action }}_number_extension" type="text" class="form-control input-sm">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-4 col-xs-offset-1 ">
                    <label for="postcode" style="float: left">{% trans %}Postcode{% endtrans %}:</label>
                    <input maxlength="50" required id="{{ Action }}_postcode" type="text" class="form-control input-sm">
                </div>
                <div class="form-group col-xs-4 margin-setter">
                    <label for="city" style="float: left">{% trans %}City{% endtrans %}:</label>
                    <input maxlength="60" required id="{{ Action }}_city" type="text" class="form-control input-sm">
                </div>
                <div class="form-group col-xs-4 margin-setter country">
                    <label style="float: left">{% trans %}Country{% endtrans %}:</label>
                    <input type="text" id="{{ Action }}_country" class="form-control input-sm"/>
                    <input type="hidden" id="{{ Action }}_country_code"/>
                </div>
            </div>
        </div>
        <div style="float: right;" class="col-lg-4">
            <input type="submit" value="{% trans %}Submit{% endtrans %}" class="btn btn-default btn-block button-color"><br/>
        </div>
    </form>
</div>
<script src="{{ asset('js/countrySelect.js') }}"></script>
<script>
    let countryData;
    $(document).ready(function() {
        function unescapeHtml(safe) {
            return safe.replace(/&amp;/g, '&')
                .replace(/&lt;/g, '<')
                .replace(/&gt;/g, '>')
                .replace(/&quot;/g, '"')
                .replace(/&#039;/g, "'");
        }
        $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        let activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('#myTab a[href="' + activeTab + '"]').tab('show');
        }
        {% if Action != 'add' %}
            function set_general_information() {
                $('#{{ Action }}_name').val(unescapeHtml('{{ debtor.name }}'));
                $('#{{ Action }}_email').val('{{ debtor.email }}');
                $('#{{ Action }}_street').val(unescapeHtml('{{ debtor.street }}'));
                $('#{{ Action }}_house_number').val('{{ debtor.number }}');
                $('#{{ Action }}_number_extension').val('{{ debtor.numberExtension }}');
                $('#{{ Action }}_postcode').val('{{ debtor.postCode }}');
                $('#{{ Action }}_city').val('{{ debtor.city }}');
                $('#{{ Action }}_btw').val('{{ debtor.BTW }}');
                $('#{{ Action }}_bank_account').val('{{ debtor.bankingAccountNumber }}');
                $('#{{ Action }}_website').val('{{ debtor.webSite }}');
                $('#{{ Action }}_end-user-type').val('{{ debtor.endUserTypeName }}');
                $("#{{ Action }}_country").countrySelect("setCountry", '{{ debtor.country }}');
                $("#{{ Action }}_how-did-you-find-us").val('{{ debtor.howDidYouFindUsName }}');
                $("#{{ Action }}_communication-language").val('{{ debtor.communicationLanguage }}');
            };
            set_general_information()
        {% endif %}
    });
    {% if Action == 'view' %}
        $('.{{ Action }}-general-information-submit').hide();
    {% endif %}
    $(".{{ Action }}-general-information-submit").submit(function (event) {
            let debtor = getFormData();
            debtor.id = event.target.id.split('-')[4];
            $.ajax({
                {% if Action == 'add' %}
                    url: '/debtors/add-debtor',
                    type: 'post',
                {% elseif Action == 'update' %}
                    url: '/debtors/update-debtor',
                    type: 'put',
                {% endif %}
                data: debtor,
                success: function (result) {
                    let data = JSON.parse(result);
                    $.redirect('/debtors');
                },
                error: function (result) {
                    try {
                        let error = JSON.parse(result.responseText);
                        general_information_set_error_message(error.error_message);
                    } catch(e) {
                        general_information_set_error_message('Unknown');
                    }
                }
            });
            function getFormData() {
                let debtor = {};
                debtor.name = $('#{{ Action }}_name').val();
                debtor.email = $('#{{ Action }}_email').val();
                debtor.btw = $('#{{ Action }}_btw').val();
                debtor.how_did_you_find_us = $('#{{ Action }}_how-did-you-find-us').val();
                debtor.end_user_type = $("#{{ Action }}_end-user-type").val();
                debtor.website = $('#{{ Action }}_website').val();
                debtor.banking_account_number = $('#{{ Action }}_bank_account').val();
                debtor.street = $('#{{ Action }}_street').val();
                debtor.house_number = $('#{{ Action }}_house_number').val();
                debtor.number_extension = $('#{{ Action }}_number_extension').val();
                debtor.post_code = $('#{{ Action }}_postcode').val();
                debtor.city = $('#{{ Action }}_city').val();
                countryData = $("#{{ Action }}_country").countrySelect("getSelectedCountryData");
                debtor.country = countryData.name;
                debtor.communication_language = $("#{{ Action }}_communication-language").val();
                {% if Action == 'add' %}
                    debtor.phone_number = $("#add_phone-number-general").val();
                {% endif %}
                return debtor;
            }

            event.preventDefault();
    });
    $("#{{ Action }}_country").countrySelect({
        preferredCountries: ['nl', 'de', 'fr'],
    });
    $("#add_default-contact-person").change(function (event) {
       if($("#add_default-contact-person").prop('checked')) {
           $("#add_show-phone-number-general").show();
           $("#add_show-address-general").show();
       } else {
           $("#add_show-phone-number-general").hide();
           $("#add_show-address-general").hide();
       }
    });


    $('.{{ Action }}-general-information-submit input')
    .on('invalid', function(){
        return this.setCustomValidity('{% trans %}Please fill out this field{% endtrans %}');
    })
    .on('input', function(){
        return this.setCustomValidity('');
    });
    $('.{{ Action }}-general-information-submit select')
    .on('invalid', function(){
        return this.setCustomValidity('{% trans %}Please select and item in the list{% endtrans %}');
    })
    .on('input', function(){
        return this.setCustomValidity('');
    });
</script>