{% set debtor_notes_context = 'debtor_notes' %}
{% include ':components:html_error.html.twig' with {'context' : debtor_notes_context } %}
{% include ':user/debtors/components:modal_notes.html.twig' with {'notes_action': 'add'} %}
{% include ':user/debtors/components:modal_notes.html.twig' with {'notes_action': 'update'} %}
<div class="col-lg-12 hide_editing_note">
    <div class="form-group">
        <i class="fa fa-plus fa-add"  aria-hidden="true" data-toggle="modal" data-target="#addNotesModal" title="{% trans %}Add New Note{% endtrans %}"></i>
        {% set dnpn = debtor_notes_page_number %}
        {% set dnps = debtor_notes_page_size %}
        {% set dntnop =  debtor_notes_total_number_of_pages %}
        {% include ':components:paging_ajax.html.twig' with {
            'parent_id': debtor.id,
            'paging_entity_name': 'debtor_notes',
            'page_number': dnpn,
            'page_size': dnps,
            'total_number_of_pages': dntnop,
            'get_page': '/debtors/get-notes',
            'context': debtor_notes_context
        }%}
    </div>
</div>
<div class="comments">
{% for note in notes %}
    <div class="comment-block">
        <div class="bottom-comment">
            <div class="comment-date">{% trans %}Created by{% endtrans %}: {{ note.username }}, {{ note.updatedString }}</div>
            <ul class="comment-actions">
                <i id="notes-update-{{ note.id }}" class="fa fa-pencil icon notes-update" aria-hidden="true" data-toggle="modal" data-target="#updateNotesModal" title="{% trans %}Update Note{% endtrans %}"></i>
                <i id="notes-delete-{{ note.id }}" class="fa fa-trash icon notes-delete" aria-hidden="true" title="{% trans %}Delete Note{% endtrans %}"></i>
            </ul>
        </div><br/>
        <p class="comment-text" id="comment-text-{{ note.id }}">{{ note.note }}</p>
    </div>
{% endfor %}
</div>
<br/>
<script>
    $(document).ready(function() {
        $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        let activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('#myTab a[href="' + activeTab + '"]').tab('show');
        }
    });
    {% if Action == 'view' %}
        $('.hide_editing_note').hide();
    {% endif %}
    $(".notes-update").click(function (event) {
        let data = {};
        let notes;
        data.id = event.target.id.split("-")[2];
        notes = $('#comment-text-' + data.id).text();
        data.note = notes;
        set_update_values_notes(data);
    });
    $(".notes-delete").click(function () {
        let data = {};
        data.id = event.target.id.split("-")[2];
        $.ajax({
            url: '/debtors/delete-note',
            type: 'delete',
            data: data,
            success: function (result) {
                window.location.href = '/debtors/' + {{ debtor.id }} + '/update-debtor';
            },
            error: function (result) {
                let error = {};
                try {
                    let error = JSON.parse(result.responseText);
                } catch(e) {
                    error.error_message = 'Uknown';
                }
                {{ debtor_notes_context }}_set_error_message(error.error_message);
            }
        });
    });
    function {{ debtor_notes_context }}_render(notes) {
        let html = '';
        $.each(notes, function(index, note) {
            html += "<div class='comment-block'>";
            html += "<div class='bottom-comment'>";
            html += "<div class='comment-date'>Created by:" + note.username + "," + note.updatedString + "</div>";
            html += "<ul class='comment-actions'>";
            html += "<i id='" + 'notes-update-' + note.id + "' class='fa fa-pencil icon notes-update' aria-hidden='true' data-toggle='modal' data-target='#updateNotesModal'></i>";
            html += "<i id='" + 'notes-delete-' + note.id + "' class='fa fa-trash icon notes-delete' aria-hidden='true'></i>";
            html += "</ul>";
            html += "</div><br/>";
            html += "<p class='comment-text' id='" + 'comment-text-' + note.id + "'>'" + note.note + "</p>";
            html += "</div>";
        });
        $('.comments').html(html);
    };
</script>