<div class="modal fade modal-draggable" id="{{ contact_persons_action }}ContactPersonModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Contact Person{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <form class="contact-person-submit-{{ contact_persons_action }}" id="submit-{{ contact_persons_action }}-contact-person-{{ debtor.id }}">
                {% include ':components:modal_error.html.twig' with {'context': contact_persons_action ~ 'ContactPerson'}%}
                    <input type="hidden" id="update-contact-person-id" >
                    <div class="form-group">
                        <label for="add-contact-person-name" style="float: left;">{% trans %}Name{% endtrans %}:</label>
                        <input maxlength="100" required type="text" class="form-control" id="{{ contact_persons_action }}-name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="add-contact-person-email" style="float: left;">{% trans %}Email{% endtrans %}:</label>
                        <input maxlength="50" required type="text" class="form-control" id="{{ contact_persons_action }}-email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="phone" style="float: left;">{% trans %}Phone Number{% endtrans %}:</label>
                        <input maxlength="100" type="text" class="form-control" id="{{ contact_persons_action }}-phone_number" name="phone_number">
                    </div>
                    <input type="submit" value="{% trans %}Submit{% endtrans %}" class="btn btn-default btn-block button-color">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(".modal-draggable .modal-dialog").draggable({
        handle: ".modal-header"
    });
    {% if contact_persons_action == 'update' %}
        function set_update_values_contact_persons(contact_person){
            $("#update-name").val(contact_person.name);
            $("#update-email").val(contact_person.email);
            $("#update-phone_number").val(contact_person.phone_number);
            $('#update-contact-person-id').val(contact_person.id);
        }
    {% endif %}
    $(".contact-person-submit-{{ contact_persons_action }}").submit(function (event) {
            let data = {};
            data.debtor_id = event.target.id.split('-')[4];
            {% if contact_persons_action == 'update' %}
                data.id = $('#update-contact-person-id').val();
            {% endif %}
            data.name = $("#{{ contact_persons_action }}-name").val();
            data.email = $("#{{ contact_persons_action }}-email").val();
            data.phone_number = $("#{{ contact_persons_action }}-phone_number").val();
            $.ajax({
                {% if contact_persons_action == 'add' %}
                    url: '/debtors/add-contact-person',
                    type: 'post',
                {% elseif contact_persons_action == 'update' %}
                    url: '/debtors/update-contact-person',
                    type: 'put',
                {% endif %}
                data: data,
                success: function (result) {
                    window.location.href = '/debtors/' + data.debtor_id + '/update-debtor';
                },
                error: function (result) {
                    try {
                        let error = JSON.parse(result.responseText);
                        {{ contact_persons_action }}ContactPerson_set_error_message(error.error_message);
                    } catch (e) {
                        {{ contact_persons_action }}ContactPerson_set_error_message('Unknown');
                    }
                }
            })
        event.preventDefault();
    })
    $(".contact-person-submit-{{ contact_persons_action }} input")
        .on('invalid', function(){
            return this.setCustomValidity('{% trans %}Please fill out this field{% endtrans %}');
        })
        .on('input', function(){
            return this.setCustomValidity('');
        });
</script>