<div class="modal fade modal-draggable" id="{{ delivery_address_action }}DeliveryAddressModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Delivery Address{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                {% include ':components:modal_error.html.twig' with {'context': delivery_address_action ~ 'DeliveryAddress'}%}
                <div class="form-horizontal">
                    <div class="col-lg-12">
                        <input type="hidden" id="{{ delivery_address_action }}-delivery-address-id"/>
                        <div class="form-group col-xs-4 col-xs-offset-1">
                            <label for="street" style="float: left">{% trans %}Street{% endtrans %}:</label>
                            <input maxlength="200" id="{{ delivery_address_action }}-street" type="text" class="form-control input-sm">
                        </div>
                        <div class="form-group col-xs-4 margin-setter">
                            <label for="house_number" style="float: left">{% trans %}House number{% endtrans %}:</label>
                            <input maxlength="200" id="{{ delivery_address_action }}-number" type="text" class="form-control input-sm">
                        </div>
                        <div class="form-group col-xs-4 margin-setter">
                            <label for="number_extension" style="float: left">{% trans %}House extension{% endtrans %}:</label>
                            <input maxlength="200" id="{{ delivery_address_action }}-number-extension" type="text" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-xs-4 col-xs-offset-1 ">
                            <label for="postcode" style="float: left">{% trans %}Postcode{% endtrans %}:</label>
                            <input maxlength="200" id="{{ delivery_address_action }}-postcode" type="text" class="form-control input-sm">
                        </div>
                        <div class="form-group col-xs-4 margin-setter">
                            <label for="city" style="float: left">{% trans %}City{% endtrans %}:</label>
                            <input maxlength="200" id="{{ delivery_address_action }}-city" type="text" class="form-control input-sm">
                        </div>
                        <div class="form-group col-xs-4 margin-setter country">
                            <label style="float: left">{% trans %}Country{% endtrans %}:</label>
                            <input type="text" id="{{ delivery_address_action }}-country-delivery" class="form-control input-sm"/>
                            <input type="hidden" id="country_code"/>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-xs-12 col-xs-offset-1">
                            <label for="{{ delivery_address_action }}-description" style="float: left">{% trans %}Description{% endtrans %}:</label>
                            <textarea class="form-control" rows="5" maxlength="200" id="{{ delivery_address_action }}-description"></textarea>
                        </div>
                    </div>
                    <button type="button" value="{% trans %}Submit{% endtrans %}" id="submit-{{ delivery_address_action }}-delivery-address-{{ debtor.id }}" class="btn btn-default btn-block button-color submit-{{ delivery_address_action }}-delivery-address">{% trans %}Submit{% endtrans %}</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(".modal-draggable .modal-dialog").draggable({
        handle: ".modal-header"
    });
    {% if delivery_address_action == 'update' %}
        function set_update_values_delivery_address(delivery_address){
            $('#update-delivery-address-id').val(delivery_address.id);
            $('#update-street').val(delivery_address.street);
            $('#update-number').val(delivery_address.number);
            $('#update-number-extension').val(delivery_address.number_extension);
            $('#update-postcode').val(delivery_address.postcode);
            $('#update-city').val(delivery_address.city);
            $("#update-country-delivery").countrySelect("setCountry", delivery_address.country);
            $('#update-description').val(delivery_address.description);
            $('#update-contact-person-names').val(delivery_address.contact_person_name);
        }
    {% endif %}
    $(".submit-{{ delivery_address_action }}-delivery-address").click(function (event) {
            let data = {};
            let phones = [];
            {% if delivery_address_action == 'update' %}
            data.id = $('#update-delivery-address-id').val();
            {% endif %}
            data.street = $('#{{ delivery_address_action }}-street').val();
            data.number = $('#{{ delivery_address_action }}-number').val();
            data.number_extension = $('#{{ delivery_address_action }}-number-extension').val();
            data.postcode = $('#{{ delivery_address_action }}-postcode').val();
            data.city = $('#{{ delivery_address_action }}-city').val();
            countryData = $("#{{ delivery_address_action }}-country-delivery").countrySelect("getSelectedCountryData");
            if(countryData.name == undefined) {
                countryData.name = 'Netherlands';
            }
            data.country = countryData.name;
            data.debtor_id = event.target.id.split('-')[4];
            data.contact_person_name = $("#{{ delivery_address_action }}-contact-person-names").find(":selected").text();
            data.description = $('#{{ delivery_address_action }}-description').val();
            $.ajax({
                {% if delivery_address_action == 'add' %}
                    url: '/debtors/add-delivery-address',
                    type: 'post',
                {% elseif delivery_address_action == 'update' %}
                    url: '/debtors/update-delivery-address',
                    type: 'put',
                {% endif %}
                data: data,
                success: function (result) {
                    window.location.href = '/debtors/' + {{ debtor.id }} + '/update-debtor';
                },
                error: function (result) {
                    //console.log(result.responseText);
                    try {
                        let error = JSON.parse(result.responseText);
                        {{ delivery_address_action }}DeliveryAddress_set_error_message(error.error_message);
                    } catch (e) {
                        {{ delivery_address_action }}DeliveryAddress_set_error_message('Unknown');
                    }
                }
            })
    });
    $("#{{ delivery_address_action }}-country-delivery").countrySelect({
        preferredCountries: ['nl', 'de', 'fr'],
    });
</script>