<div class="modal fade modal-draggable" id="{{ notes_action }}NotesModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Note{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                {% include ':components:modal_error.html.twig' with {'context': notes_action ~ 'Notes'}%}
                    <input type="hidden" id="update-note-id"/>
                    <div class="form-group">
                        <label for="{{ notes_action }}-note" style="float: left">{% trans %}Note{% endtrans %}:</label>
                        <textarea  id="{{ notes_action }}-note" class="form-control" rows="8" maxlength="9000"></textarea>
                    </div>
                    <button type="button" value="{% trans %}Submit{% endtrans %}" id="submit-{{ notes_action }}-notes-{{ debtor.id }}" class="btn btn-default btn-block button-color submit-{{ notes_action }}-notes">{% trans %}Submit{% endtrans %}</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(".modal-draggable .modal-dialog").draggable({
        handle: ".modal-header"
    });
    {% if notes_action == 'update' %}
        function set_update_values_notes(note){
            $("#update-note").val(note.note);
            $('#update-note-id').val(note.id);
        }
    {% endif %}
    $(".submit-{{ notes_action }}-notes").click(function (event) {
            let data = {};
            {% if notes_action == 'update' %}
            data.id = $('#update-note-id').val();
            {% endif %}
            data.debtor_id = event.target.id.split('-')[3];
            data.note = $("#{{ notes_action }}-note").val();
            //console.log(data);
            $.ajax({
                {% if notes_action == 'add' %}
                url: '/debtors/add-note',
                type: 'post',
                {% elseif notes_action == 'update' %}
                url: '/debtors/update-note',
                type: 'put',
                {% endif %}
                data: data,
                success: function (result) {
                    window.location.href = '/debtors/' + {{ debtor.id }} + '/update-debtor';
                },
                error: function (result) {
                    try {
                        //console.log(result.responseText);
                        let error = JSON.parse(result.responseText);
                        {{ notes_action }}Notes_set_error_message(error.error_message);
                    } catch (e) {
                        {{ notes_action }}Notes_set_error_message('Unknown');
                    }
                }
            })
    })
</script>