<div class="modal fade modal-draggable" id="{{ action }}UserModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <div>
                    {% include ':components:modal_error.html.twig' with { 'context': action ~ 'user' } %}
                    <div class="form-group">
                        <label for="{{ action }}_username">{% trans %}User name{% endtrans %}:</label>
                        <input type="text" class="form-control" id="{{ action }}_username" name="username" value="" {% if action == 'update' %} disabled {% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="{{ action }}_first_name">{% trans %}First name{% endtrans %}:</label>
                        <input type="text" class="form-control" id="{{ action }}_first_name" name="first_name" value="">
                    </div>
                    <div class="form-group">
                        <label for="{{ action }}_last_name">{% trans %}Last name{% endtrans %}:</label>
                        <input type="text" class="form-control" id="{{ action }}_last_name" name="last_name" value="">
                    </div>
                    <div class="form-group">
                        <label for="{{ action }}_phonenumber">{% trans %}Phone number{% endtrans %}:</label>
                        <input type="text" class="form-control" id="{{ action }}_phonenumber" name="phonenumber" value="">
                    </div>
                    <div class="form-group">
                        <label for="update_email">{% trans %}Email{% endtrans %}:</label>
                        <input type="text" class="form-control" id="{{ action }}_email" name="email" value="">
                    </div>
                    <div class="form-group">
                        <label for="update_password">{% trans %}Password{% endtrans %}:</label>
                        <input type="password" class="form-control" id="{{ action }}_password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="update_confirm_password">{% trans %}Confirm password{% endtrans %}:</label>
                        <input type="password" class="form-control" id="{{ action }}_confirm_password" name="confirm_password">
                    </div>
                    <div class="radio">
                        <label>{% trans %}Is Active{% endtrans %}: <input type="checkbox" id="{{ action }}_is_active" name="is_active"/></label>
                    </div>
                    <div class="radio">
                        <label>{% trans %}Role{% endtrans %}:</label><br/>
                        <label><input type="radio" name="role" id="{{ action }}_user">{% trans %}user{% endtrans %}</label>
                        <label><input type="radio" name="role"  id="{{ action }}_admin">{% trans %}admin{% endtrans %}</label>
                    </div>
                    <input type="text" style="display:none" id="{{ action }}_id" name="id" value="">
                    <button type="button" id="{{ action }}-user" value="{{ action }}" class="btn btn-default btn-block button-color">{% trans %}Submit{% endtrans %}</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
        {% if action == 'update' %}
        function set_update_values(user) {
            $('#update_id').val(user.id);
            $('#update_username').val(user.username);
            $('#update_first_name').val(user.first_name);
            $('#update_last_name').val(user.last_name);
            $('#update_phonenumber').val(user.phonenumber);
            $('#update_email').val(user.email);
            $('#update_password').val('');
            $('#update_confirm_password').val('');
            $('#update_is_active').prop('checked', user.is_active);
            $('#update_user').prop('checked', user.roles.user);
            $('#update_admin').prop('checked', user.roles.admin);
        }
        {% endif %}
        $('#{{ action }}-user').click(function (event) {
            let data = {};
            data.id = $('#{{ action }}_id').val();
            data.username = $('#{{ action }}_username').val();
            data.first_name = $('#{{ action }}_first_name').val();
            data.last_name = $('#{{ action }}_last_name').val();
            data.phonenumber = $('#{{ action }}_phonenumber').val();
            data.email = $('#{{ action }}_email').val();
            data.is_active = $('#{{ action }}_is_active').is(':checked');
            data.password = $('#{{ action }}_password').val();
            data.confirm_password = $('#{{ action }}_confirm_password').val();
            let roles = [];
            if($('#{{ action }}_user').is(':checked'))
                roles.push('user');
            if($('#{{ action }}_admin').is(':checked'))
                roles.push('admin');
            data.roles = roles;
            $.ajax({
                url: '/admin/{{ action }}-user',
            {% if action == 'add' %}
                type: 'post',
            {% elseif action == 'update' %}
                type: 'put',
            {% endif %}
                data: data,
                success: function (result) {
                    window.location.replace('/admin/users');
                },
                error: function (result) {
                    try {
                        let error = JSON.parse(result.responseText);
                        {{ action }}user_set_error_message(error.error_message);
                    } catch(e) {
                        {{ action }}user_set_error_message('Unknown');
                    }
                }
            });
        });
</script>