<div id="updateDeleteTitle" class="modal fade modal-draggable" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update/Delete Title</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="title-id">
                <button type="submit" class="btn btn-default btn-block button-color delete-title">{% trans %}Delete{% endtrans %}</button>
                <div class="form-group">
                    <label for="usr">{% trans %}Date{% endtrans %}</label>
                    <input id="update-date-title" type="hidden">
                    <input type="text" class="form-control datepicker-update" id="datepicker-update">
                </div>
                <div class="form-group">
                    <label for="title">{% trans %}Details{% endtrans %}</label>
                    <textarea class="form-control" rows="2" id="update-title"></textarea>
                </div>
                <button type="submit" class="btn btn-default btn-block button-color update-title">{% trans %}Submit{% endtrans %}</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $( "#datepicker-update" ).datepicker({
        dateFormat: 'dd-mm-yy',
        onSelect: function () {
            $('#update-date-title').val(this.value);
        }
    });
    $('.update-title').click(function () {
        let data = {};
        data.id = $('#title-id').val();
        data.date = $('#update-date-title').val();
        data.title = $('#update-title').val();
        $.ajax({
            url:'/planning/update-title',
            type: 'post',
            data: data,
            success: function (result) {
                window.location.reload();
            },
            error: function (result) {
                alert("error");
            }
        })
    });
    function set_title_values(data) {
        $.ajax({
            url:'/planning/get-title',
            type: 'post',
            data: data,
            success: function (result) {
                let planning = JSON.parse(result);
                $('#title-id').val(planning.id);
                $('#update-title').val(planning.title);
                $('.datepicker-update').val(planning.date);
                $("#updateDeleteTitle").modal()
            },
            error: function (result) {
                alert("error");
            }
        })
    }
    $('.delete-title').click(function () {
        let data = {};
        data.id =   $('#title-id').val();
        $.ajax({
            url:'/planning/delete-title',
            type: 'post',
            data: data,
            success: function (result) {
                window.location.reload();
            },
            error: function (result) {
                alert("error");
            }
        })
    })
</script>