<div id="addTitle" class="modal fade modal-draggable" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Title</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usr">{% trans %}Date{% endtrans %}</label>
                    <input id="date-title" type="hidden">
                    <input type="text" class="form-control" id="datepicker">
                </div>
                <div class="form-group">
                    <label for="title">{% trans %}Details{% endtrans %}</label>
                    <textarea class="form-control" rows="2" id="title"></textarea>
                </div>
                <button type="submit" class="btn btn-default btn-block button-color add-title">{% trans %}Submit{% endtrans %}</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $( "#datepicker" ).datepicker({
        dateFormat: 'dd-mm-yy',
        onSelect: function () {
            $('#date-title').val(this.value);
        }
    });
    $('.add-title').click(function () {
        let data = {};
        data.date = $('#date-title').val();
        data.title = $('#title').val();
        $.ajax({
            url:'/planning/add-title',
            type: 'post',
            data: data,
            success: function (result) {
                window.location.reload();
            },
            error: function (result) {
               alert("error");
            }
        })
    })
</script>