{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    <div class="col-lg-12">
        <br/>
        <div class="content-view">
            <iframe  id="pdf-view" width="100%" height="100%" ></iframe>
        </div>
        <br/>
        <br/>
        <div class="content">
            <div id="container" style="min-width: 310px; height: 500px; width: 100%;  margin: 0 auto"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- JSPDF -->
    <script src="{{ asset('js/jspdf.min.js') }}"></script>
    <script src="{{ asset('js/jspdf.debug.js') }}"></script>
    <script src="{{ asset('js/jspdf.plugin.autotable.js') }}"></script>
    <script src="{{ asset('js/highstock.js') }}"></script>
    <script src="{{ asset('js/highcharts-3d.js') }}"></script>
    <script src="{{ asset('js/highcharts-more.js') }}"></script>
    <script src="{{ asset('js/highcharts-theme.js') }}"></script>
    <script>
        $(document).ready(function() {
            $("#debtor").addClass("active-debt");
            let doc = new jsPDF();
            doc.addImage('{{ logo }}', 'JPEG', 70, 5, 60, 15);
            doc.setFont('Constantia (Body)');
            doc.setFontSize(15);
            doc.text('{% trans %}How did you find us informations{% endtrans %}', 20, 30);
            doc.text('{% trans %}Date{% endtrans %}:', 150, 30);
            doc.text(moment().format('YYYY-MM-DD') ,170, 30);
            doc.line(20, 31, 195, 31);
            doc.setFontSize(15);
            let columns = ['{% trans %}How did you found us{% endtrans %}', '{% trans %}Count{% endtrans %}', '{% trans %}Total selling price{% endtrans %}'];
            let rows = [];
            let data = [];
            data = [];
            data.push(
                '{% trans %}Google{% endtrans %}',
                '{{ graph_data['Google-total'] }} ',
                "€ " + $.number(accounting.unformat('{{ total_selling_data['Google'] }}'),2,',','.')
            );

            rows.push(data);
            data = [];
            data.push(
                '{% trans %}Worlds Fair{% endtrans %}',
                '{{ graph_data['Fair-total'] }} ',
                "€ " + $.number(accounting.unformat('{{ total_selling_data['Fair'] }}'),2,',','.')
            );
            rows.push(data);
            data = [];
            data.push(
                '{% trans %}Mouth to Mouth{% endtrans %}',
                '{{ graph_data['Mouth to mouth-total'] }}',
                "€ " + $.number(accounting.unformat('{{ total_selling_data['Mouth to mouth'] }}'),2,',','.')
            );
            rows.push(data);
            data = [];
            data.push(
                '{% trans %}Social Networks{% endtrans %}',
                '{{ graph_data['Social Networks-total'] }}',
                "€ " + $.number(accounting.unformat('{{ total_selling_data['Social Networks'] }}'),2,',','.')
            );
            rows.push(data);
            data = [];
            data.push(
                '{% trans %}Acquisition{% endtrans %}',
                '{{ graph_data['Acquisition-total'] }}',
                "€ " + $.number(accounting.unformat('{{ total_selling_data['Acquisition'] }}'),2,',','.')
            );
            rows.push(data);
            doc.autoTable(columns, rows,{
                startY: 40,
                margin: {
                    left: 20
                },
                FontSize: 15,
                headerStyles:{
                    fillColor: [186,153,105],
                    fontSize: 6,
                    overflow: 'linebreak'
                },
                bodyStyles:{
                    fontSize: 10,
                    overflow: 'linebreak'
                },
            });
            $('#pdf-view').attr('src', doc.output('datauristring'));

            // Radialize the colors
            Highcharts.setOptions({
                chart: {
                    style: {
                        fontFamily: 'sans-serif'
                    }
                },
                colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
                    return {
                        radialGradient: {
                            cx: 0.5,
                            cy: 0.3,
                            r: 0.7
                        },
                        stops: [
                            [0, color],
                            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                        ]
                    };
                })
            });
            // Build the chart
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    backgroundColor: 'transparent'
                },
                title: {
                    text: '{% trans %}How did you find us{% endtrans %}'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}: {point.y} ({point.percentage:.1f} %)',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                                fontSize: 18,
                                fontFamily: 'sans-serif'
                            },
                            connectorColor: 'silver',
                            distance: -40
                        }
                    }
                },
                series: [{
                    name: '{% trans %}percent{% endtrans %}',
                    data: [
                        {
                            name: '{% trans %}Mouth to Mouth{% endtrans %}',
                            y: {{ graph_data["Mouth to mouth-total"] }}
                        },
                        {
                            name: '{% trans %}Google{% endtrans %}',
                            y: {{ graph_data['Google-total'] }},
                            sliced: true,
                            selected: true
                        },
                        {
                            name: '{% trans %}Worlds Fair{% endtrans %}',
                            y: {{ graph_data['Fair-total'] }}
                        },
                        {
                            name: '{% trans %}Social Networks{% endtrans %}',
                            y: {{ graph_data['Social Networks-total'] }}
                        },
                        {
                            name: '{% trans %}Acquisition{% endtrans %}',
                            y: {{ graph_data['Acquisition-total'] }}
                        },
                    ]
                }]
            });
        })
    </script>
{% endblock %}