{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    <div class="col-lg-12">
        <br/>
        {% include ':components:html_error.html.twig' with {'context': 'pdf_categoties'} %}
        <div class="form-group row">
            <div class="col-lg-2">
                <label for="date-range">{% trans %}Date{% endtrans %}</label>
                <input style="width: 180px;" class="form-control" id="date-range" type="text">
            </div>
        </div>
        <br/>
        <div class="content-view">
            <iframe  id="pdf-view" width="100%" height="100%" ></iframe>
        </div>
        <br/>
        <div class="content-view">
            <iframe  id="pdf-view-countries" width="100%" height="100%" ></iframe>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- JSPDF -->
    <script src="{{ asset('js/jspdf.min.js') }}"></script>
    <script src="{{ asset('js/jspdf.debug.js') }}"></script>
    <script src="{{ asset('js/jspdf.plugin.autotable.js') }}"></script>
    <script>
        $(document).ready(function() {
            let date;
            function unescapeHtml(safe) {
                return safe.replace(/&amp;/g, '&')
                    .replace(/&lt;/g, '<')
                    .replace(/&gt;/g, '>')
                    .replace(/&quot;/g, '"')
                    .replace(/&#039;/g, "'");
            }
            $("#debtor").addClass("active-debt");
            let dat = '';
            $('#date-range').daterangepicker({
                locale: {
                    format: 'DD-MM-YYYY'
                }
            }, function(start, end, label) {
                let data = {
                    start: start.format('YYYY-MM-DD'),
                    end: end.format('YYYY-MM-DD')
                };
                date = start.format('DD-MM-YYYY') + " / " + end.format('DD-MM-YYYY');
                $.ajax({
                    url: '/debtors/get-debtors-statistics-data',
                    type: 'get',
                    data: data,
                    success: function (result) {
                        //let data = JSON.parse(result);
                        createPDF(result);
                    },
                    error: function (result) {
                        alert("hello" + result)
                    }
                });
            });
            function createPDF( data ) {
                let doc = new jsPDF();
                doc.addImage('{{ logo }}', 'JPEG', 70, 5, 60, 15);
                doc.setFont('Constantia (Body)');
                doc.setFontSize(15);
                doc.text('{% trans %}Debtor Information{% endtrans %}', 20, 30);
                doc.text('{% trans %}Range{% endtrans %}:', 120, 30);
                doc.text(date, 140, 30);
                doc.line(20, 31, 195, 31);
                doc.setFontSize(15);
                let columns = ['{% trans %}Name{% endtrans %}', '{% trans %}Total purchase{% endtrans %}',
                    '{% trans %}Total sale{% endtrans %}', '{% trans %}Profit{% endtrans %}', '{% trans %}Profit{% endtrans %} %'];
                let rows = [];
                jQuery.each(data.debtors, function (key, value) {
                    let row = [];
                    let profit = ( value.total_selling_price ) - ( value.total_purchase_price );
                    row.push(
                        unescapeHtml( value.debtor_name ),
                        "€ " + $.number( accounting.unformat( value.total_purchase_price ), 2, ',', '.'),
                        "€ " + $.number( accounting.unformat( value.total_selling_price ), 2, ',', '.'),
                        "€ " + $.number( accounting.unformat( profit ) , 2, ',', '.'),
                        $.number( accounting.unformat( profit/parseFloat( value.total_purchase_price ) * 100 ), 2, ',', '.' ) + " %"
                    );
                    rows.push(row);
                });
                doc.autoTable(columns, rows, {
                    startY: 40,
                    margin: {
                        left: 20
                    },
                    FontSize: 15,
                    headerStyles: {
                        fillColor: [186, 153, 105],
                        fontSize: 6,
                        overflow: 'linebreak'
                    },
                    bodyStyles: {
                        fontSize: 10,
                        overflow: 'linebreak'
                    },
                });
                $('#pdf-view').attr('src', doc.output('datauristring'));

                let doc2 = new jsPDF();
                doc2.addImage('{{ logo }}', 'JPEG', 70, 5, 60, 15);
                doc2.setFont('Constantia (Body)');
                doc2.setFontSize(15);
                doc2.text('{% trans %}Debtor Country Information{% endtrans %}', 20, 30);
                doc2.text('{% trans %}Range{% endtrans %}:', 120, 30);
                doc2.text(date, 140, 30);
                doc2.line(20, 31, 195, 31);
                doc2.setFontSize(15);
                columns = ['{% trans %}Country{% endtrans %}', '{% trans %}Total purchase{% endtrans %}',
                    '{% trans %}Total sale{% endtrans %}', '{% trans %}Profit{% endtrans %}', '{% trans %}Profit{% endtrans %} %'];
                rows = [];
                jQuery.each(data.countries, function (key, value) {
                    let row = [];
                    let profit = ( value.country_total_selling_price ) - ( value.country_total_purchase_price );
                    row.push(
                        unescapeHtml( value.country_name ),
                        "€ " + $.number(accounting.unformat( value.country_total_purchase_price ), 2, ',', '.'),
                        "€ " + $.number(accounting.unformat( value.country_total_selling_price ), 2, ',', '.'),
                        "€ " + $.number(accounting.unformat( profit ), 2, ',', '.'),
                        $.number( accounting.unformat( profit/( value.country_total_purchase_price ) * 100 ), 2, ',', '.' ) + " %"
                    );
                    rows.push(row);
                });
                doc2.autoTable(columns, rows, {
                    startY: 40,
                    margin: {
                        left: 20
                    },
                    FontSize: 15,
                    headerStyles: {
                        fillColor: [186, 153, 105],
                        fontSize: 6,
                        overflow: 'linebreak'
                    },
                    bodyStyles: {
                        fontSize: 10,
                        overflow: 'linebreak'
                    },
                });
                $('#pdf-view-countries').attr('src', doc2.output('datauristring'));
            }
        })
    </script>
{% endblock %}