{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    <div class="col-lg-12">
        <div class="col-lg-6">
            <br/>
            <button id="{{ ActionId }}" type="button" style="float:left" class="btn btn-default btn-md button-color back-uploaded-file">Back</button>
        </div>
    </div>
    <div class="col-lg-12">
        <br/>
        <div class="content-view">
            <iframe  id="pdf-view" width="100%" height="100%" ></iframe>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- JSPDF -->
    <script src="{{ asset('js/jspdf.min.js') }}"></script>
    <script src="{{ asset('js/jspdf.debug.js') }}"></script>
    <script src="{{ asset('js/jspdf.plugin.autotable.js') }}"></script>
    <script>
        $(document).ready(function() {
            $("#debtor").addClass("active-debt");
            $('#pdf-view').attr('src', window.location.protocol + '//' + window.location.hostname + '{{ file }}');
            $('.back-uploaded-file').click(function (event) {
                window.location.href = '/debtors/' + {{ ActionId }} + '/update-debtor';
            });
        });
    </script>
{% endblock %}