{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    <div class="col-lg-12">
        <br/>
        <div class="content-view">
            <iframe  id="pdf-view" width="100%" height="100%" ></iframe>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- JSPDF -->
    <script src="{{ asset('js/jspdf.min.js') }}"></script>
    <script src="{{ asset('js/jspdf.debug.js') }}"></script>
    <script src="{{ asset('js/jspdf.plugin.autotable.js') }}"></script>
    <script>
        $(document).ready(function() {
            $("#debtor").addClass("active-debt");
            let doc = new jsPDF();
            function unescapeHtml(safe) {
                return safe.replace(/&amp;/g, '&')
                    .replace(/&lt;/g, '<')
                    .replace(/&gt;/g, '>')
                    .replace(/&quot;/g, '"')
                    .replace(/&#039;/g, "'");
            }
            doc.addImage('{{ logo }}', 'JPEG', 70, 5, 60, 15);
            doc.setFont('Constantia (Body)');
            doc.setFontSize(15);
            doc.text('{% trans %}Debtor Information{% endtrans %}', 20, 30);
            doc.line(20, 31, 70, 31);
            doc.setFontSize(10);
            doc.text('{% trans %}Name{% endtrans %}:',20, 38);
            doc.text('{{ debtor.name }}', 47, 38);
            doc.text('{% trans %}Email{% endtrans %}:', 20, 42);
            doc.text('{{ debtor.email }}', 47, 42);
            doc.text('{% trans %}BTW{% endtrans %}:', 20, 46);
            doc.text('{{ debtor.BTW }}', 47, 46);
            doc.text('{% trans %}Bank account{% endtrans %}:', 20, 50);
            doc.text('{{ debtor.bankingAccountNumber }}', 47, 50);
            doc.text('{% trans %}Website{% endtrans %}:', 20, 54);
            doc.text('{{ debtor.webSite }}', 47, 54);
            doc.text('{% trans %}End User Type{% endtrans %}:', 20, 58);
            doc.text('{{ debtor.endUserTypeName|trans }}', 47, 58);
            doc.setFontSize(15);
            doc.text('{% trans %}Address Information{% endtrans %}', 20, 66);
            doc.line(20, 67, 70, 67);
            doc.setFontSize(10);
            doc.text('{% trans %}Country{% endtrans %}:', 20, 73);
            doc.text('{{ debtor.country }}', 47, 73);
            doc.text('{% trans %}Street{% endtrans %}:', 20, 77);
            doc.text('{{ debtor.street }}', 47, 77);
            doc.text('{% trans %}House Number{% endtrans %}:', 20, 81);
            doc.text('{{ debtor.number }}', 47, 81);
            doc.text('{% trans %}House Extension{% endtrans %}:', 20, 85);
            doc.text('{{ debtor.numberExtension }}', 47, 85);
            doc.text('{% trans %}Postcode{% endtrans %}:', 20, 89);
            doc.text('{{ debtor.postCode }}', 47, 89);
            doc.text('{% trans %}City{% endtrans %}:', 20, 93);
            doc.text('{{ debtor.city }}', 47, 93);
            doc.setFontSize(15);
            doc.text('{% trans %}Delivery Addresses{% endtrans %}', 20, 100);
            doc.line(20, 101, 70, 101);
            let columnsDelivery = ['{% trans %}Street{% endtrans %}', '{% trans %}House Number{% endtrans %}', '{% trans %}House Extension{% endtrans %}',
                '{% trans %}Postcode{% endtrans %}', '{% trans %}City{% endtrans %}', '{% trans %}Country{% endtrans %}', '{% trans %}Description{% endtrans %}'
            ];
            let rowsDelivery = [];
            let data = [];
            {% for deliveryAddress in debtor.deliveryAddresses %}
                data = [];
                data.push(
                    '{{ deliveryAddress.street }}',
                    '{{ deliveryAddress.number }}',
                    '{{ deliveryAddress.numberExtension }}',
                    '{{ deliveryAddress.postcode }}',
                    '{{ deliveryAddress.city }}',
                    '{{ deliveryAddress.street }}',
                    '{{ deliveryAddress.description }}'
                );
                rowsDelivery.push(data);
            {% endfor %}
            doc.autoTable(columnsDelivery, rowsDelivery,{
                startY: 105,
                margin: {
                    left: 20
                },
                FontSize: 10,
                headerStyles:{
                    fillColor: [186,153,105],
                    fontSize: 6,
                    overflow: 'linebreak'
                },
                bodyStyles:{
                fontSize: 7,
                    overflow: 'linebreak'
                },
            });
            let nextTitle = doc.autoTable.previous.finalY + 7;
            doc.setFont('Constantia (Body)');
            doc.setFontSize(15);
            doc.text('{% trans %}Contact Persons{% endtrans %}', 20, nextTitle);
            doc.setDrawColor(0, 0, 0);
            doc.line(20, nextTitle + 1, 70, nextTitle + 1);
            let columnsContact = ['{% trans %}Name{% endtrans %}', '{% trans %}Email{% endtrans %}', '{% trans %}Phone number{% endtrans %}'];
            let rowsContact = [];
            {% for contact_person in debtor.contactPersons %}
                data = [];
                data.push(
                    '{{ contact_person.name }}',
                    '{{ contact_person.email }}',
                    '{{ contact_person.phoneNumber }}',
                );
                rowsContact.push(data);
            {% endfor %}
            doc.autoTable(columnsContact, rowsContact,{
                startY: nextTitle + 5,
                margin: {
                    left: 20
                },
                FontSize: 10,
                headerStyles:{
                    fillColor: [186,153,105],
                    fontSize: 6,
                    overflow: 'linebreak'
                },
                bodyStyles:{
                    fontSize: 7,
                    overflow: 'linebreak'
                },
            });
            nextTitle = doc.autoTable.previous.finalY + 7;
            doc.setFont('Constantia (Body)');
            doc.setFontSize(15);
            doc.text('{% trans %}Notes{% endtrans %}', 20, nextTitle);
            doc.setDrawColor(0, 0, 0);
            doc.line(20, nextTitle + 1, 70, nextTitle + 1);
            let columnsNote = ['{% trans %}Created{% endtrans %}', '{% trans %}Created by{% endtrans %}', '{% trans %}Note{% endtrans %}'];
            let rowsNote = [];
            {% for note in debtor.notes %}
                data = [];
                data.push(
                    '{{ note.updatedString }}',
                    '{{ note.username }}',
                    unescapeHtml('{{ note.note }}')
                );
                rowsNote.push(data);
            {% endfor %}
            doc.autoTable(columnsNote, rowsNote,{
                startY: nextTitle + 5,
                margin: {
                    left: 20
                },
                FontSize: 10,
                headerStyles:{
                    fillColor: [186,153,105],
                    fontSize: 6,
                    overflow: 'linebreak'
                },
                bodyStyles:{
                    fontSize: 7,
                    overflow: 'linebreak'
                },
            });
            $('#pdf-view').attr('src',doc.output('datauristring'));
        });
    </script>
{% endblock %}