body {
    background-repeat:no-repeat;
    background-size:cover;
    color: #fff;
}
.form-login{
    width: 320px;
    margin: auto;
}
.logo {
    padding-bottom: 5px;
}
.img {
    height: 100%;
    width: 100%;
}
.float-left {
    float: left;
}
.panel {
    background-color: rgba(51,51,51,0.86);
    border-color: transparent;
}
label {
    font-weight: 500;
}
.panel-login{
    width: 400px;
}
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.button-color{
    border-radius: 3px;
    background-color: #BA9969;
    color: #fff;
    border-color: transparent;
}
.row-center{
    padding-top: 250px;
}
.table{
    color: #000;
}
.table-rows{
    background-color: #fff;
}
.table-header{
    background-color: #BA9969;
    color: #fff;
}
th{
    font-weight: 500;
}
.panel-header img{
    float: left;
    height: auto;
    width: 70%;
}
.row-regular{
    padding-top: 50px;
}
.menu-item{
    float: left;
    padding-top: 20px;
    padding-bottom: 50px;
}

.menu-add{
    float: left;
    color: #fff;
    font-size: 20px;
    padding-top: 13px;
    cursor: pointer;
    padding-right: 10px;
}
.modal-draggable .modal-backdrop {
    position: fixed;
}

.modal.modal-draggable {
    overflow: hidden;
}

.modal-draggable .modal-header:hover {
    cursor: move;
}

.modal-header{
    background-color: #BA9969;
    cursor: move;
}
.modal.fade.ui-draggable-dragging {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}
.modal-body{
    color: #000;
}
.menu-debit-item{
    color: #9fa0a0;
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.menu-debit-name{
    color: #9fa0a0;
    font-size: 15px;
    text-align: center;
    width: 100%;
}
.menu span:hover{
    text-decoration: none;
}
.menu-leve-item{
    color: #9fa0a0;
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.menu-leve-name{
    color: #9fa0a0;
    font-size: 15px;
    text-align: center;
    width: 100%;
}
.menu-order-item{
    color: #9fa0a0;
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.menu-order-name{
    color: #9fa0a0;
    font-size: 15px;
    text-align: center;
    width: 100%;
}
.menu-artik-item{
    color: #9fa0a0;
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.menu-artik-name{
    color: #9fa0a0;
    font-size: 15px;
    text-align: center;
    width: 100%;
}
.menu-plan-item{
    color: #9fa0a0;
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.menu-plan-name{
    color: #9fa0a0;
    font-size: 15px;
    text-align: center;
    width: 100%;
}
.menu-fact-item{
    color: #9fa0a0;
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.menu-fact-name{
    color: #9fa0a0;
    font-size: 15px;
    text-align: center;
    width: 100%;
}
.menu-user-item{
    color: #9fa0a0;
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.menu-user-name{
    color: #9fa0a0;
    font-size: 15px;
    text-align: center;
    width: 100%;
}
.menu-admin {
    display: block;
    text-decoration: none;
    color: #fff;
}
.menu-logout{
    display: block;
    text-decoration: none;
    color: #fff;
}
.menu-admin:hover{
    color:#fff;
    text-decoration: none;
}
.menu-logout:hover{
    color:#fff;
    text-decoration: none;
}
.menu-leng{
    cursor: pointer;
}
a span{
    text-decoration: none;
    display: inline-block;
}
.menu-debit:hover i{
    color: #fff;
}
.menu-debit:hover span{
    color: #fff;
}
.menu-icon:hover i{
    color: #fff;
}
.menu-icon:hover span{
    color: #fff;
}
.menu-leve:hover i{
    color: #fff;
}
.menu-leve:hover span{
    color: #fff;
}
.menu-order:hover i{
    color: #fff;
}
.menu-order:hover span{
    color: #fff;
}
.menu-artik:hover i{
    color: #fff;
}
.menu-artik:hover span{
    color: #fff;
}
.menu-plan:hover i{
    color: #fff;
}
.menu-plan:hover span{
    color: #fff;
}
.menu-fact:hover i{
    color: #fff;
}
.menu-fact:hover span{
    color: #fff;
}
.actions{
    padding-top: 35px;
}
.menu{
    padding-top: 15px;
    padding-left: 0px;
}
table, th, td {
    border: 1px solid black;
}
.icon{
    cursor: pointer;
}
.search-form {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}
.search-form input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
}
.search-form input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}
.search-form input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}
.search-form input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form,
.search-form {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
}
.search-form span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #BA9969;
    left: initial;
    font-size: 14px;
}
.search{
    width: 250px;
    float: right;
    padding-bottom: 5px;
}

.paging{
    width: 120px;
    margin: 0 auto;
    float: none;
    padding-top: 13px;
}
.paging span{
    cursor: pointer;
}

th.div.sorting {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-bottom: 0px;
    border-top:0px;
}

.th-center{
    text-align: center;
}
.active-debt i{
    color: #fff;
}
.active-debt span{
    color: #fff;
}
.content{
    border: 1px solid #9fa0a0;
    border-radius: 11px;
    /* padding: 14px; */
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}
.margin-setter{
    margin-left: 5px !important;
}
.label-text{
    float: left;
    width: 130px;
}
.control-label{
    text-align: left !important;
}
.title-text{
    float: left;
    border-bottom: 1px solid #9fa0a0;
    width: 370px;
    text-align: left;
}
#dataTable{
    height: 100px;
    overflow: scroll;
}
.fa-add{
    display: block;
    float: left;
    cursor: pointer;
    padding-bottom: 7px;
    padding-left: 8px;
}
.click{
    cursor: pointer;
}
.table-rows:hover{
    background-color: #e6e6e6;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    background: #9fa0a0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background-color: transparent;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 50px;
    height: 50px;
    line-height: 53px;
    display: inline-block;
    border-radius: 100px;
    background: transparent;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
    border: 2px solid #9fa0a0;
    color: #9fa0a0;
}

li.active span.round-tabs.one{
    color: #BA9969;
    border: 2px solid #BA9969;
}

span.round-tabs.two{
    border: 2px solid #9fa0a0;
    color: #9fa0a0;
}

li.active span.round-tabs.two{
    color: #BA9969;
    border: 2px solid #BA9969;
}

span.round-tabs.three{
    border: 2px solid #9fa0a0;
    color: #9fa0a0;
}

li.active span.round-tabs.three{
    color: #BA9969;
    border: 2px solid #BA9969;
}

span.round-tabs.four{
    border: 2px solid #9fa0a0;
    color: #9fa0a0;
}

li.active span.round-tabs.four{
    color: #BA9969;
    border: 2px solid #BA9969;
}

span.round-tabs.five{
    border: 2px solid #9fa0a0;
    color: #9fa0a0;
}

li.active span.round-tabs.five{
    color: #BA9969;
    border: 2px solid #BA9969;
}

.nav-tabs{
    border-bottom: 1px solid #9fa0a0;
}
.nav-tabs > li.active > a span.round-tabs{
}
.nav-tabs > li {
    width: 20%;
}
.nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #9fa0a0;
    transition:0.1s ease-in-out;

}
.nav-tabs > li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 8px solid transparent;
    border-bottom-color: #BA9969;

}
.nav-tabs > li a{
    width: 50px;
    height: 50px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    border: none !important;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
    position: relative;
    padding-top: 50px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}
.btn.green{
    background-color:#5cb85c;
}
@media( max-width : 585px ){

    .board {
        width: 90%;
        height:auto !important;
    }
    span.round-tabs {
        font-size:16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
    }
    .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height:50px;
    }

    .nav-tabs > li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

    .btn-outline-rounded {
        padding:12px 20px;
    }
}
.modal-process{
    background-color: #fff;
    border-bottom: none;
}
.nav{
    padding-left: 120px;
}
.basic{
    border: none;
    border-radius: 0px;
}

.menu-settings{
    float: left;
    color: #fff;
    font-size: 20px;
    padding-top: 13px;
    cursor: pointer;
    padding-right: 5px;
}
.comment-block {
    padding: 16px;
    background-color: #fff;
    display: block;
    vertical-align: top;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 5px;
}
textarea {
    width: 100%;
    resize: none;
}


.comment-text {
    color: #555f77;
    margin-bottom: 20px;
    text-align: left;
}

.bottom-comment {
    color: #acb4c2;
    font-size: 14px;
    padding-bottom: 6px;
}

.comment-date {
    float: left;
}
.comment-actions {
    float: right;
}
li {
    cursor: pointer;
}
.complain {
     padding-right: 12px;
     border-right: 1px solid #e1e5eb;
 }

.reply {
     padding-left: 12px;
     padding-right: 12px;
 }
.comments {
    /* margin: 40px auto 0; */
    max-width: 972px;
    padding: 0 20px;
    overflow: auto;
    max-height: 411px;
}
.nav-suppliers{
    padding-left: 230px;
}
.menu-comp{
    padding-left: 0;
    padding-right: 0;
}
#preview{
    height: 120px;
    width: 200px;
    border: 5px solid #BA9969;
}
.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + label {
    cursor: pointer;
    font-size: 13px;
    color: white;
    background-color: black;
    display: inline-block;
}

.input-file:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.input-file + label * {
    pointer-events: none;
}
.input-file + label {
    margin-top: 5px;
    float: left;
    padding: 2px 20px;
    background-color: #BA9969;
    border-radius: 2px;
}
.focus-row{
    background-color: #e6a0a0;
}
.contact-redirect:hover{
    text-decoration: none;
}

.article-photo{
    height: 25px;
    width: 50px;
}
.article-photo-popover{
    height: 200px;
    width: 200px;
}
#add-preview{
    height: 120px;
    border: 5px solid #BA9969;
    float: left;
}
#update-preview{
    height: 120px;
    border: 5px solid #BA9969;
    float: left;
    width: 190px;
}
#add_custom-preview-article{
    height: 120px;
    width: 200px;
    border: 5px solid #BA9969;
}
#update_custom-preview-article{
    height: 120px;
    width: 200px;
    border: 5px solid #BA9969;
}
#add-preview-article{
    height: 120px;
    width: 200px;
    border: 5px solid #BA9969;
}
#update-preview-article{
    height: 120px;
    width: 200px;
    border: 5px solid #BA9969;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.content-view{
    height: 600px;
}
.table-condensed{
    color: #000;
}
.sorting{
    float: right;
    width: 10px;
    display: block;
    padding-top: 3px;
}
.sorting-asc{
    height: 8px;
    width: 8px;
    display: block;
    cursor: pointer;
}
.sorting-desc{
    height: 8px;
    width: 8px;
    display: block;
    cursor: pointer;
}
.page-numbers{
    padding-left: 10px;
    padding-right: 10px;
}
#reportrange{
    color: #000;
    width: 30% ;
    float: left;
}
.cal{
    color: #000;
}
#reportrange{
    margin-left: 65px;
    margin-top: -22px;
}
.single {
    padding: 30px 15px;
    margin-top: 40px;
     }
.single h3.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase; }
.single h3.side-title:after {
    content: '';
    width: 60px;
    height: 1px;
    background: #BA9969;
    display: block;
    margin-top: 6px; }

.single ul {
    margin-bottom: 0; }
.single li a {
    color: #666;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid #cacaca;
    line-height: 40px;
    display: block;
    text-decoration: none; }
.single li a:hover {
    color: #BA9969; }
.single li:last-child a {
    border-bottom: 0; }

.custom-input{
    padding-left: 18px;
    padding-top: 25px;
}
/*
#ui-datepicker-div{
    top: 419px !important;
}*/
h3.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 15px;
    text-transform: uppercase;
}
.order-list:hover {
    color: #BA9969;
}
.order-list{
    margin: auto;
    cursor: pointer;
}
.suppliers-order-list:hover {
    color: #BA9969;
}
.suppliers-order-list{
    margin: auto;
    cursor: pointer;
}
.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}
.text-color{
    color: #BA9969
}
.bootstrap-select{
    float: left !important;
}
#page-selection{
    width: 400px;
    height: 35px;
}
.pagination{
    margin: 0px 0px;
    padding-top: 5px;
}
.pagination>li>a, .pagination>li>span{
    background-color: transparent;
    border: none;
    color: #fff;
    padding-bottom: 0px;
}
.current-page a{
    border-bottom: 1px solid #fff !important;
    padding-bottom: 0px;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff !important;
}
.note {
    font-size: 11px;
    line-height: 22px;
    background: #f8f1c6;
    background: linear-gradient(#f8f1c6 0%, #f8f1c6 96%, #cfceab 100%);
    background-size: 1px 22px;
    border-radius: 3px;
    border: 1px solid #C4C296;
    color: #878260;
    text-shadow: 0 1px 1px white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1),
    inset 0 1px 1px rgba(255,255,255,0.8);
    max-width: 600px;
    margin: 20px auto;
}

.note > i {
    display: block;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: #f8f1c6;
    position: absolute;
    margin-top: -30px;
    margin-left: 200px;
}

.note > b {
    display: block;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: #C4C296;
    position: absolute;
    margin-top: -31px;
    margin-left: 200px;
}

.note > div {
    background:
            radial-gradient(#edf1f9 30%, transparent 31%) 0 0,
            radial-gradient(rgba(0,0,0,0.8) 30%, transparent 35%) 0 0px;
    background-size: 40px 40px;
    background-repeat: repeat-y;
    margin-left: 3px;
}

.note > div.off {
    background: none;
    margin-left: -20px;
}

.note > div > div,
.note > div > div > div {
    height: 100%;
    border-left: 1px solid #ddbbb8;
    box-shadow: 0 0 1px rgba(221,187,184,0.4),
    inset 0 0 1px rgba(221,187,184,0.4);
}

.note > div > div {
    margin-left: 40px;
}

.note > div > div > div {
    padding: 22px 20px 21px 20px;
    margin-left: 4px;
    outline: none;
}

.note > div > div > div > span {
    color: #9C9778;
    font-weight: bold;
}
.links{

    text-decoration: underline;
    cursor: pointer;
    color: #000;
}
.calendar-style{
    background-color: white;
    color: #000;
}
.fc-content:hover{
    cursor: pointer;
}
.outgoing{
    height: 15px;
    width: 15px;
    display: block;
    margin: auto;
    float: left;
    background-color: #377ea3;
}
.outgoing-text{
    float: left;
    margin-top: -3px;
    padding-left: 3px;
}

.incoming{
    height: 15px;
    width: 15px;
    display: block;
    margin-left: 5px;
    float: left;
    background-color: #bb9b51;
}
.incoming-text{
    float: left;
    margin-top: -3px;
    padding-left: 3px;
}

.custom{
    height: 15px;
    width: 15px;
    display: block;
    margin-left: 5px;
    float: left;
    background-color: #7b0022;
}
.custom-text{
    float: left;
    margin-top: -3px;
    padding-left: 3px;
}

.boja{
    color: red;
}

.orders-nav{
    padding-left: 0px;
}
.orders-nav li{
    width: 16%;
}
.debtors-nav{
    padding-left: 0px;
}

.filter-popover{
    float: right;
    margin-right: 2px;
    height: 32px;
}
.filter-popover select{
    height: 32px;
}
.dropdown-toggle{
    height: 32px;
    width: 50px;
}

#order-filter{
    top: 90%;
    left: 59%;
}

.dropdown-menu > li > .dropdown-menu-item {
    clear: both;
    color: #333;
    display: block;
    padding: 3px 20px;
    white-space: nowrap;
    margin: 5px 0;
    width: 100%;
    text-align: left;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}
.dropdown-menu > li:hover .dropdown-menu-item,
.dropdown-menu > li:focus .dropdown-menu-item{
    background-color: #f5f5f5;
    color: #262625;
}
.dropdown-menu > li > .dropdown-menu-item.checkbox {
    margin: 0;
    font-weight: normal;
}
.dropdown-menu > li > .dropdown-menu-item.checkbox input {
    display: none;
}

.apply-filter{
    float: right;
    margin-right: 8px;
}

#article-filter{
    top: 8%;
    left: 64%;
}

.signature-line{
    margin-top: 32px;
    margin-bottom: 12px;
    border: 0;
    border-top: 1px solid #000;
}
.tables{
    overflow-y: auto;
    width: 100%;
    max-height: 543px;
}
.default-table-body{
background-color: white;
}
input{
    color: black;
}

.order-title-text{
    margin-left: -18px;

    float: left;
    border-bottom: 1px solid #9fa0a0;
    width: 370px;
    text-align: left;

}
.calcTextHeight{
    font-size: 14;
}
.delete-title{
    background-color: #af4646;
}
.table{
    font-size: 12px;
}

#extra_text{
    width: 450px;
}


.many-items span.round-tabs.five{
    color: #af4646 ;
    border-color: #af4646;
}

.many-items span.round-tabs.three{
    color: #af4646 ;
    border-color: #af4646;
}

.many-items span.round-tabs.four{
    color: #af4646 ;
    border-color: #af4646;
}

.many-items span.round-tabs.two{
    color: #af4646 ;
    border-color: #af4646;
}

.many-items span.round-tabs.one{
    color: #af4646 ;
    border-color: #af4646;
}

.inner{
    width: 300px !important;
}

.select2-results__options{
    color: black !important;
}

.img-flag {
    height: 25px;
}