{% extends company ~ 'base_with_background.html.twig' %}
{% block body_with_background %}
<div class="row row-center ">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div align="center" class="panel panel-default panel-login center ">
            <div class="panel-body">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="form-login">
                    <div class="form-group" align="center">
                        <form action="{{ path('login') }}" method="post">
                            <div class="logo">
                                <img class="img" src="{{ asset(company ~ 'images/logo.png') }}">
                            </div>
                            <div class="menu-info">
                                {% include ':components:language.html.twig' %}
                            </div>
                            <label for="username" class="float-left">{% trans %}Username{% endtrans %}:</label>
                            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}">
                            <div class="form-group">
                                <label for="password"  class="float-left">{% trans %}Password{% endtrans %}:</label>
                                <input type="password" class="form-control" id="password" name="_password">
                            </div>
                            <br/>
                            <button type="submit"  class="btn btn-default btn-block button-color">{% trans %}Log in{% endtrans %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>
{% endblock body_with_background%}