{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    <br/>
    <div  class="col-lg-12">
        <br/>
        {% include ':components:html_error.html.twig' with {'context': 'debtor_charts'} %}
        {% include ':components:date_for_charts.html.twig' %}
        <input id="debtor-id" type="hidden" value="{{ debtor_id }}" />
        <div  class="col-lg-12">
            <div class="content">
                <div id="container" style="min-width: 310px; height: 500px; width: 100%;  margin: 0 auto"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- CHARTS -->
    <script src="{{ asset('js/highstock.js') }}"></script>
    <script src="{{ asset('js/highcharts-3d.js') }}"></script>
    <script src="{{ asset('js/highcharts-more.js') }}"></script>
    <script src="{{ asset('js/highcharts-theme.js') }}"></script>
    <script>
        $("#debtor").addClass("active-debt");
        function get_data_and_redraw_chart() {
            $.ajax({
                url: '/debtors/charts?id=' + $('#debtor-id').val() + '&start=' + start.format('YYYY-MM-DD') + '&end=' + end.format('YYYY-MM-DD'),
                type: 'get',
                success: function (result) {
                    let data = {};
                    try {
                        data = JSON.parse(result);
                    } catch (e) {
                        debtor_charts_set_error_message('Inconsistent data');
                    }
                    let plot_data = [
                        {
                            name: '{% trans %}profit{% endtrans %}',
                            data: data.data.profit
                        },
                        {
                            name: '{% trans %}purchase{% endtrans %}',
                            data: data.data.purchase_prices
                        },
                    ];
                    Highcharts.setOptions({
                        chart: {
                            style: {
                                fontFamily: 'sans-serif'
                            }
                        }
                    });
                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: '{% trans %}Debtor activity{% endtrans %}'
                        },
                        subtitle: {
                            text: data.debtor_name
                        },
                        xAxis: {
                            categories: data.data.xAxis,
                            crosshair: true
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: '&euro;'
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                }
                            }
                        },
                        legend: {
                            align: 'right',
                            x: -30,
                            verticalAlign: 'top',
                            y: 25,
                            floating: true,
                            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                            borderColor: '#CCC',
                            borderWidth: 1,
                            shadow: false
                        },
                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true,
                                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                                    style: {
                                        //color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                                        fontSize: 12,
                                        fontFamily: 'sans-serif'
                                    }
                                }
                            }
                        },
                        series: plot_data
                    });
                },
                error: function (result) {
                    let error = {};
                    try {
                        error = JSON.parse(result.responseText);
                    } catch (e) {
                        error.error_message = 'Unknown';
                    }
                    debtor_charts_set_error_message(error.error_message);
                }
            });
        };
        $(document).ready(function () {
            get_data_and_redraw_chart();
        });
    </script>
{% endblock %}