{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    <br/>
    <div  class="col-lg-12">
        <br/>
        <div  class="col-lg-12">
            <div class="content">
            <div id="container" style="min-width: 310px; height: 500px; width: 100%;  margin: 0 auto"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- CHARTS -->
    <script src="{{ asset('js/highstock.js') }}"></script>
    <script src="{{ asset('js/highcharts-3d.js') }}"></script>
    <script src="{{ asset('js/highcharts-more.js') }}"></script>
    <script src="{{ asset('js/highcharts-theme.js') }}"></script>
    <script>
        $("#debtor").addClass("active-debt");
        // Radialize the colors
        Highcharts.setOptions({
            chart: {
                style: {
                    fontFamily: 'sans-serif'
                }
            },
            colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
                return {
                    radialGradient: {
                        cx: 0.5,
                        cy: 0.3,
                        r: 0.7
                    },
                    stops: [
                        [0, color],
                        [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                    ]
                };
            })
        });
        // Build the chart
        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                backgroundColor: 'transparent'
            },
            title: {
                text: '{% trans %}How did you find us{% endtrans %}'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y} ({point.percentage:.1f} %)',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                            fontSize: 18,
                            fontFamily: 'sans-serif'
                        },
                        connectorColor: 'silver',
                        distance: -40
                    }
                }
            },
            series: [{
                name: '{% trans %}percent{% endtrans %}',
                data: [
                    {
                        name: '{% trans %}Mouth to Mouth{% endtrans %}',
                        y: {{ graph_data["Mouth to mouth-total"] }}
                    },
                    {
                        name: '{% trans %}Google{% endtrans %}',
                        y: {{ graph_data['Google-total'] }},
                        sliced: true,
                        selected: true
                    },
                    {
                        name: '{% trans %}Worlds Fair{% endtrans %}',
                        y: {{ graph_data['Worlds Fair-total'] }}
                    },
                    {
                        name: '{% trans %}Social Networks{% endtrans %}',
                        y: {{ graph_data['Social Networks-total'] }}
                    },
                ]
            }]
        });
    </script>
{% endblock %}