{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    <br/>

    {% if Action != 'add' %}
        <div class="row">
            <div class="col-lg-12">
                <h3 style="float:left;margin-left:5%">{% trans %}Debtor name{% endtrans %}: {{ order.debtorName }}</h3>
                <h3 style="float:left;margin-left:5%">{% trans %}Order{% endtrans %}: {{ order.orderNumber }}</h3>
                <h3 style="float:left;margin-left:5%">{% trans %}Created{% endtrans %}: {{ order.createdString }}</h3>
            </div>
        </div>
        <div class="col-lg-6">
            <br/>
            <button type="button" style="float:left" class="btn btn-default btn-md button-color back-order-to-supplier">Back</button>
        </div>
    {% endif %}
    <div class="col-lg-12">
        <div class="content">
            {% if layout == 'tabs' %}
                {% include ':user/orders/layout:tabs_layout.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $("#order").addClass("active-debt");
        {% if Action != "add" %}
        {% if order_files | length %}
        $("#order-files").addClass("many-items");
        {% endif %}
        {% if order_administrative_notes | length %}
        $("#order-administrative-nodes").addClass("many-items");
        {% endif %}
        {% if order_intern_notes | length %}
        $("#order-intern-notes").addClass("many-items");
        {% endif %}
        {% if sent_mails | length %}
        $("#order-emails").addClass("many-items");
        {% endif %}
        {% endif %}
        $('.back-order-to-supplier').click(function () {
            window.history.back();
        });
    </script>
{% endblock %}