{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    <div class="col-lg-12 actions">
        <i class="fa fa-user-plus menu-add add" aria-hidden="true"></i>
        <i class="fa fa-archive menu-add archive" aria-hidden="true"></i>
        {% include ':components:html_error.html.twig' with {'context': 'add_order'} %}
        {% include ':components:search.html.twig'%}
        {% include ':user/orders/components:grant_order_filter.html.twig' %}
    </div>
    <table id="order-table" class="table table-bordered">
        <thead class="table-header">
            <tr >
               <th hidden>{% trans %}id{% endtrans %}</th>
                <th data-dynatable-default-sort="true">{% trans %}Order Number{% endtrans %}</th>
                <th>{% trans %}Datum{% endtrans %}</th>
                <th>{% trans %}Supervisor{% endtrans %}</th>
                <th>{% trans %}Debtor Name{% endtrans %}</th>
                <th>{% trans %}Order Status{% endtrans %}</th>
                <th>{% trans %}Delivery Time{% endtrans %}</th>
                <th class="th-center">{% trans %}Action{% endtrans %}</th>
            </tr>
        </thead>
        <tbody class="default-table-body" style="display: none;">
        {% for order in orders %}
            {% set orderNumberString = order.orderNumber|split('/') %}
            <tr class="table-rows">
                <td class="click" hidden >{{ order.id }}</td>
                <td class="click">{{ orderNumberString[0] ~ "/ " ~ "%03d"|format(orderNumberString[1])  }}</td>
                <td class="click">{{ order.orderDatumString }}</td>
                <td class="click">{{ order.orderSupervisor }}</td>
                <td class="click">{{ order.debtorName }}</td>
                <td class="click">{{ order.orderStatusString|trans }}</td>
                <td class="click">{{ order.deliveryTimeString }}</td>
                <td class="th-center">
                    {% if order.paymentStatus.name is constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderPaymentStatusEntity::NOT_PAID') %}
                        <i id="update-{{ order.id }}" class="fa fa-pencil icon update" aria-hidden="true"></i>&nbsp;
                    {% endif %}
                    <i id="delete-{{ order.id }}" class="fa fa-trash icon delete" aria-hidden="true"></i>&nbsp;
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include':components:spinner.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).on('click', '.update', function(event) {
            let id = event.target.id.split('-')[1];
            window.location.href = "/orders/" + id + "/update-order";
        });
        $(document).on('click', '.click', function(e) {
            let id = $(this).closest('tr').children('td:first').text();
            window.location.href = "/orders/" + id + "/update-order";
        });
        $(document).on('click', '.delete', function(e) {
            let answer = confirm('Are you sure you want to delete order?');
            if(answer) {
                let data = {};
                data.id = event.target.id.split('-')[1];
                $.ajax({
                    url: '/orders/delete-order',
                    type: 'delete',
                    data: data,
                    success: function (result) {
                        window.location.reload()
                    },
                    error: function (result) {
                        let error = {};
                        try{
                            error = JSON.parse(result.responseText);
                        } catch(e) {
                            error.error_message = 'Unknown';
                        }
                    }
                })
            }
        });
        $(document).ready(function () {
            $('#table-spinner').show();
            $('#order-table').dynatable({
                features:{
                    perPageSelect: false,
                    recordCount: false,
                    search: false,
                    sort: true,
                },
                inputs: {
                    queries: $('#search, #order-status')
                },
            }).data('dynatable');
            $("#order").addClass("active-debt");
            $(".default-table-body").show();
            $('#table-spinner').hide();
            $('.add').click(function (event) {
                window.location.replace('/orders/add-order');
            });
            $('.archive').click(function () {
                window.location.replace('/finished-orders');
            });
            $('#search').val(localStorage.getItem('search'));
        });
    </script>
{% endblock %}