{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    <div class="col-lg-12">
        <br/>
        <div class="content-view">
            <iframe  id="pdf-view" width="100%" height="100%" ></iframe>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- JSPDF -->
    <script src="{{ asset('js/jspdf.min.js') }}"></script>
    <script src="{{ asset('js/jspdf.debug.js') }}"></script>
    <script src="{{ asset('js/jspdf.plugin.autotable.js') }}"></script>
    <script>
        $(document).ready(function() {
            $("#supplier").addClass("active-debt");
            let doc = new jsPDF();
            doc.addImage('{{ logo }}', 'JPEG', 70, 5, 60, 15);
            doc.setFont('Constantia (Body)');
            doc.setFontSize(15);
            doc.text('Supplier Information', 20, 30);
            doc.line(20, 31, 70, 31);
            doc.setFontSize(10);
            doc.text('Name:',20, 38);
            doc.text('{{ supplier.name }}', 47, 38);
            doc.text('Email:', 20, 42);
            doc.text('{{ supplier.email }}', 47, 42);
            doc.setFontSize(15);
            doc.text('Address Information', 20, 49);
            doc.line(20, 50, 70, 50);
            doc.setFontSize(10);
            doc.text('Country:', 20, 57);
            doc.text('{{ supplier.country }}', 47, 57);
            doc.text('Street:', 20, 61);
            doc.text('{{ supplier.street }}', 47, 61);
            doc.text('House Number:', 20, 65);
            doc.text('{{ supplier.number }}', 47, 65);
            doc.text('House Extension:', 20, 69);
            doc.text('{{ supplier.numberExtension }}', 47, 69);
            doc.text('Postcode:', 20, 73);
            doc.text('{{ supplier.postCode }}', 47, 73);
            doc.text('City:', 20, 77);
            doc.text('{{ supplier.city }}', 47, 77);
            doc.setFontSize(15);
            doc.text('Contact Persons', 20, 85);
            doc.line(20, 86, 70, 86);
            let columnsDelivery = ['Name', 'Email', 'Phone Number'];
            let rowsDelivery = [];
            let data = [];
            {% for contact_person in supplier.contactPersons %}
                data = [];
                data.push(
                    '{{ contact_person.name }}',
                    '{{ contact_person.email }}',
                    '{{ contact_person.phoneNumber }}',
                );
                rowsDelivery.push(data);
            {% endfor %}
            doc.autoTable(columnsDelivery, rowsDelivery,{
                startY: 93,
                margin: {
                    left: 20
                },
                FontSize: 10,
                headerStyles:{
                    fillColor: [186,153,105],
                    fontSize: 6
                },
                bodyStyles:{
                    fontSize: 7
                },
            });
            let nextTitle = doc.autoTable.previous.finalY + 8;
            doc.setFont('Constantia (Body)');
            doc.setFontSize(15);
            doc.text('Notes', 20, nextTitle);
            doc.setDrawColor(0, 0, 0);
            doc.line(20, nextTitle + 1, 70, nextTitle + 1);
            let columnsContact = ['Created', 'Created by', 'Note'];
            let rowsContact = [];
            {% for note in supplier.notes %}
                data = [];
                data.push(
                    '{{ note.updatedString }}',
                    '{{ note.username }}',
                    '{{ note.note }}',
                );
                rowsContact.push(data);
            {% endfor %}
            doc.autoTable(columnsContact, rowsContact,{
                startY: nextTitle + 5,
                margin: {
                    left: 20
                },
                FontSize: 10,
                headerStyles:{
                    fillColor: [186,153,105],
                    fontSize: 6
                },
                bodyStyles:{
                    fontSize: 7
                },
            });
            $('#pdf-view').attr('src', doc.output('datauristring'));
        })
    </script>
{% endblock %}