{% extends company ~ 'base_with_background.html.twig' %}
{% block body_with_background %}
    <div class="row-regular">
        <div class="col-lg-2">
            {% include ':Company/DejongInterieur/tracking:order_list.html.twig' %}
        </div>
        <div class="col-lg-8">
            <div align="center" class="panel panel-default  center ">
                <div class="panel-body">
                    <div class="col-lg-9">
                        <div class="panel-header">
                            <img src="{{ asset(company ~ 'images/logo.png') }}">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="menu-info">
                            {% include ':components:language.html.twig' %}
                            {% include ':components:logout.html.twig' %}
                        </div>
                    </div>
                    <div class="col-lg-12 menu">
                        {% include ':components:menu.html.twig' %}
                    </div>
                    <div class="col-lg-12">
                        {% block body %}{% endblock body %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            {% include ':Company/DejongInterieur/tracking:supplier_list.html.twig' %}
        </div>
    </div>
{% endblock body_with_background %}
{% block javascripts %}

{% endblock javascripts %}

