<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% trans %}Welcome!{% endtrans %}{% endblock %}</title>
    <!-- JQuery -->
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/jquery.redirect.js') }}"></script>
    <script src="{{ asset('js/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('js/jquery.bootpag.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-select.min.js') }}"></script>
    <!-- AutoComplete -->
    <script src="{{ asset('js/jquery.dynatable.js') }}"></script>

    <!-- DATE RANGE PICKER -->
    <script src="{{ asset('js/daterangepicker.js') }}"></script>
    <script src="{{ asset('js/jquery.number.js') }}"></script>
    <script src="{{ asset('js/accounting.js') }}"></script>
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <!-- EXPORTING
    <script src="{{ asset('js/exporting.js') }}"></script>
    -->


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.structure.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.theme.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

    <link rel="stylesheet" href="{{ asset('css/flags.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.dynatable.css') }}">
    <link rel="stylesheet" href="{{ asset(company ~ 'css/main.css') }}">
    <!--<link rel="stylesheet" href="{{ asset('css/validate.css') }}">-->
    <link rel="stylesheet" href="{{ asset('css/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-select.css') }}">
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">

</head>
<body style="background-image: url({{ asset(company ~'images/bg.jpg') }}); ">
    {% block body_with_background %}{% endblock body_with_background %}
    {% block javascripts %}{% endblock javascripts %}
    {% block stylesheets %}{% endblock stylesheets %}
</body>
</html>
