<div id="signature">
    <span style="float: left">  Met vriendelijke groet - With kind regards – Mit freundlichen Grüßen </span>
    <br/><br/>
    <span style="float: left">
       {{ user.firstName }} {{ user.lastName }}
    </span>
    <br/>
    {% if user.firstName == "Stijn" %}
        <span style="float: left">
        <b>De Jong</b><b> / De Jachtkamer </b>
    </span><br/><br/>
    {% else %}
        <span style="float: left">
        <b>De Jong</b><b> Interieur </b>
    </span><br/><br/>
    {% endif %}
    <span style="float: left">  De Blecourtstraat 28a | 5652GB | Eindhoven | Holland </span>
    <br/><br/>
    {% if user.phonenumber  != "" %}
        <span style="float: left" style="color: #CEB795">
        <span style="color: #CEB795"> Mobile:</span> {{ user.phonenumber }}
    </span>
    {% endif %}
    <br/><br/>
    <span style="float: left">
        <span style="color: #CEB795">Email:</span>
        <a class="links" style="color: #CEB795">info@dejonginterieur.com</a>
    </span>
    <br/> <br/>
    <span style="float: left">
        <span style="color: #CEB795">Website:</span>
        {% if user.firstName == "Stijn" %}
            <a class="links" style="color: #CEB795">www.dejonginterieur.com / www.dejachtkamer.nl</a>
        {% else %}
            <a class="links" style="color: #CEB795">www.dejonginterieur.com</a>
        {% endif %}
    </span>
    <br/> <br/>
    <img style="float: left" src="{{ asset(company ~ 'images/environment.gif') }}" />
</div>
