<div class="note">
    <div class="off">
        <div>
            <!--<div contenteditable="true" spellcheck="false">-->
            <div>
                <span>{% trans %}Outgoing to debtors{% endtrans %}</span><br />
                {% for dbdt in debtors_by_delivery_time %}
                    <p id="{{ dbdt['id'] }}" class="order-list debtors-order-list">{{ dbdt['debtor_name'] }}<span class="pull-right">{{ dbdt['delivery_time']|date('Y-m-d') }}</span></p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.debtors-order-list').click(function(event) {
            let id = $(event.target).closest('p')[0].id;
            window.location.href = '/orders/' + id + '/update-order';
        });
    })
</script>
