<div class="note">
    <div class="off">
        <div>
            <div contenteditable="true" spellcheck="false">
                <span>{% trans %}Incoming from suppliers{% endtrans %}</span><br />
                {% for sbdt in suppliers_by_delivery_time %}
                    <p id="{{ sbdt['order_id'] }}" class="order-list suppliers-order-list">{{ sbdt['supplier_name'] }}<span class="pull-right">{{ sbdt['delivery_time']|date('Y-m-d') }}</span></p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.suppliers-order-list').click(function(event) {
            let id = $(event.target).closest('p')[0].id;
            window.location.href = '/orders/' + id + '/update-order';
        });
    })
</script>
