<div class="filter-popover">
        <select class="form-control" id="order-status" name="orderStatus">
                <option></option>
            {% for order_status in order_statuses %}
                <option>{{ order_status|trans }}</option>
            {% endfor %}
        </select>
</div>