{% set var_orders_general_infromation = 'orders_general_information' %}
<div class="form-horizontal">
    {% include ':components:html_error.html.twig' with {'context': var_orders_general_infromation} %}
    <div class="col-lg-12">
        <div class="col-lg-6">
            <h5 class="order-title-text">{% trans %}Debtor Information{% endtrans %}</h5><br/><br/>
            <div class="form-group {{ Action }}-order-number" {% if Action == 'add' %} hidden {% endif %}>
                <label class="label-text control-label" for="number_extension" style="float: left">{% trans %}Order number{% endtrans %}:</label>
                <div class="col-sm-6">
                    <input id="{{ Action }}-order-number" type="text" class="form-control input-sm " disabled />
                </div>
            </div>
            <div class="form-group">
                <label class="label-text control-label">{% trans %}Debtor{% endtrans %}:</label>
                <div class="col-sm-6">
                    <select id="{{ Action }}-order-debtor" class="form-control input-sm selectpicker" data-live-search="true">
                        {% if Action == 'add' %}
                            <option selected disabled hidden>{% trans %}Choose..{% endtrans %}</option>
                        {% endif %}
                        {% for debtor_name in debtor_names %}
                            <option value="{{ debtor_name }}">{{ debtor_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group {{ Action }}-order-debtor-type" {% if Action == 'add' %} hidden {% endif %}>
                <label class="label-text control-label" for="number_extension" style="float: left">{% trans %}Debtor type{% endtrans %}:</label>
                <div class="col-sm-6">
                    <input id="{{ Action }}-order-debtor-type" type="text" class="form-control input-sm" disabled />
                </div>
            </div>
            <div class="form-group {{ Action }}-order-contact-person-names" {% if Action == 'add' %} hidden {% endif %}>
                <label class="label-text control-label">{% trans %}Contact Person{% endtrans %}:</label>
                <div class="col-sm-8">
                    <select id="{{ Action }}-order-contact-person-names" class="form-control input-sm">
                    </select>
                </div>
            </div>
            <div class="form-group {{ Action }}-order-delivery-address" {% if Action == 'add' %} hidden {% endif %}>
                <label class="label-text control-label">{% trans %}Delivery Address{% endtrans %}:</label>
                <div class="col-sm-8">
                    <select id="{{ Action }}-order-delivery-address" class="form-control input-sm">
                    </select>
                </div>
            </div>
            <div class="form-group {{ Action }}-contact-email" {% if Action == 'add' %} hidden {% endif %}>
                <label class="label-text control-label" for="number_extension" style="float: left">{% trans %}Contact Email{% endtrans %}:</label>
                <div class="col-sm-6">
                    <input id="{{ Action }}-contact-email" type="text" class="form-control input-sm " disabled />
                </div>
            </div>
            <div class="form-group {{ Action }}-contact-number" {% if Action == 'add' %} hidden {% endif %}>
                <label class="label-text control-label" for="number_extension" style="float: left">{% trans %}Contact Number{% endtrans %}:</label>
                <div class="col-sm-6">
                    <input id="{{ Action }}-contact-number" type="text" class="form-control input-sm " disabled />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h5 class="order-title-text {{ Action }}-address" {% if Action == 'add' %} hidden {% endif %}>{% trans %}Address Information{% endtrans %}</h5><br/><br/>
            <div class="form-group {{ Action }}-address" {% if Action == 'add' %} hidden {% endif %}>
                <label class="label-text control-label" for="{{ Action }}-street" style="float: left">{% trans %}Street{% endtrans %}:</label>
                <div class="col-sm-6">
                    <input id="{{ Action }}-street" type="text" class="form-control input-sm " disabled />
                </div>
            </div>
            <div class="form-group {{ Action }}-address" {% if Action == 'add' %} hidden {% endif %}>
                <label class="label-text control-label" for="{{ Action }}-postcode" style="float: left">{% trans %}Postcode{% endtrans %}:</label>
                <div class="col-sm-6">
                    <input id="{{ Action }}-postcode" type="text" class="form-control input-sm " disabled />
                </div>
            </div>
            <div class="form-group {{ Action }}-address" {% if Action == 'add' %} hidden {% endif %}>
                <label class="label-text control-label" for="{{ Action }}-city" style="float: left">{% trans %}City{% endtrans %}:</label>
                <div class="col-sm-6">
                    <input id="{{ Action }}-city" type="text" class="form-control input-sm " disabled />
                </div>
            </div>
            <div class="form-group {{ Action }}-address" {% if Action == 'add' %} hidden {% endif %}>
                <label class="label-text control-label" for="{{ Action }}-country" style="float: left">{% trans %}Country{% endtrans %}:</label>
                <div class="col-sm-6">
                    <input id="{{ Action }}-country" type="text" class="form-control input-sm " disabled />
                </div>
            </div>
            <div id="notes_content" class="form-group" style="height: 200px; overflow-y: auto">

            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <h5 class="title-text">{% trans %}Order Information{% endtrans %}</h5><br/><br/>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="label-text control-label">{% trans %}Status{% endtrans %}:</label>
                <div class="col-sm-6">
                    <select id="{{ Action }}-order-status" class="form-control input-sm">
                        {% if Action == 'add' %}
                            <option selected disabled hidden>{% trans %}Choose..{% endtrans %}</option>
                        {% endif %}
                        {% for order_status in order_statuses %}
                            <option value="{{ order_status.name }}">{{ order_status.trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="label-text control-label">{% trans %}Delivery Status{% endtrans %}:</label>
                <div class="col-sm-6">
                    <select id="{{ Action }}-order-delivery-status" class="form-control">
                        {% if Action == 'add' %}
                            <option selected disabled hidden>{% trans %}Choose..{% endtrans %}</option>
                        {% endif %}
                        {% for order_delivery_status in order_delivery_statuses %}
                            <option value="{{ order_delivery_status.name }}">{{ order_delivery_status.trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="label-text control-label">{% trans %}Supervisor{% endtrans %}:</label>
                <div class="col-sm-6">
                    <select id="{{ Action }}-order-supervisor" class="form-control">
                        {% if Action == 'add' %}
                            <option selected disabled hidden>{% trans %}Choose..{% endtrans %}</option>
                        {% endif %}
                        {% for user in users %}
                            <option value="{{ user }}">{{ user }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="label-text control-label">{% trans %}Payment method{% endtrans %}:</label>
                <div class="col-sm-6">
                    <select id="{{ Action }}-order-payment-method" class="form-control">
                        {% if Action == 'add' %}
                            <option selected disabled hidden>{% trans %}Choose..{% endtrans %}</option>
                        {% endif %}
                        {% for order_payment_method in order_payment_methods %}
                            <option value="{{ order_payment_method.name }}">{{ order_payment_method.trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="label-text control-label" for="number_extension" style="float: left">{% trans %}Delivery time{% endtrans %}:</label>
                <div class="col-sm-6">
                    <input id="{{ Action }}-order-delivery-time" type="hidden">
                    <input id="datepicker" type="text" class="form-control input-sm" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div style="float: right;" class="col-lg-4">
            {% if Action == 'update' %}
                <input type="submit" id="update-general-information-submit-{{ order.id }}" value="{% trans %}Submit{% endtrans %}" class="btn btn-default btn-block button-color {{ Action }}-general-information-submit"><br/>
            {% elseif Action == 'add' %}
                <input type="submit" id="add-general-information-submit" value="{% trans %}Submit{% endtrans %}" class="btn btn-default btn-block button-color {{ Action }}-general-information-submit"><br/>
            {% endif %}
        </div>
        {% if Action == 'update' %}
            <div class="col-lg-4">
                <button id="{{ order.id }}" class="btn btn-default btn-block button-color pdf-information">Information</button>
            </div>
        {% endif %}
    </div>
</div>
<script>
    let delivery_addresses;
    $(document).ready(function() {
        $('.pdf-information').click(function (event) {
            {% if Action != 'add' %}
            {% if order.deliveryAddress %}
                window.location.href = "/orders/" + event.target.id + "/pdf-information";
            {% else %}
                alert('Please add Delivery Address to the Order');
            {% endif %}

            {% endif %}
        });
        function unescapeHtml(safe) {
            return safe.replace(/&amp;/g, '&')
                .replace(/&lt;/g, '<')
                .replace(/&gt;/g, '>')
                .replace(/&quot;/g, '"')
                .replace(/&#039;/g, "'");
        }
        $( "#datepicker" ).datepicker({
            dateFormat: 'dd-mm-yy',
            onSelect: function () {
                $('#{{ Action }}-order-delivery-time').val(this.value);
            }
        });
        $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        let activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('#myTab a[href="' + activeTab + '"]').tab('show');
        }
        {% if Action != 'add' %}
        function update_set_form_data() {
            $('#update-order-number').val('{{ order.orderNumber }}');
            $('.selectpicker').selectpicker('val',unescapeHtml('{{ order.debtor.name }}'));
            $('#update-order-debtor-type').val('{{ order.debtor.endUserType.name|trans }}');
            $('#update-street').val('{{ order.debtor.street }}');
            $('#update-postcode').val('{{ order.debtor.postCode }}');
            $('#update-city').val('{{ order.debtor.city }}');
            $('#update-country').val('{{ order.debtor.country }}');
            $('.update-address').show();
            $('#update-order-supervisor').val('{{ order.orderSupervisor }}');
            $('#update-contact-email').val('{{ order.contactPerson.email }}');
            $('#update-contact-number').val('{{ order.contactPerson.phoneNumber }}');
            let data = {};
            data.debtor_name = unescapeHtml('{{ order.debtor.name }}');
            $.ajax({
                url: '/debtors/type-contact-persons',
                type: 'post',
                data: data,
                success: function (result) {
                    let data = JSON.parse(result);
                    delivery_addresses = data.delivery_address;
                    $('#update-order-debtor-type').val(data.type);
                    $('.update-order-debtor-type').show();
                    $('.update-order-delivery-address').show();
                    let contact_person_names = data.contact_persons;
                    let html;
                    jQuery.each(contact_person_names, function (key, value) {
                        html += '<option value="' + value.name + '">' + value.name + " ( " + value.phone+ " )" + '</option>'
                    });
                    let delivery_html, delivery_address_format;
                    let delivery = delivery_addresses[contact_person_names[0].name];
                    jQuery.each(delivery, function (key, value) {
                        console.log(value);
                        delivery_address_format = value.street + " " + value.postcode + " " + value.city + " " + value.country;
                        delivery_html += '<option value="' + value.id + '">' + delivery_address_format + '</option>'
                    });
                    $('#{{ Action }}-order-contact-person-names').html(html);
                    $('#{{ Action }}-order-delivery-address').html(delivery_html);
                    $('#update-order-contact-person-names').val(unescapeHtml('{{ order.contactPerson.name }}'));
                    {% if order.deliveryAddress %}
                        $('#update-order-delivery-address').val(unescapeHtml('{{ order.deliveryAddress.id }}'));
                    {% endif %}
                },
                error: function (result) {
                    let error = {};
                    try {
                        error = JSON.parse(result.responseText);
                    } catch(e) {
                        error.error_message = 'Unknown';
                    }
                    {{ var_orders_general_infromation }}_set_error_message(error.error_message);
                }
            });
            $('#update-order-delivery-status').val('{{ order.deliveryStatus.name }}');
            $('#update-order-status').val('{{ order.orderStatus.name }}');
            $('#update-order-discount').val('{{ order.discount }}');
            $('#update-order-payment-status').val('{{ order.paymentStatus.name }}');
            $('#update-order-payment-method').val('{{ order.paymentMethod.name }}');
            $('#datepicker').val('{{ order.deliveryTimeString }}');
            updateDebtorNotes();
        };
        update_set_form_data();
        {% endif %}
    });
    $("#{{ Action }}-order-contact-person-names").change(function (event) {
        $("#{{ Action }}-order-delivery-address").children().remove();
        let delivery = delivery_addresses[$("#{{ Action }}-order-contact-person-names").val()];
        let delivery_html, delivery_address_format;
        jQuery.each(delivery, function (key, value) {
            delivery_address_format = value.street + " " + value.postcode + " " + value.city + " " + value.country;
            delivery_html += '<option value="' + value.id + '">' + delivery_address_format + '</option>'
        });
        $('#{{ Action }}-order-delivery-address').html(delivery_html);
        $('.{{ Action }}-order-delivery-address').show();
    });

    $("#{{ Action }}-order-debtor").change(function (event) {
        let data = {};
        data.debtor_name = $('#{{ Action }}-order-debtor').val();
        $.ajax({
            url: '/debtors/type-contact-persons',
            type: 'post',
            data: data,
            success: function (result) {
                let data = JSON.parse(result);
                console.log(data);
                $('#{{ Action }}-order-debtor-type').val(data.type);
                $('.{{ Action }}-order-debtor-type').show();
                let contact_person_names = data.contact_persons;
                delivery_addresses = data.delivery_address;
                let html;
                html = '<option value=undefined></option>';
                jQuery.each(contact_person_names, function (key, value) {
                    html += '<option value="' + value.name + '">' + value.name + " ( " + value.phone + " )" + '</option>'
                });
                $('#{{ Action }}-order-contact-person-names').html(html);
                $('.{{ Action }}-order-contact-person-names').show();
            },
            error: function (result) {
                let error = {};
                try {
                    error = JSON.parse(result.responseText);
                } catch (e) {
                    error.error_message = 'Unknown';
                }
                {{ var_orders_general_infromation }}_set_error_message(error.error_message);
            }
        });
        updateDebtorNotes();
    });
    {% if Action == 'view' %}
    $('.{{ Action }}-general-information-submit').hide();
    {% endif %}
    $(".{{ Action }}-general-information-submit").click(function (event) {
        let order = getFormData();
        {% if Action == 'update' %}
            order.id = event.target.id.split('-')[4];
        {% endif %}
        $.ajax({
            {% if Action == 'add' %}
                url: '/orders/add-order',
                type: 'post',
            {% elseif Action == 'update' %}
                url: '/orders/update-order',
                type: 'put',
            {% endif %}
            data: order,
            success: function (result) {
                let data = JSON.parse(result);
                window.location.href = '/orders/' + data.id + '/update-order';

            },
            error: function (result) {
                let error = {};
                try {
                    error = JSON.parse(result.responseText);
                } catch (e) {
                    error.error_message = 'Unknown';
                }
                {{ var_orders_general_infromation }}_set_error_message(error.error_message);
            }
        });
        function getFormData() {
            let order = {};
            order.order_number = $('#{{ Action }}-order-number').val();
            order.debtor_name = $('#{{ Action }}-order-debtor').val();
            order.debtor_end_user_type = $('#{{ Action }}-order-debtor-type').val();
            order.contact_person_name = $('#{{ Action }}-order-contact-person-names').val();
            order.order_delivery_status = $('#{{ Action }}-order-delivery-status').val();
            order.order_status = $('#{{ Action }}-order-status').val();
            order.delivery_time = $('#{{ Action }}-order-delivery-time').val();
            order.payment_method = $('#{{ Action }}-order-payment-method').val();
            order.supervisor = $('#{{ Action }}-order-supervisor').val();
            order.delivery_address_id = $('#{{ Action }}-order-delivery-address').val();
            return order;
        }
    });

    function updateDebtorNotes()
    {
        let debtor = {};
        debtor.debtor_name = $('#{{ Action }}-order-debtor').val();
        console.log(debtor.debtor_name);
        $.ajax({
            url: '/debtors/debtor_notes',
            type: 'post',
            data: debtor,
            success: function (result) {
                let data = JSON.parse(result);
                console.log(data);

                html = '';
                jQuery.each(data.notes, function (key, value) {
                    html+= '<div class="comment-block">';
                    html+= '<div class="bottom-comment">';
                    html+= '<div class="comment-date">{% trans %}Created by{% endtrans %}:' + value.username + ',' + value.updatedString + '</div>';
                    html+='</div><br/>';
                    html+= '<p class="comment-text" id="administrative-comment-text-' + value.id +'">'+ value.note + '</p>';
                    html+= '</div>';

                });
                $('#notes_content').html(html);

            },
            error: function (result) {
                let error = {};
                console.log(result);
                try {
                    error = JSON.parse(result.responseText);
                } catch (e) {
                    error.error_message = 'Unknown';
                }
                {{ var_orders_general_infromation }}_set_error_message(error.error_message);
            }

        });
    }
</script>