{% include ':components:html_error.html.twig' with {'context' : 'order_article' } %}
{% include ':user/orders/components:modal_add_order_article.html.twig' with { 'order_article_action': 'add'} %}
{% include ':user/orders/components:modal_add_order_article.html.twig' with { 'order_article_action': 'update'} %}
{% include ':user/orders/components:modal_article_price.html.twig' %}
{% include ':user/orders/components:modal_article_description.html.twig' %}
{% include ':user/orders/components:modal_packing_and_transport.html.twig' %}
{% include ':user/orders/components:modal_discount.html.twig' %}
{% include ':user/orders/components:modal_order_supplier.html.twig' %}
<div class="col-lg-6">
    <div class="form-group">
        <i class="fa fa-plus fa-add"  aria-hidden="true" data-toggle="modal" data-target="#addOrderArticleModal" title="{% trans %}Add New Order Article{% endtrans %}"></i>
    </div>
</div>
{% set total_selling_price = 0 %}
<div class="col-lg-12">
    <table class="table table-bordered">
        <thead class="table-header">
        <tr>
            <th>{% trans %}ID{% endtrans %}</th>
            <th>{% trans %}Photo{% endtrans %}</th>
            <th>{% trans %}Description{% endtrans %}</th>
            <th>{% trans %}Quantity{% endtrans %}</th>
            <th>{% trans %}Stock{% endtrans %}</th>
            <th>{% trans %}Order from supplier{% endtrans %}</th>
            <th>{% trans %}Supplier name{% endtrans %}</th>
            <th>{% trans %}Unit purchase price{% endtrans %}</th>
            <th>{% trans %}Unit selling price{% endtrans %}</th>
            <th>{% trans %}Total{% endtrans %}</th>
            <th>{% trans %}Action{% endtrans %}</th>
        </tr>
        </thead>
        <tbody id="articleTable">
            {% for oa in order.orderArticles %}
                <tr class="table-rows">
                    <td>{{ oa.articleNumber }}</td>
                    <td>
                        {% if (oa.article.pictureUrl) and (oa.article.pictureUrl != 'default.jpg') %}
                        <img class="article-photo" rel="popover" data-img="{{ asset(company ~ 'images/') }}{{ oa.article.pictureUrl }}" src="{{ asset(company ~ 'images/') }}{{ oa.article.pictureUrl }}" />
                        {% endif %}
                    </td>
                    {% if oa.description is empty %}
                        {% if locale == constant('AppBundle\\Entity\\FixedTables\\LocaleEntity::ENGLISH') %}
                            <td id="{{ oa.id }}" class="change-description" data-toggle="modal" data-target="#articleDecriptionModal">{{ oa.article.articleName }}</td>
                        {% endif %}
                        {% if locale == constant('AppBundle\\Entity\\FixedTables\\LocaleEntity::DUTCH') %}
                            <td id="{{ oa.id }}" class="change-description" data-toggle="modal" data-target="#articleDecriptionModal">{{ oa.article.articleNameDutch }}</td>
                        {% endif %}
                        {% if locale == constant('AppBundle\\Entity\\FixedTables\\LocaleEntity::GERMAN') %}
                            <td id="{{ oa.id }}" class="change-description" data-toggle="modal" data-target="#articleDecriptionModal">{{ oa.article.articleNameGerman }}</td>
                        {% endif %}
                    {% else %}
                        <td id="{{ oa.id }}" class="change-description" data-toggle="modal" data-target="#articleDecriptionModal">{{ oa.description }}</td>
                    {% endif %}
                    <td>{{ oa.quantity }}</td>
                    <td>{{ oa.inStock }}</td>
                    <td>{{ oa.orderFromSupplier }}</td>
                    <td>{{ oa.supplier.name }}</td>
                    {% if oa.orderArticlePurchasePrice matches '/^\\d+$/' %}
                        <td id="{{ oa.id }}" class="change-price purchase" data-toggle="modal" data-target="#articlePriceModal">&euro; {{ oa.orderArticlePurchasePrice }},00</td>
                    {% elseif oa.orderArticlePurchasePrice matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                        <td id="{{ oa.id }}" class="change-price purchase" data-toggle="modal" data-target="#articlePriceModal">&euro; {{ oa.orderArticlePurchasePrice }}</td>
                    {% endif %}
                    {% if oa.orderArticlePrice matches '/^\\d+$/' %}
                        <td id="{{ oa.id }}" class="change-price selling" data-toggle="modal" data-target="#articlePriceModal">&euro; {{ oa.orderArticlePrice }},00</td>
                    {% elseif oa.orderArticlePrice matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                        <td id="{{ oa.id }}" class="change-price selling" data-toggle="modal" data-target="#articlePriceModal">&euro; {{ oa.orderArticlePrice }}</td>
                    {% endif %}
                    {% if oa.totalSellingPrice matches '/^\\d+$/' %}
                        <td id="{{ oa.id }}" class="change-price purchase" data-toggle="modal" data-target="#articlePriceModal">&euro; {{ oa.totalSellingPrice }},00</td>
                    {% elseif oa.totalSellingPrice matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                        <td id="{{ oa.id }}" class="change-price purchase" data-toggle="modal" data-target="#articlePriceModal">&euro; {{ oa.totalSellingPrice }}</td>
                    {% endif %}
                    <td>
                        <i id="order-article-update-{{ oa.id }}" class="fa fa-pencil icon order-article-update" aria-hidden="true" data-toggle="modal" data-target="#updateOrderArticleModal" title="{% trans %}Update Order Article{% endtrans %}"></i>
                        <i id="order-article-delete-{{ oa.id }}" class="fa fa-trash icon order-article-delete" aria-hidden="true" title="{% trans %}Delete Order Article{% endtrans %}"></i>
                        <i id="order-article-up-{{ oa.id }}" class="fa fa-arrow-up icon order-article-up" aria-hidden="true" title="{% trans %}Up Order Article{% endtrans %}"></i>
                        <i id="order-article-down-{{ oa.id }}" class="fa fa-arrow-down icon order-article-down" aria-hidden="true" title="{% trans %}Down Order Article{% endtrans %}"></i>
                    </td>
                </tr>
                {% set total_selling_price = total_selling_price + oa.totalSellingPrice %}
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-lg-12">
    <div class="form-group">
        <div class="col-sm-3 col-sm-offset-7">
            <span style="float:right">{% trans %}Packing and transport{% endtrans %}</span>
        </div>
        <div class="col-sm-2">
            <span id="packing_and_transport_" data-toggle="modal" data-target="#PackingAndTransport"></span>
        </div>
    </div>
    <br/>
</div>
<div class="col-lg-12">
    <div class="form-group">
        <div class="col-sm-3 col-sm-offset-7">
            <span style="float:right">{% trans %}Discount{% endtrans %}</span>
        </div>
        <div class="col-sm-2">
            <span id="discount_" data-toggle="modal" data-target="#Discount"></span>
        </div>
    </div>
    <br/>
</div>
<div class="col-lg-12">
    <div class="form-group">
        <div class="col-sm-3 col-sm-offset-7">
            <span style="float:right">{% trans %}Order Total{% endtrans %}</span>
        </div>
        <div class="col-sm-2">
            <span id="total_selling_price"></span>
        </div>
    </div>
    <br><br/>
</div>
<div class="col-lg-12">
    <!--<div class="col-lg-2">
        <button type="button" id="invoice-sw" class="btn btn-default btn-block button-color {{ order.id }}">{% trans %}Send Invoice SW{% endtrans %}</button>
    </div>-->
    <div class="col-lg-2">
        <button type="button" id="offer" class="btn btn-default btn-block button-color {{ order.id }}">{% trans %}Send Offer{% endtrans %}</button>
    </div>
    <div class="col-lg-3">
        <button type="button" id="confirmation" class="btn btn-default btn-block button-color {{ order.id }}">{% trans %}Order Confirmation{% endtrans %}</button>
    </div>
    <div class="col-lg-2">
        <button type="button" id="invoice" class="btn btn-default btn-block button-color {{ order.id }}">{% trans %}Send Invoice{% endtrans %}</button>
    </div>
    <div class="col-lg-2">
        <button type="button" id="{{ order.id }}" class="btn btn-default btn-block button-color order-suppliers" data-toggle="modal" data-target="#orderSupplier" >{% trans %}Order from supplier{% endtrans %}</button>
    </div>
    <br><br/>
    <br><br/>
</div>
<script>
    $(document).ready(function() {
        $('#discount_').text('€ ' + $.number(accounting.unformat('{{ order.discount }}'),2,',','.'));
        $('#packing_and_transport_').text('€ ' + $.number(accounting.unformat('{{ order.packingAndTransport }}'),2,',','.'));
        $('#total_selling_price').text('€ ' + $.number(accounting.unformat('{{ order.packingAndTransport + order.discount + total_selling_price }}'),2,',','.'));
        let total_selling_price = {{ total_selling_price }};
        $('.order-article-update').click(function (event) {
            let tableRow = $(this).closest("tr")
                .find("td")
                .map(function() {
                    return $(this).text();
                }).get();
            let data = {};
            data.id = event.target.id.split('-')[3];
            set_update_values_order_article(data);
        });
        $('.order-article-delete').click(function (event) {
            let data = {};
            data.id = event.target.id.split('-')[3];
            $.ajax({
                url: '/orders/delete-order-article',
                type: 'delete',
                data: data,
                success: function () {
                    window.location.reload();
                },
                error: function (result) {
                    let error = {};
                    try {
                        error = JSON.parse(result.responseText);
                    } catch(e) {
                        error.error_message = 'Unknown';
                    }
                    order_article_set_error_message(error.error_message);
                }
            })
        });
        $('.order-article-up').click(function (event) {
            let data = {};
            data.id = event.target.id.split('-')[3];
            $.ajax({
                url: '/orders/up-order-article',
                type: 'patch',
                data: data,
                success: function () {
                    window.location.reload();
                },
                error: function (result) {
                    let error = {};
                    try {
                        error = JSON.parse(result.responseText);
                    } catch(e) {
                        error.error_message = 'Unknown';
                    }
                    order_article_set_error_message(error.error_message);
                }
            })
        });
        $('.order-article-down').click(function (event) {
            let data = {};
            data.id = event.target.id.split('-')[3];
            $.ajax({
                url: '/orders/down-order-article',
                type: 'patch',
                data: data,
                success: function () {
                    window.location.reload();
                },
                error: function (result) {
                    let error = {};
                    try {
                        error = JSON.parse(result.responseText);
                    } catch(e) {
                        error.error_message = 'Unknown';
                    }
                    order_article_set_error_message(error.error_message);
                }
            })
        });
        $('.change-price').click(function (event) {
            let data = {};
            data.id = event.target.id;
            if($(event.target).hasClass('purchase')) {
                data.price_type = 'purchase';
            }
            if($(event.target).hasClass('selling')){
                data.price_type = 'selling';
            }
            set_values_order_article_price(data);
        });
        $('.change-description').click(function (event) {
            let data = {};
            data.id = event.target.id;
            set_values_order_article_description(data);
        });
        $('img[rel=popover]').popover({
            html: true,
            trigger: 'hover',
            content: function () {
                return '<img class="article-photo-popover" src="'+$(this).data('img') + '" />';
            }
        });
        $('.order-supplier').click(function (event) {
            let id = event.target.id;
            $.redirect('/orders/pdf-order-supplier', {'id': id});
        });
        $('#invoice').click(function (event) {
            if(confirm("Are you sure to send invoice, if yes click on OK"))
            {
                let id = ($('#' + event.target.id).attr('class').split(/\s+/))[4];
                $.redirect('/orders/' + id +'/pdf-view-order',
                    {
                        'id': id,
                        'mail_type': '{{ constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::INVOICE_SENT') }}',
                        'packing_and_transport': $('#packing_and_transport').val()
                    }
                );
            }
        });
        /*$('#invoice-sw').click(function (event) {
            let id = ($('#' + event.target.id).attr('class').split(/\s+/))[4];
            $.redirect('/orders/pdf-view-order', {'id': id, 'mode': ' constant('AppBundle\Entity\User\Orders\FixedTabels\OrderMailStatusEntity::INVOICE_SENT') '});
        });*/
        $('#offer').click(function (event) {
            let id = ($('#' + event.target.id).attr('class').split(/\s+/))[4];
            $.redirect('/orders/' + id + '/pdf-view-order',
                {
                    'id': id,
                    'mail_type': '{{ constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::OFFER_EMAILED') }}'
                }
            );
        });
        $('#confirmation').click(function (event) {
            let id = ($('#' + event.target.id).attr('class').split(/\s+/))[4];
            $.redirect('/orders/' + id + '/pdf-view-order',
                {
                    'id': id,
                    'mail_type': '{{ constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::ORDER_CONFIRMATION_EMAILED') }}'
                });
        });
        $('#packing_and_transport_').click(function (event) {
            set_values_packing_and_transport({{ order.id }});
        });
        $('#discount_').click(function (event) {
            set_values_discount({{ order.id }});
        });
    });
    //0644192824 Rade V Beogradska gimnazija
    //0654185087 Aljosa Borisov drugar iz skole
    // Borisov telefon
</script>



