{% include ':components:html_error.html.twig' with {'context' : 'sent_emails' } %}
{% include ':components:mail_view.html.twig' %}
<div class="col-lg-12">
    <table class="table table-bordered">
        <thead class="table-header">
        <tr>
            <th>{% trans %}Sent{% endtrans %}</th>
            <th>{% trans %}Mail type{% endtrans %}</th>
            <th>{% trans %}Send to{% endtrans %}</th>
            <th>{% trans %}Action{% endtrans %}</th>
        </tr>
        </thead>
        <tbody id="articleTable">
        {% for mail in sent_mails %}
            <tr class="table-rows">
                <td>{{ mail.createdString }}</td>
                <td>{{ mail.orderMailStatus.name|trans }}</td>
                <td>{{ mail.sendTo }}</td>
                <td class="th-center">
                    <i id="view-mail-{{ mail.id }}" class="fa fa-eye icon view view-mail" aria-hidden="true" title="{% trans %}View Email{% endtrans %}"></i>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        $('.view-mail').click(function (event) {
            let id = event.target.id.split('-')[2];
            window.location.href = '/orders/get-email/' + id;
        });
    });
</script>