{% set order_administrative_notes_context = 'order_administrative_notes' %}
{% include ':components:html_error.html.twig' with {'context' : order_administrative_notes_context } %}
{% include ':user/orders/components:modal_administrative_notes.html.twig' with {'title': 'Administrative note', 'notes_action': 'add_administrative'} %}
{% include ':user/orders/components:modal_administrative_notes.html.twig' with {'title': 'Administrative note', 'notes_action': 'update_administrative'} %}
<div class="col-lg-12 hide_editing_note">
    <div class="form-group">
        <i class="fa fa-plus fa-add"  aria-hidden="true" data-toggle="modal" data-target="#add_administrativeNotesModal" title="{% trans %}Add New Administrative Note{% endtrans %}"></i>
        {% set oanpn = order_administrative_notes_page_number %}
        {% set oanps = order_administrative_notes_page_size %}
        {% set oantnop =  order_administrative_notes_total_number_of_pages %}
        {% include ':components:paging_ajax.html.twig' with {
            'parent_id': order.id,
            'paging_entity_name': 'order_administrative_notes',
            'page_number': oanpn,
            'page_size': oanps,
            'total_number_of_pages': oantnop,
            'get_page': '/orders/get-administrative-notes',
            'context': order_administrative_notes_context
        }%}
    </div>
</div>
<div class="comments administrative-notes-comments">
    {% for note in order_administrative_notes  %}
        <div class="comment-block">
            <div class="bottom-comment">
                <div class="comment-date">{% trans %}Created by{% endtrans %}: {{ note.username }}, {{ note.updatedString }}</div>
                <ul class="comment-actions">
                    <i id="administrative-notes-update-{{ note.id }}" class="fa fa-pencil icon administrative-notes-update" aria-hidden="true" data-toggle="modal" data-target="#update_administrativeNotesModal" title="{% trans %}Update Administrative Note{% endtrans %}"></i>
                    <i id="administrative-notes-delete-{{ note.id }}" class="fa fa-trash icon administrative-notes-delete" aria-hidden="true" title="{% trans %}Delete Administrative Note{% endtrans %}"></i>
                </ul>
            </div><br/>
            <p class="comment-text" id="administrative-comment-text-{{ note.id }}">{{ note.note }}</p>
        </div>
    {% endfor %}
</div>
<br/>
<script>
    $(document).ready(function() {
        $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        let activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('#myTab a[href="' + activeTab + '"]').tab('show');
        }
    });
    {% if Action == 'view' %}
    $('.hide_editing_note').hide();
    {% endif %}
    $(".administrative-notes-update").click(function (event) {
        let data = {};
        let notes;
        data.id = event.target.id.split("-")[3];
        notes = $('#administrative-comment-text-' + data.id).text();
        data.note = notes;
        set_update_values_administrative_notes(data);
    });
    $(".administrative-notes-delete").click(function () {
        let data = {};
        data.id = event.target.id.split("-")[3];
        $.ajax({
            url: '/debtors/delete-note',
            type: 'delete',
            data: data,
            success: function (result) {
                window.location.reload();
            },
            error: function (result) {
                let error = {};
                try {
                    let error = JSON.parse(result.responseText);
                } catch(e) {
                    error.error_message = 'Unknown';
                }
                {{ order_administrative_notes_context }}_set_error_message(error.error_message);
            }
        })
    });
    function {{ order_administrative_notes_context }}_render(notes) {
        let html = '';
        $.each(notes, function(index, note) {
            html += "<div class='comment-block'>";
            html += "<div class='bottom-comment'>";
            html += "<div class='comment-date'>Created by:" + note.username + "," + note.updatedString + "</div>";
            html += "<ul class='comment-actions'>";
            html += "<i id='" + 'notes-update-' + note.id + "' class='fa fa-pencil icon notes-update' aria-hidden='true' data-toggle='modal' data-target='#updateNotesModal'></i>";
            html += "<i id='" + 'notes-delete-' + note.id + "' class='fa fa-trash icon notes-delete' aria-hidden='true'></i>";
            html += "</ul>";
            html += "</div><br/>";
            html += "<p class='comment-text' id='" + 'comment-text-' + note.id + "'>'" + note.note + "</p>";
            html += "</div>";
        });
        $('.administrative-notes-comments').html(html);
    };
</script>