{% include ':user/orders/components:modal_file_upload.html.twig' %}
<div class="col-lg-6">
    <div class="form-group">
        <i class="fa fa-plus fa-add"  aria-hidden="true" data-toggle="modal" data-target="#pdf-upload" title="{% trans %}Upload New PDF{% endtrans %}"></i>
    </div>
</div>
<div class="col-lg-12">
    <table class="table table-bordered">
        <thead class="table-header">
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Created{% endtrans %}</th>
            <th>{% trans %}Action{% endtrans %}</th>
        </tr>
        </thead>
        <tbody class="default-table-body">
        {% for file in order_files %}
            <tr class="table-rows">
                <td>{{ file.name }}</td>
                <td>{{ file.createdString }}</td>
                <td class="th-center">
                    <i id="look-{{ file.id }}" class="fa fa-eye icon view-uploaded-file" aria-hidden="true"></i>&nbsp;
                    <i id="delete-{{ file.id }}" class="fa fa-trash icon delete-uploaded-file" aria-hidden="true"></i>&nbsp;
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('.view-uploaded-file').click(function (event) {
            let id = event.target.id.split('-')[1];
            window.location.href = '/orders/get_uploaded_file/' + id;
        });
        $('.delete-uploaded-file').click(function (event) {
            let id = event.target.id.split('-')[1];
            $.ajax({
                url: '/orders/delete_uploaded_file',
                data: {'id' : id},
                type: 'post',
                success: function(result) {
                    window.location.reload();
                },
                error: function(result) {
                    alert('error');
                }
            })
        });
    });
</script>



