<div class="modal fade modal-draggable" id="pdf-upload" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Upload{% endtrans %} PDF</h4>
            </div>
            <div class="modal-body">
                <input type='file' id="file-pdf" class="btn btn-default btn-md button-color" style="float:left; margin-left: 10px"   accept="application/pdf, image/*" multiple /><br><br/>
                <button type="button" value="{% trans %}Submit{% endtrans %}" id="upload-file" class="btn btn-default btn-block button-color">{% trans %}Submit{% endtrans %}</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".modal-draggable .modal-dialog").draggable({
            handle: ".modal-header"
        });
    $("#upload-file").click(function () {
        let form = new FormData();
        let files = $("#file-pdf")[0].files;
        form.append('order_number', '{{ order.orderNumber }}');
        form.append('name', $('#name').val());
        if(files.length > 0){
            $.each(files, function(i, file) {
                form.append('file[]', file);
            });
        }
        $.ajax({
            url: '/orders/upload_order_file',
            data: form,
            type: 'post',
            contentType: false,
            processData: false,
            success: function(result) {
                window.location.reload();
            },
            error: function(result) {
                alert('error');
            }
        })
    });
    });
</script>