<div class="modal fade modal-draggable" id="Discount" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Discount{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                {% include ':components:modal_error.html.twig' with {'context': 'Discount'}%}
                <input type="hidden" id="order_id" />
                <div class="form-inline">
                    <label style="float: left;" for="discount">{% trans %}Discount{% endtrans %}:</label>
                    <input style="float: right;" type="number" class="form-control input-sm" id="discount">
                    <br/>
                </div>
                <br/>
                <button type="button" id="submit-discount"  class="btn btn-default btn-block button-color">{% trans %}Submit{% endtrans %}</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    function set_values_discount(order_id) {
        let data = {};
        data.order_id = order_id;
        $('#order_id').val(order_id);
        $.ajax({
            url: '/orders/discount',
            type: 'post',
            data: data,
            success: function (result) {
                try {
                    let order = JSON.parse(result);
                    $('#discount').val(order.discount);
                } catch (e) {
                    Discount_set_error_message('Order data inconsistent');
                }
            },
            error: function (result) {
                let error = {};
                try {
                    error = JSON.parse(result.responseText);
                } catch (e) {
                    error.error_message = 'Unknown';
                }
                Discount_set_error_message(error.error_message);
            }
        });
    }
    $('#submit-discount').click(function (event) {
        let data = {};
        data.order_id = $('#order_id').val();
        data.discount = $('#discount').val();
        $.ajax({
            url: '/orders/discount',
            type: 'put',
            data: data,
            success: function (result) {
                window.location.reload();
            },
            error: function(result) {
                let error = {};
                try {
                    error = JSON.parse(result.responseText);
                } catch(e) {
                    error.error_message = 'Unknown';
                }
                Discount_set_error_message(error.error_message);
            }
        });
    });
</script>