<div class="modal fade modal-draggable" id="{{ article_action }}ArticleModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ article_action }} Articles</h4>
            </div>
            <div class="modal-body">
                {% include ':components:modal_error.html.twig' with {'context': article_action ~ 'Article'}%}
                <div class="form-group">
                    <label for="add-contact-person-name">{% trans %}Article Number{% endtrans %}:</label>
                    <input type="text" class="form-control" id="{{ article_action }}-article-number" {% if article_action == 'update' %} disabled {% endif %}/>
                </div>
                <div class="form-group">
                    <label for="add-contact-person-email">{% trans %}Article Name{% endtrans %}:</label>
                    <input type="text" class="form-control" id="{{ article_action }}-article-name">
                </div>
                <div class="form-group">
                    <label for="phone">{% trans %}size{% endtrans %}:</label>
                    <input type="text" class="form-control" id="{{ article_action }}-size">
                </div>
                <div class="form-group">
                    <label for="phone">{% trans %}Purchase Price{% endtrans %}:</label>
                    <input type="text" class="form-control" id="{{ article_action }}-purchase-price">
                </div>
                <div class="form-group">
                    <label for="phone">{% trans %}Selling Price{% endtrans %}:</label>
                    <input type="text" class="form-control" id="{{ article_action }}-selling-price">
                </div>
                <div class="form-group">
                    <label for="phone">{% trans %}Selling Price with VAT{% endtrans %}:</label>
                    <input type="text" class="form-control" id="{{ article_action }}-selling-price-with-pdv">
                </div>
                <div class="form-group">
                    <label for="phone">{% trans %}Description{% endtrans %}:</label>
                    <input type="text" class="form-control" id="{{ article_action }}-description">
                </div>
                <div class="form-group">
                    <select id="{{ article_action }}-category" class="form-control">
                        <option selected disabled hidden>{% trans %}Choose..{% endtrans %}</option>
                        {% for ac in article_categories %}
                            <option value="{{ ac.name }}">{{ ac.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="picture">{% trans %}Picture{% endtrans %}:</label>
                </div>
                <button type="button" value="Submit" id="submit-{{ article_action }}-article" class="btn btn-default btn-block button-color">{% trans %}Submit{% endtrans %}</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(".modal-draggable .modal-dialog").draggable({
        handle: ".modal-header"
    });
    {% if article_action == 'update' %}
    function set_update_values_article(article) {
        $.ajax({
            url: '/articles',
            type: 'post',
            data: article,
            success: function (result) {
                try {
                    article = JSON.parse(result);
                    $("#update-article-number").val(article.articleNumber);
                    $("#update-article-name").val(article.articleName);
                    $("#update-size").val(article.size);
                    $("#update-purchase-price").val(article.purchasePrice);
                    $("#update-selling-price").val(article.sellingPrice);
                    $("#update-selling-price-with-pdv").val(article.sellingPriceWithPdv);
                    $("#update-description").val(article.description);
                    $("#update-category").val(article.categoryName);
                } catch(e) {
                    updateArticle_set_error_message('Article data inconsistent');
                }
            },
            error: function(result) {
                try {
                    let error = JSON.parse(result.responseText);
                    updateArticle_set_error_message(error.error_message);
                } catch(e) {
                    updateArticle_set_error_message('Unknown');
                }
            }
        });
    };
    {% endif %}
    $("#submit-{{ article_action }}-article").click(function (event) {
        let data = {};
        data.article_number = $("#{{ article_action }}-article-number").val();
        data.article_name = $("#{{ article_action }}-article-name").val();
        data.size = $("#{{ article_action }}-size").val();
        data.purchase_price = $("#{{ article_action }}-purchase-price").val();
        data.selling_price = $("#{{ article_action }}-selling-price").val();
        data.selling_price_with_pdv = $("#{{ article_action }}-selling-price-with-pdv").val();
        data.description = $("#{{ article_action }}-description").val();
        data.category = $("#{{ article_action }}-category").val();
        $.ajax({
            {% if article_action == 'add'%}
            url: '/articles/add-article',
            type: 'post',
            {% elseif article_action == 'update' %}
            url: '/articles/update-article',
            type: 'put',
            {% endif %}
            data: data,
            success: function (result) {
                window.location.reload();
            },
            error: function (result) {
                try {
                    let error = JSON.parse(result.responseText);
                    {{ article_action }}Article_set_error_message(error.error_message);
                } catch(e) {
                    {{ article_action }}Article_set_error_message('Unknown');
                }
            }
        })
    })
</script>