<div class="modal fade modal-draggable" id="articleDecriptionModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Article description{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                {% include ':components:modal_error.html.twig' with {'context': 'DescriptionArticle'}%}
                <input type="hidden" id="order_article_id" />
                <span style="float: left;">{% trans %}Article description{% endtrans %}:</span>
                <span style="float: left; padding-left: 95px;" id="article_description"></span><br/>
                <hr>
                <div class="col-lg-12">
                    <div class="form-group col-xs-12">
                        <label for="label-order-article-price" style="float: left">{% trans %}Description{% endtrans %}:</label>
                        <textarea  id="order_article_description" class="form-control input-sm" rows="8" ></textarea>
                    </div>
                </div>
                <br/>
                <button type="button" id="change-description"  class="btn btn-default btn-block button-color">{% trans %}Change{% endtrans %}</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    function set_values_order_article_description(order_article) {
        let data = {};
        data.order_article_id = order_article.id;
        $('#order_article_id').val(order_article.id);
        $('#article_description').text('');
        $.ajax({
            url: '/orders/order-article-description',
            type: 'get',
            data: data,
            success: function (result) {
                try {
                    let description = JSON.parse(result);
                    $('#article_description').append( description );
                } catch(e) {
                    DescriptionArticle_set_error_message('Order article data inconsistent');
                }
            },
            error: function(result) {
                let error = {};
                try {
                    error = JSON.parse(result.responseText);
                } catch(e) {
                    error.error_message = 'Unknown';
                }
                DescriptionArticle_set_error_message(error.error_message);
            }
        });
        $('#change-description').click(function (event) {
            let data = {};
            data.order_article_id = $('#order_article_id').val();
            data.order_article_description = $('#order_article_description').val();
            $.ajax({
                url: '/orders/order-article-description',
                type: 'put',
                data: data,
                success: function (result) {
                    window.location.reload();
                },
                error: function(result) {
                    let error = {};
                    try {
                        error = JSON.parse(result.responseText);
                    } catch(e) {
                        error.error_message = 'Unknown';
                    }
                    DescriptionArticle_set_error_message(error.error_message);
                }
            });
        })
    }
</script>