<div class="modal fade modal-draggable" id="pdf-upload" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Upload{% endtrans %} PDF</h4>
            </div>
            <div class="modal-body">
                <input type='file' id="file-pdf" class="btn btn-default btn-md button-color" style="float:left; margin-left: 10px"   accept="application/pdf"/>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label style="float: left" for="name">{% trans %}Name{% endtrans %} :</label>
                        <input style="z-index: 0" type="text" class="form-control" id="name" required="required" />
                    </div>
                    <br/>
                    <div class="content-view">
                        <iframe id="pdf-view" width="100%" height="100%"></iframe>
                    </div><br>
                </div>
                <button type="button" value="{% trans %}Submit{% endtrans %}" id="upload-file" class="btn btn-default btn-block button-color">{% trans %}Submit{% endtrans %}</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".modal-draggable .modal-dialog").draggable({
            handle: ".modal-header"
        });
    $("#file-pdf").change(function(){
        $('#pdf-view').attr('src', "");
        let pdf_file = document.getElementById('file-pdf');
        let reader = new FileReader();
        reader.readAsDataURL(pdf_file.files[0]);
        reader.onload = function(e) {
            $('#pdf-view').attr('src', e.target.result);
        }
    });
    $("#upload-file").click(function () {
        let form = new FormData();
        let pdf_file = document.getElementById('file-pdf');
        form.append('order_number', '{{ order.orderNumber }}');
        form.append('name', $('#name').val());
        form.append('pdf', pdf_file.files[0]);
        $.ajax({
            url: '/orders/upload_order_file',
            data: form,
            type: 'post',
            contentType: false,
            processData: false,
            success: function(result) {
                window.location.reload();
            },
            error: function(result) {
                alert('error');
            }
        })
    });
    });
</script>