<div class="modal fade modal-draggable" id="{{ order_article_action }}OrderArticleModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Articles{% endtrans %}</h4>
            </div>
            {% if order_article_action != 'add' %}
                <input type="hidden" id="order-article-id">
            {% endif %}
            <div class="modal-body">
                {% include ':components:modal_error.html.twig' with {'context': order_article_action ~ 'OrderArticle'}%}
                <div class="form-horizontal">
                    <div class="col-lg-12">
                        <div class="form-group">
                            {% if order_article_action == 'add' %}
                                <div class="col-sm-8" id="add-div">
                                    <label style="float: left">{% trans %}Article Number/Name{% endtrans %}:</label><br/><br/>
                                    <select id="add-order-article-number" class="js-data-example-ajax js-states form-control select2-hidden-accessible"></select>
                                </div>
                            {% else %}
                                <div class="col-sm-8">
                                    <label style="float: left">{% trans %}Article Number/Name{% endtrans %}:</label><br/><br/>
                                    <input type="text" class="form-control" id="update-order-article-number" disabled>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div id="{{ order_article_action }}-picture-group" class="form-group col-sm-4 col-xs-offset-1" {% if order_article_action == 'add' %} hidden {% endif %}>
                            <label for="photo" style="float: left">{% trans %}Article Photo{% endtrans %}:</label>
                            <img id="{{ order_article_action }}-preview" class="photo-preview" src="{{ asset('images/preview.png') }}"/>
                        </div>
                        <div id="{{ order_article_action }}-order-article-description-group" class="form-group col-sm-8" style="float: right" {% if order_article_action == 'add' %} hidden {% endif %}>
                            <label style="float: left" for="add-contact-person-email">{% trans %}Description{% endtrans %}:</label>
                            <input type="text" class="form-control" id="{{ order_article_action }}-order-article-description" disabled>
                        </div>
                        <div id="{{ order_article_action }}-hide" style="float: right;" class="form-group col-sm-3" {% if order_article_action == 'add' %} hidden {% endif %}>
                            <label for="sel1">Show:</label>
                            <select class="form-control" id="{{ order_article_action }}-show">
                                <option selected disabled hidden>{% trans %}Choose..{% endtrans %}</option>
                                <option value="1">{% trans %}Yes{% endtrans %}</option>
                                <option value="0">{% trans %}No{% endtrans %}</option>
                            </select>
                        </div>
                        <div id="{{ order_article_action }}-order-article-size-group" style="float: right; margin-right: 5px"  class="form-group col-sm-4" {% if order_article_action == 'add' %} hidden {% endif %}>
                            <label style="float: left" for="phone">{% trans %}Size{% endtrans %}:</label>
                            <input type="text" class="form-control" id="{{ order_article_action }}-order-article-size" disabled>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label style="float: left" for="phone">{% trans %}Material / Size{% endtrans %}:</label>
                                <input type="text" class="form-control" id="{{ order_article_action }}-order-article-material" maxlength="100">
                            </div>
                            <div class="col-sm-4">
                                <label style="float: left" for="phone">{% trans %}Color{% endtrans %}:</label>
                                <input type="text" class="form-control" id="{{ order_article_action }}-order-article-color" maxlength="100">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label  style="float: left" for="phone">{% trans %}Quantity{% endtrans %}:</label>
                                <input type="text" class="form-control" id="{{ order_article_action }}-order-article-quantity">
                            </div>
                            <div class="col-sm-4">
                                <label  style="float: left" for="phone">{% trans %}In stock{% endtrans %}:</label>
                                <input type="text" class="form-control" id="{{ order_article_action }}-order-article-in-stock">
                            </div>
                            <div class="col-sm-4">
                                <label  style="float: left" for="phone">{% trans %}Order from supplier{% endtrans %}:</label>
                                <input type="text" class="form-control" id="{{ order_article_action }}-order-article-order-from-supplier">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label style="float: left">{% trans %}Supplier{% endtrans %}:</label>
                                <select id="{{ order_article_action }}-order-article-supplier-name" class="form-control">
                                    <option selected disabled hidden>{% trans %}Choose..{% endtrans %}</option>
                                    {% for supplier_name in supplier_names %}
                                        <option value="{{ supplier_name }}">{{ supplier_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label style="float: left" for="phone">{% trans %}Delivered{% endtrans %}:</label>
                                <input type="text" class="form-control datepicker" id="{{ order_article_action }}-order-article-delivered">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                            <label style="float: left" for="phone">{% trans %}Details{% endtrans %}:</label>
                        <textarea maxlength="1000" class="form-control" rows="4" id="{{ order_article_action }}-order-article-details"></textarea>
                        <br/>
                    </div>
                </div>
                <button type="button" value="{% trans %}Submit{% endtrans %}" id="submit-{{ order_article_action }}-order-article-{{ order.id }}" class="btn btn-default btn-block button-color submit-{{ order_article_action }}-order-article">{% trans %}Submit{% endtrans %}</button>
            </div>
            <div class="modal-footer">
                <button type="button" id="close-modal" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $( ".datepicker" ).datepicker({
        dateFormat: 'dd-mm-yy',
        onSelect: function () {
            $('#{{ order_article_action }}-order-article-delivered').val(this.value);
        }
    });
    $('#addOrderArticleModal').on('show.bs.modal', function () {
        $.ajax({
            url: '/articles/article-number-name',
            type: 'get',
            success: function (response) {
                let article_number_name = JSON.parse(response);
                $(".js-data-example-ajax").select2({
                    data: article_number_name.result,
                    templateResult: formatState,
                    matcher: matchCustom
                })
            },
            error: function (response) {
                let error = {};
                try {
                    error = JSON.parse(result.responseText);
                } catch (e) {
                    error.error_message = 'Unknown';
                }
                {{ order_article_action }}OrderArticle_set_error_message(error.error_message);
            }
        });
    });
    $(".modal-draggable .modal-dialog").draggable({
        handle: ".modal-header"
    });
    $('.js-data-example-ajax').change(function() {
        let data = {};
        data.article_number = $('.js-data-example-ajax').val();
        if (data.article_number === "default"){
            $('#{{ order_article_action }}-order-article-description-group').hide();
            $('#{{ order_article_action }}-order-article-size-group').hide();
            $('#{{ order_article_action }}-picture-group').hide();
        } else {
            $.ajax({
                url:'/articles/get-description-size',
                type: 'post',
                data: data,
                success: function (result) {
                    let data = {};
                    try {
                        data = JSON.parse(result);
                    } catch(e) {
                        {{ order_article_action }}OrderArticle_set_error_message('Article data inconsistent');
                    }
                    $('#{{ order_article_action }}-order-article-description-group').show();
                    $('#{{ order_article_action }}-order-article-description').val(data.description);
                    $('#{{ order_article_action }}-order-article-size-group').show();
                    $('#{{ order_article_action }}-hide').show();
                    $('#{{ order_article_action }}-order-article-size').val(data.size);
                    $('#{{ order_article_action }}-picture-group').show();
                    $('#{{ order_article_action }}-preview').attr('src','{{ asset(company ~ 'images/') }}'+data.picture_url);
                },
                error: function (result) {
                    let error = {};
                    error = JSON.parse(result.responseText);

                    {{ order_article_action }}OrderArticle_set_error_message(error.error_message);
                }
            })
        }
    });
    {% if order_article_action != 'add' %}
    function set_update_values_order_article(order_article) {
        $('#order-article-id').val(order_article.id);
        $.ajax({
            url: '/orders/get-article',
            type: 'get',
            data: order_article,
            success: function (result) {
                try {
                    //console.log(result);
                    let order_article = JSON.parse(result);
                    set_form_data(order_article);
                } catch(e) {
                    updateOrderArticle_set_error_message('Article data inconsistent');
                }
            },
            error: function(result) {
                let error = {};
                //console.log(result.responseText);
                try {
                    error = JSON.parse(result.responseText);
                } catch(e) {
                    error.error_message = 'Unknown';
                }
                updateOrderArticle_set_error_message(error.error_message);
            }
        });
        function set_form_data(order_article) {
            //$("#update-order-article-number").val(order_article.article_number);
            //console.log('a ' + selected_article_number);
            $('#update-order-article-number').val(order_article.article_number);
            $("#update-order-article-description").val(order_article.article_name);
            $("#update-order-article-size").val(order_article.size);
            $("#update-order-article-color").val(order_article.color);
            $("#update-order-article-material").val(order_article.material);
            $("#update-order-article-quantity").val(order_article.quantity);
            $("#update-order-article-in-stock").val(order_article.in_stock);
            $("#update-order-article-order-from-supplier").val(order_article.order_from_supplier);
            $("#update-order-article-supplier-name").val(order_article.supplier_name);
            $("#update-order-article-details").val(order_article.details);
            $("#update-show").val(order_article.show ? '1' : '0');
            $('.datepicker').val(order_article.delivered);
            if(order_article.picture_url !== '' && order_article.picture_url !== 'default.jpg'){
                $('#update-preview').attr('src','{{ asset(company ~ 'images/') }}'+order_article.picture_url);
            }
        }
    };
    {% endif %}
    $('.submit-{{ order_article_action }}-order-article').click(function (event) {
        let data = {};
        {% if order_article_action != 'add' %}
            data.id = $('#order-article-id').val();
        {% endif %}
        data.article_number = $('#{{ order_article_action }}-order-article-number').val();
        data.material = $('#{{ order_article_action }}-order-article-material').val();
        data.color = $('#{{ order_article_action }}-order-article-color').val();
        data.quantity = $('#{{ order_article_action }}-order-article-quantity').val();
        data.in_stock = $('#{{ order_article_action }}-order-article-in-stock').val();
        data.order_from_supplier = $('#{{ order_article_action }}-order-article-order-from-supplier').val();
        data.supplier_name = $('#{{ order_article_action }}-order-article-supplier-name').val();
        data.details = $('#{{ order_article_action }}-order-article-details').val();
        data.delivered = $('#{{ order_article_action }}-order-article-delivered').val();
        data.order_id = event.target.id.split('-')[4];
        data.show = $('#{{ order_article_action }}-show').val();

        if(data.article_number !== "default" || data.supplier_name !== "default"){
            $.ajax({
                {% if order_article_action == 'add'%}
                url: '/orders/add-order-article',
                type: 'post',
                {% elseif order_article_action == 'update' %}
                url: '/orders/update-order-article',
                type: 'put',
                {% endif %}
                data: data,
                success: function (result) {
                    window.location.href = '/orders/' + data.order_id + '/update-order';
                },
                error: function (result) {
                    let error = {};
                    try {
                        error = JSON.parse(result.responseText);
                    } catch(e) {
                        error.error_message = 'Unknown';
                    }
                    {{ order_article_action }}OrderArticle_set_error_message(error.error_message);
                }
            })
        } else {
            let error_message = "You have to choose Article Number and Supplier Name";
            {{ order_article_action }}OrderArticle_set_error_message(error_message);
        }
    });

    function formatState (state) {
        if (state.image) {
            var $state = $(
                '<span><img alt src="/Company/DejongInterieur/images/' + state.image + '" class="img-flag" /> ' + state.id + " - " + state.description + '</span>'
            );
        } else {
            var $state = $(
                '<span>' + state.id + " - " + state.description + '</span>'
            );
        }

        return $state;
    }

    function matchCustom(params, data) {
        // If there are no search terms, return all of the data
        if ($.trim(params.term) === '') {
            return data;
        }

        // Do not display the item if there is no 'text' property
        if (typeof data.text === 'undefined') {
            return null;
        }

        // `params.term` should be the term that is used for searching
        // `data.text` is the text that is displayed for the data object
        if (data.search.indexOf(params.term) > -1) {
            var modifiedData = $.extend({}, data, true);
            modifiedData.text += ' (matched)';

            // You can return modified objects from here
            // This includes matching the `children` how you want in nested data sets
            return modifiedData;
        }

        // Return `null` if the term should not be displayed
        return null;
    }
    //dezurni inspektor droga Vracar 2798101
</script>