<div class="modal fade modal-draggable" id="{{ notes_action }}NotesModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body">
                {% include ':components:modal_error.html.twig' with {'context': notes_action ~ 'Notes'}%}
                <input type="hidden" id="{{ notes_action }}-note-id"/>
                <div class="form-group">
                    <label for="{{ notes_action }}-note" style="float: left">{% trans %}Note{% endtrans %}:</label>
                    <textarea  id="{{ notes_action }}-note" class="form-control" rows="8" maxlength="9000"></textarea>
                </div>
                <button type="button" value="{% trans %}Submit{% endtrans %}" id="submit-{{ notes_action }}-notes-{{ order.debtor.id }}" class="btn btn-default btn-block button-color submit-{{ notes_action }}-notes">{% trans %}Submit{% endtrans %}</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(".modal-draggable .modal-dialog").draggable({
        handle: ".modal-header"
    });
    {% if notes_action == 'update_administrative' %}
    function set_update_values_administrative_notes(note){
        $("#{{ notes_action }}-note").val(note.note);
        $('#{{ notes_action }}-note-id').val(note.id);
    }
    {% endif %}
    $(".submit-{{ notes_action }}-notes").click(function (event) {
        let data = {};
        {% if notes_action == 'update_administrative' %}
            data.id = $('#{{ notes_action }}-note-id').val();
        {% endif %}
        data.debtor_id = event.target.id.split('-')[3];
        data.note = $("#{{ notes_action }}-note").val();
        $.ajax({
            {% if notes_action == 'add_administrative' %}
                url: '/debtors/add-note',
                type: 'post',
            {% elseif notes_action == 'update_administrative' %}
                url: '/debtors/update-note',
                type: 'put',
            {% endif %}
            data: data,
            success: function (result) {
                window.location.reload();
            },
            error: function (result) {
                let error ={};
                try {
                    let error = JSON.parse(result.responseText);
                } catch (e) {
                    error.error_message = 'Unknown';
                }
                {{ notes_action }}Notes_set_error_message(error.error_message);
            }
        })
    })
</script>