<div class="modal fade modal-draggable" id="articlePriceModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Price{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                {% include ':components:modal_error.html.twig' with {'context': 'PriceArticle'}%}
                <input type="hidden" id="order_article_id" />
                <input type="hidden" id="order_article_price_type" />
                <span style="float: left;">{% trans %}Debtor type{% endtrans %}:</span>
                <span style="float: left; padding-left: 95px;" id="debtor_type"></span><br/>
                <span style="float: left;">{% trans %}Purchase Price{% endtrans %}:</span>
                <span style="float: left; padding-left: 77px;" id="purchase_price"></span><br/>
                <span style="float: left;">{% trans %}Selling Price{% endtrans %}:</span>
                <span style="float: left; padding-left: 94px;" id="selling_price"></span><br/>
                <span style="float: left;">{% trans %}Selling Price with VAT{% endtrans %}:</span>
                <span style="float: left; padding-left: 30px;" id="selling_price_with_pdv"></span><br/>
                <hr>
                <div class="form-inline">
                    <label id="label-order-article-price" style="float: left;" for="order_article_price" hidden>{% trans %}Order Article Selling Price{% endtrans %}:</label>
                    <label id="label-order-article-purchase-price" style="float: left;" for="order_article_purchase_price" hidden>{% trans %}Order Article Purchase Price{% endtrans %}:</label>
                    <input style="float: right;" type="number" class="form-control input-sm" id="order_article_price">
                <br/>
                </div>
                <br/>
                <button type="button" id="change-price"  class="btn btn-default btn-block button-color">{% trans %}Change{% endtrans %}</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
        function set_values_order_article_price(order_article) {
            let data = {};
            data.order_article_id = order_article.id;
            data.price_type = order_article.price_type;
            $('#order_article_id').val(order_article.id);
            $('#order_article_price_type').val(order_article.price_type);
            $('#debtor_type').text('');
            $('#purchase_price').text('');
            $('#selling_price').text('');
            $('#selling_price_with_pdv').text('');
            $.ajax({
                url: '/orders/prices',
                type: 'post',
                data: data,
                success: function (result) {
                    try {
                        let order_article = JSON.parse(result);
                        $('#debtor_type').append(order_article.debtor_type);
                        $('#purchase_price').append("&euro; " + order_article.purchase_price + ",00" );
                        $('#selling_price').append("&euro; " + order_article.selling_price + ",00");
                        $('#selling_price_with_pdv').append("&euro; " + order_article.selling_price_with_pdv + ",00");
                        switch(order_article.price_type) {
                            case 'purchase':
                                $('#label-order-article-purchase-price').show();
                                $('#label-order-article-price').hide();
                                $('#order_article_price').val(order_article.order_article_purchase_price);
                                break;
                            case 'selling':
                                $('#label-order-article-price').show();
                                $('#label-order-article-purchase-price').hide();
                                $('#order_article_price').val(order_article.order_article_price);
                                break;
                            default:

                        }
                    } catch(e) {
                        PriceArticle_set_error_message('Order article data inconsistent');
                    }
                },
                error: function(result) {
                    let error = {};
                    try {
                        error = JSON.parse(result.responseText);
                    } catch(e) {
                        error.error_message = 'Unknown';
                    }
                    PriceArticle_set_error_message(error.error_message);
                }
            });
            $('#change-price').click(function (event) {
                let data = {};
                data.order_article_id = $('#order_article_id').val();
                data.price_type = $('#order_article_price_type').val();
                data.order_article_price = $('#order_article_price').val();
                $.ajax({
                    url: '/orders/prices',
                    type: 'put',
                    data: data,
                    success: function (result) {
                        window.location.reload();
                    },
                    error: function(result) {
                        let error = {};
                        try {
                            error = JSON.parse(result.responseText);
                        } catch(e) {
                            error.error_message = 'Unknown';
                        }
                        PriceArticle_set_error_message(error.error_message);
                    }
                });
            })
        }
</script>