<div class="modal fade modal-draggable" id="orderSupplier" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Supplier{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="update-invoice-order-id" hidden />
                <div class="form-group">
                    <label for="change-supplier" style="float: left">{% trans %}Supplier{% endtrans %}:</label>
                    <select id="change-supplier" class="form-control">
                        <option selected disabled hidden>{% trans %}Choose..{% endtrans %}</option>
                        {% for order_supplier in order_suppliers %}
                            <option value="{{ order_supplier.supplier_id }}">{{ order_supplier.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="button" value="Submit" id="submit-open-pdf-order-supplier" class="btn btn-default btn-block button-color">{% trans %}Submit{% endtrans %}</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".modal-draggable .modal-dialog").draggable({
            handle: ".modal-header"
        });
        $('#submit-open-pdf-order-supplier').click(function (event) {
            let data = {};
            data.supplier_id = $('#change-supplier').val();
            if(data.supplier_id != null){
                data.order_id = {{ order.id }};
                $.redirect('/orders/pdf-order-supplier', data);
            }
        });
    });
</script>