{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    {% set cl = order_supplier.language %}
    {% include 'components/mail.html.twig' with { 'communication_language': cl } %}
    <div class="col-lg-12">
        <div class="col-lg-6">
            <br/>
            <button id="{{ order_id }}" type="button" style="float:left" class="btn btn-default btn-md button-color back-order-to-supplier">Back</button>
        </div>
    </div>
    <div class="col-lg-12" style="border-style: solid; border-radius: 5px; border-width: 1px; border-color: #aaaaaa; margin: 6px" id="order-progress">
        <br/>
        <div class="col-lg-12">
            <div class="col-lg-6">
                <span style="float: left">{% trans %}Delivery Date{% endtrans %}</span><br/>
                <input id="delivery-date" type="text" class="form-control input-sm datepicker" />
            </div>
            <div class="col-lg-6">
                <span style="float:left">{% trans %}Commission{% endtrans %}</span><br/>
                <input id="commission" type="text" class="form-control input-sm" />
            </div>
            <br/>
        </div>
        <div class="col-lg-12">
            <a id="show-pdf" class="btn btn-default icon-btn button-color" style="margin: 5px; float: left" href="#"><span class="glyphicon btn-glyphicon glyphicon glyphicon-file img-circle text-color"></span>{% trans %}Show PDF{% endtrans %}</a>
        </div>
    </div>
    <br/>
    <div id="sending-mail" class="col-lg-12" style="border-style: solid; border-width: 1px; border-radius: 5px; border-color: #aaaaaa; margin: 6px" hidden><br/>
        <input type='file' id="file-pdf" class="btn btn-default btn-md button-color" style="float:left; margin-left: 10px"   accept="application/pdf, image/*" multiple>
        <div class="form-inline" style="float: right; margin: 5px">
            <a id="show-mail-dialog" class="btn btn-default icon-btn button-color " href="#" data-toggle="modal" data-target="#MailModal"><span class="glyphicon btn-glyphicon glyphicon glyphicon glyphicon-envelope img-circle text-color"></span>{% trans %}Send Mail{% endtrans %}</a>
        </div>
        <div class="content-view">
            <iframe  id="pdf-view" width="100%" height="88%"></iframe>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- JSPDF -->
    <script src="{{ asset('js/jspdf.debug.js') }}"></script>
    <script src="{{ asset('js/jspdf.customfonts.min.js' ) }}"></script>
    <script src="{{ asset('js/default_vfs.js') }}"></script>
    <script src="{{ asset('js/jspdf.plugin.autotable.js') }}"></script>
    {% set cl = order_supplier.language %}
    <script>
        $(document).ready(function() {
            $( "#delivery-date" ).datepicker({
                dateFormat: 'dd-mm-yy',
                onSelect: function () {
                    $('#delivery-date').val(this.value);
                }
            });
            $("#order").addClass("active-debt");
            let doc;
            let img = new Image();
            let sizes = [];
            let textarea;
            let delivery_date = '';
            let commission = '';
            let pdf_created = false;
            let supplier_name = '';
            let order_number = '';
            let picture = '';
            let language = '';
            let orderSupplierData = {};
            let pageWidth;
            let centerImg;
            {% for order_article in order_supplier.order_articles %}
            {% if order_article.show_picture %}
            img_create('{{ asset(company ~ 'images/' ~ order_article.picture_url) }}');
            {% endif %}
            {% endfor %}
            $('#show-pdf').click(function() {
                textarea = $('#comment').val();
                $('#pdf-view').attr('src', "about:blank");
                commission = $('#commission').val();
                delivery_date = $('#delivery-date').val();
                if(delivery_date === '') {
                    alert('You have to type in Delivery Date');
                    return;
                }
                if(commission === '') {
                    alert('You have to set up commission');
                    return;
                }
                doc = new jsPDF();
                textarea = $('#comment').val();
                {% for key, order_article in order_supplier.order_articles %}
                    {% if key > 0 %}
                         doc.addPage();
                    {% endif %}
                    pageWidth = doc.internal.pageSize.width;
                {% if order_article.show_picture %}
                    centerImg = (pageWidth / 2) - (sizes[{{ key }}].w / 2);
                {% endif %}
                    doc.addFont('DINPro.ttf', 'DINPro', 'normal');
                    doc.addFont('DINPro-Medium.ttf', 'DINPro', 'medium');
                    doc.addFont('DINPro-Bold.ttf', 'DINPro', 'bold');
                    doc.setFont('DINPro');
                    doc.setFontType("medium");
                    doc.setFontSize(18);
                    doc.text('{{ order_supplier.supplier_name }}',20,38);
                    doc.addImage('{{ logo }}', 'JPEG', 16, 15, 80, 10);
                    doc.line(20, 40, 100, 40);
                    doc.setFontSize(14);
                    doc.text("{{ 'Commission'|trans({}, 'messages', cl) }}:",20, 47);
                    doc.text("{{ 'Order Number'|trans({}, 'messages', cl) }}:", 20, 57);
                    doc.text("{{ 'Order Date'|trans({}, 'messages', cl) }}:",20, 67);
                    doc.text("{{ 'Delivery Date'|trans({}, 'messages', cl) }}:",20, 77);
                    doc.text("{{ 'Details'|trans({}, 'messages', cl) }}:",20, 88);
                    doc.setFontType("normal");
                    doc.text(commission, 57, 47);
                    doc.text('{{ order_supplier.order_number }}', 57, 57);
                    doc.text(moment().format("DD-MM-YYYY"), 57, 67);
                    doc.text(delivery_date, 57, 77);
                    doc.text(unescapeHtml(htmlDecode('{{ order_article.details }}')), 57, 88);
                {% if order_article.show_picture %}
                    if('{{ order_article.encoded_picture }}'.split(',')[1] !== '') {
                        doc.addImage('{{ order_article.encoded_picture }}', 'JPEG', 57, 150, sizes[{{ key }}].w, sizes[{{ key }}].h);
                    }
                {% endif %}
                    footer();
                {% endfor %}
                $('#pdf-view').attr('src',doc.output('datauristring'));
                $('#sending-mail').show();

            });
            $('#show-mail-dialog').click(function(event) {
                if(pdf_created) {
                    $('#email').val('{{ order_supplier.supplier_email }}');
                    set_mail_data(doc.output('blob'), '{{ mail_type }}', '{{ order_supplier.order_number }}', '{{ order_supplier.order_article_id }}', delivery_date, commission, "", $("#file-pdf")[0].files);
                }
            });
            function img_create(src) {
                let img =  new Image();
                img.src = src;
                img.onload = function(){
                    sizes.push(resize_image(this.width, this.height));
                };
            }

            function footer() {
                let nextTitle = 280;
                doc.setFontSize(10);
                let beggingOfText = 60;
                doc.text('ING Bank:',beggingOfText, nextTitle);
                doc.setFontType("bold");
                doc.text('IBAN NL22INGB0007691142', beggingOfText + 17, nextTitle);
                doc.circle(beggingOfText + 66, nextTitle - 1.2 ,0.8,'F');
                doc.text('BIC: INGBNL2A', beggingOfText + 68, nextTitle);
                doc.setFontType("normal");
                beggingOfText = 40;
                doc.text('De Blecourtstraat 28a', beggingOfText, nextTitle + 4);
                doc.circle(beggingOfText + 36, nextTitle + 3.1 ,0.8,'F');
                doc.text('5652 GB Eindhoven',beggingOfText + 38, nextTitle + 4);
                doc.circle(beggingOfText + 71, nextTitle + 3.1 ,0.8,'F');
                doc.text('GSM 06 - 53 30 48 83',beggingOfText + 73, nextTitle + 4);
                doc.circle(beggingOfText + 109, nextTitle + 3.1 ,0.8,'F');
                doc.text('GSM 06 - 14 13 20 62', beggingOfText + 111, nextTitle + 4);
                beggingOfText = 65;
                doc.text('K.v.K. Eindhoven 57465819', beggingOfText, nextTitle + 8);
                doc.circle(beggingOfText + 46, nextTitle + 7.1 ,0.8,'F');
                doc.text('BTW nr. NL8525.92.449.B01', beggingOfText + 48, nextTitle + 8);
                doc.setFontType("bold");
                beggingOfText = 53;
                doc.text('E-mail: info@dejonginterieur.com', beggingOfText, nextTitle + 12);
                doc.circle(beggingOfText + 58, nextTitle + 11.1 ,0.8,'F');
                doc.text('Website: www.dejonginterieur.com', beggingOfText + 61, nextTitle + 12);
                pdf_created = true;
            }

            function htmlDecode (input)
{
  var e = document.createElement("span");

  var result = input.replace(/(&[^;]+;)+/g, function (match) {
    e.innerHTML = match;
    return e.firstChild.nodeValue;
  });

  return result;
}

                        function unescapeHtml(safe) {
                return safe.replace(/&amp;/g, '&')
                    .replace(/&lt;/g, '<')
                    .replace(/&gt;/g, '>')
                    .replace(/&quot;/g, '"')
                    .replace(/&#039;/g, "'");
            }

            function resize_image (iWidth, iHeight) {
                let imageHeight;
                let imageWidth;
                let size = {};
                let maxWidth = 100;
                let maxHeight = 100;
                let ratio = 0;
                let width = iWidth;
                let height = iHeight;
                if (width > maxWidth) {
                    ratio = maxWidth / width;
                    height = height * ratio;
                    width = maxWidth;
                    imageWidth = width;
                    imageHeight = height;
                }
                if (height > maxHeight) {
                    ratio = maxHeight / height;
                    width = width * ratio;
                    height = maxHeight;
                    imageWidth = width;
                    imageHeight = height;
                }
                size.w = imageWidth;
                size.h = imageHeight;
                return size;
            }
            $('.back-order-to-supplier').click(function (event) {
                window.location.href = '/orders/'+ event.target.id +'/update-order';
            });
        });
    </script>
{% endblock %}