<div class="modal fade modal-draggable" id="updateInvoiceModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Invoices{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                {% include ':components:modal_error.html.twig' with {'context': 'updateInvoice'}%}
                <input type="text" id="update-invoice-order-id" hidden />
                <div class="form-group">
                    <select id="update-payment-status" class="form-control">
                        <option selected disabled hidden>{% trans %}Choose..{% endtrans %}</option>
                        {% for aps in order_payment_statuses %}
                            <option value="{{ aps.name }}">{{ aps.trans }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="button" value="Submit" id="submit-update-invoice" class="btn btn-default btn-block button-color">{% trans %}Submit{% endtrans %}</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(".modal-draggable .modal-dialog").draggable({
        handle: ".modal-header"
    });
    function set_update_values_invoice(invoice) {
        $('#update-invoice-order-id').val(invoice.id);
        $('#update-payment-status').val(invoice.payment_status);
    };
    $("#submit-update-invoice").click(function (event) {
        let data = {};
        data.id = $("#update-invoice-order-id").val();
        data.payment_status = $("#update-payment-status").val();
        $.ajax({
            url: '/orders/invoice-paid',
            type: 'put',
            data: data,
            success: function (result) {
                window.location.reload();
            },
            error: function (result) {
                try {
                    let error = JSON.parse(result.responseText);
                    updateInvoice_set_error_message(error.error_message);
                } catch(e) {
                    updateInvoice_set_error_message('Unknown');
                }
            }
        })
    })
</script>