{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% set var_invoices = 'invoices' %}
{% block body %}
    {% include ':user/invoices/components:change_order_status.html.twig' %}
    <div class="col-lg-12 actions">
        {% include ':components:html_error.html.twig' with {'context': var_invoices} %}
        {% include ':components:search.html.twig'%}
    </div>
    <table id="invoice-table" class="table table-bordered">
        <thead>
            <tr class="table-header">
                <th id="invoices-order-number">{% trans %}Invoice Number{% endtrans %}</th>
                <th id="invoices-order-number">{% trans %}Order Number{% endtrans %}</th>
                <th id="invoices-debtor-name">{% trans %}Debtor Name{% endtrans %}</th>
                <th id="invoices-payment-status">{% trans %}Status{% endtrans %}</th>
                <th id="invoices-payment-method">{% trans %}Payment Method{% endtrans %}</th>
                <th id="invoices-btw">{% trans %}BTW{% endtrans %}</th>
                <th id="invoices-date">{% trans %}Date{% endtrans %}</th>
                <th data-dynatable-sorts="parsedTotalFloat">{% trans %}Total purchase{% endtrans %}</th>
                <th data-dynatable-sorts="parsedTotalProfitFloat">{% trans %}Total sale{% endtrans %}</th>
                <th data-dynatable-sorts="parsedProfitAmountFloat">{% trans %}Profit Amount{% endtrans %}</th>
                <th data-dynatable-sorts="parsedProfitFloat">{% trans %}Profit{% endtrans %} %</th>
                <th class="th-center">{% trans %}Action{% endtrans %}</th>
            </tr>
        </thead>
        <tbody class="default-table-body" style="display: none">
        {% for order in orders %}
            <tr class="table-rows">
                <td class="click click-{{ order.id }}">{{ order.invoiceNumber }}</td>
                <td class="click click-{{ order.id }}">{{ order.orderNumber }}</td>
                <td class="click click-{{ order.id }}">{{ order.debtorName }}</td>
                <td class="click click-{{ order.id }}">{{ order.paymentStatus.name|trans }}</td>
                <td class="click click-{{ order.id }}" >{{ order.paymentMethod.name|trans }}</td>
                <td class="click click-{{ order.id }}" >{{ order.debtor.BTW }}</td>
                <td class="click click-{{ order.id }}" >{{ order.deliveryTimeString }}</td>
                <td class="click click-{{ order.id }}" >{{ order.TotalPurchaseAmount }}</td>
                <td class="click click-{{ order.id }}" >{{ order.totalSellingAmount }}</td>
                {% if order.TotalPurchaseAmount > 0 %}
                    <td class="click click-{{ order.id }}" >{{ ( order.TotalPurchaseAmount * ((order.totalSellingAmount / order.TotalPurchaseAmount - 1) * 100)) / 100 }}</td>
                    <td class="click" >{{ (order.totalSellingAmount / order.TotalPurchaseAmount - 1) * 100 }}</td>
                {% else %}
                    <td class="click" >0</td>
                    <td class="click" >0</td>
                {% endif %}

                <td class="th-center">
                    <i id="update-{{ order.id }}-{{ order.paymentStatus.name }}" class="fa fa-pencil icon update" aria-hidden="true" data-toggle="modal" data-target="#updateInvoiceModal" title="{% trans %}Update Invoice{% endtrans %}"></i>&nbsp;
                    <i id="print-{{ order.id }}" class="fa fa-eye icon print" aria-hidden="true" title="{% trans %}View Invoice{% endtrans %}"></i>&nbsp;
                    <i id="delete-{{ order.id }}" class="fa fa-trash icon delete" aria-hidden="true" title="{% trans %}Delete Invoice{% endtrans %}"></i>&nbsp;
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
    {% include':components:spinner.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script>
        {% set cl = locale %}
        $(document).on('click', '.update', function(e) {
            let invoice = {
                id: event.target.id.split('-')[1],
                payment_status: event.target.id.split('-')[2]
            };
            set_update_values_invoice(invoice);
        });
        $(document).on('click', '.print', function(e) {
            let id = event.target.id.split('-')[1];
            window.location.href = '/orders/' + id + '/update-order';
        });
        $(document).on('click', '.delete', function(e) {
            let answer = confirm('Are you sure you want to delete order?');
            if(answer) {
                let data = {};
                data.id = event.target.id.split('-')[1];
                $.ajax({
                    url: '/orders/delete-order',
                    type: 'delete',
                    data: data,
                    success: function (result) {
                        window.location.reload()
                    },
                    error: function (result) {
                        let error = {};
                        try{
                            error = JSON.parse(result.responseText);
                        } catch(e) {
                            error.error_message = 'Unknown';
                        }
                    }
                })
            }
        });
        $(document).ready(function () {
            $('#table-spinner').show();
            $('#invoice-table').dynatable({
                readers: {
                    "{{ 'totalSale'|trans({}, 'messages', cl) }}": function(el, record) {
                        let sale = '€ ' + $.number(accounting.unformat(el.innerHTML),2,',','.');
                        record.parsedTotalFloat = parseFloat(el.innerHTML);
                        return sale || 0;
                    },
                    "{{ 'profit'|trans({}, 'messages', cl) }}-%": function(el, record) {
                        let profit = parseFloat(el.innerHTML).toFixed(2) + "%";
                        record.parsedProfitFloat = parseFloat(el.innerHTML);
                        return profit || 0;
                    },
                    "{{ 'totalAmount'|trans({}, 'messages', cl) }}": function(el, record) {
                        let totalProfit = '€ ' + $.number(accounting.unformat(el.innerHTML),2,',','.');
                        record.parsedTotalProfitFloat = parseFloat(el.innerHTML);
                        return totalProfit || 0;
                    },
                    "{{ 'profitAmount'|trans({}, 'messages', cl) }}": function(el, record) {
                        let totalProfit = '€ ' + $.number(accounting.unformat(el.innerHTML),2,',','.');
                        record.parsedProfitAmountFloat = parseFloat(el.innerHTML);
                        return totalProfit || 0;
                    },
                    "{{ 'totalPurchase'|trans({}, 'messages', cl) }}": function(el, record) {
                        let totalProfit = '€ ' + $.number(accounting.unformat(el.innerHTML),2,',','.');
                        record.parsedProfitAmountFloat = parseFloat(el.innerHTML);
                        return totalProfit || 0;
                    },
                },
                features:{
                    perPageSelect: false,
                    recordCount: false,
                    search: false,
                },
                inputs: {
                    queries: $('#search'),
                },
            });
            $(".default-table-body").show();
            $('#table-spinner').hide();
            $('#search').val(localStorage.getItem('search'));
            localStorage.clear();
            $("#facture").addClass("active-debt");
            $(".modal-draggable .modal-dialog").draggable({
                handle: ".modal-header"
            });
            /*
            $('.archive').click(function () {
                window.location.replace('/orders/finished-invoices');
            }); */
        });
    </script>
{% endblock %}