{% if Action != 'add' %}
    <div class="board-inner">
        <ul class="nav nav-tabs orders-nav" id="myTab">
            <li class="active">
                <a href="#information" data-toggle="tab" title="{% trans %}General Information{% endtrans %}">
                    <span class="round-tabs one">
                        <i class="glyphicon glyphicon-info-sign"></i>
                     </span>
                </a></li>
            <li><a href="#order_articles" data-toggle="tab" title="{% trans %}Order Articles{% endtrans %}">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-shopping-cart"></i>
                     </span>
                </a></li>
            <li id="order-emails"><a href="#sent_mails" data-toggle="tab" title="{% trans %}Sent Emails{% endtrans %}">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-envelope"></i>
                     </span>
                </a></li>
            <li id="order-administrative-nodes"><a href="#administrative_notes" data-toggle="tab" title="{% trans %}Administrative Notes{% endtrans %}">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-comment"></i>
                     </span>
                </a></li>
            <li id="order-intern-notes"><a href="#intern_notes" data-toggle="tab" title="{% trans %}Intern Notes{% endtrans %}">
                     <span class="round-tabs four">
                          <i class="glyphicon glyphicon-align-left"></i>
                     </span>
                </a></li>
            <li id="order-files"><a href="#saved_pdfs" data-toggle="tab" title="{% trans %}Documents{% endtrans %}">
                     <span class="round-tabs five">
                          <i class="glyphicon glyphicon-folder-open"></i>
                     </span>
                </a></li>
        </ul>
    </div>
{% endif %}
<div class="tab-content">
    <div class="tab-pane fade in active" id="information">
        {% include ':user/orders/components:grant_general_information.html.twig' %}
    </div>
    {% if Action != 'add' %}
        <div class="tab-pane fade" id="order_articles">
            {% include ':user/orders/components:grant_order_articles.html.twig' %}
        </div>
        <div class="tab-pane fade" id="sent_mails">
            {% include ':user/orders/components:grant_emails.html.twig' %}
        </div>
        <div class="tab-pane fade" id="administrative_notes">
            {% include ':user/orders/components:grant_administrative_notes.html.twig' %}
        </div>
        <div class="tab-pane fade" id="intern_notes">
            {% include ':user/orders/components:grant_intern_notes.html.twig' %}
        </div>
        <div class="tab-pane fade" id="saved_pdfs">
            {% include ':user/orders/components:grant_saved_files.html.twig' %}
        </div>
    {% endif %}
    <div class="clearfix"></div>
</div>