{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    {% include ':components:password_update.html.twig' %}
    <div class="col-lg-12 actions">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <i style="float: right;" class="fa fa-cog menu-settings" aria-hidden="true" data-toggle="modal" data-target="#ModalSettings"></i>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            {% include ':components:html_error.html.twig' with {'context' : 'update_user'} %}
            <div class="form-group">
                <label class="control-label label-text" for="username">{% trans %}Username{% endtrans %}:</label>
                <input type="text" id="username" class="form-control input-sm" value="{{ user.username }}" disabled/>
            </div>
            <div class="form-group">
                <label class="control-label label-text" for="first_name">{% trans %}First name{% endtrans %}:</label>
                <input type="text" id="first_name" class="form-control input-sm" value="{{ user.firstName }}"/>
            </div>
            <div class="form-group">
                <label class="control-label label-text" for="last_name">{% trans %}Last name{% endtrans %}:</label>
                <input type="text" id="last_name" class="form-control input-sm" value="{{ user.lastName }}"/>
            </div>
            <div class="form-group">
                <label class="control-label label-text" for="phonenumber">{% trans %}Phone number{% endtrans %}:</label>
                <input type="text" id="phonenumber" class="form-control input-sm" value="{{ user.phonenumber }}"/>
            </div>
            <div class="form-group">
                <label class="control-label label-text" for="email">{% trans %}Email{% endtrans %}:</label>
                <input type="text" id="email" class="form-control input-sm" value="{{ user.email }}"/>
            </div>
            <div class="form-group"><input type="button" id="update_user" class="btn btn-default btn-block button-color input-sm" value="{% trans %}Submit{% endtrans %}"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $(".menu-icon").removeClass("active");
            $("#user").addClass("active");
            $("#update_user").click(function () {
                let data = {};
                data.username = $('#username').val();
                data.first_name = $('#first_name').val();
                data.last_name = $('#last_name').val();
                data.phonenumber = $('#phonenumber').val();
                data.email = $('#email').val();
                $.ajax({
                    //url: 'https://' + window.location.hostname + '/user',
                    url: '/user',
                    type: 'put',
                    data: data,
                    success: function (result) {
                        window.location.reload();
                    },
                    error: function (result) {
                        try {
                            let error = JSON.parse(result.responseText);
                            update_user_set_error_message(error.error_message);
                        } catch(e) {
                            update_user_set_error_message('Unknown');
                        }
                    }
                })
            });
        });
    </script>
{% endblock %}