{% extends 'Company/5mict/base.html.twig' %}
{% block title %}Welcome 5mict!{% endblock %}
{% block body %}
    {% include ':components:password_update.html.twig' %}
    {% include ':components:html_error.html.twig' with {'context': 'superAdmin'} %}
    <div class="col-lg-12 actions">
        <i class="fa fa-cog menu-settings" aria-hidden="true" data-toggle="modal" data-target="#ModalSettings"></i>
        <i class="fa fa-user-plus menu-add" aria-hidden="true" data-toggle="modal" data-target="#addGrant"></i>
    </div>
    <table class="table table-bordered">
        <tr class="table-header">
            <th>id</th>
            <th>grant</th>
            <th>enabled</th>
            <th>description</th>
            <th class="th-center">Action</th>
        </tr>
        {% for grant in grants %}
            <tr class="table-rows">
                <th id="th-{{ grant.id }}-id">{{ grant.id }}</th>
                <th id="th-{{ grant.id }}-grant">{{ grant._grant }}</th>
                {% if grant.enabled %}
                    <th id="th-{{ grant.id }}-enabled"> true </th>
                {% else %}
                    <th id="th-{{ grant.id }}-enabled"> false </th>
                {% endif %}
                <th id="th-{{ grant.id }}-description">{{ grant.description }}</th>
                <th class="th-center">
                    {% if grant.enabled %}
                        <i id="toggle-{{ grant.id }}" class="fa fa-toggle-off icon toggle" aria-hidden="true"></i>&nbsp;
                    {% else %}
                        <i id="toggle-{{ grant.id }}" class="fa fa-toggle-on icon toggle" aria-hidden="true"></i>&nbsp;
                    {% endif %}
                    <i id="edit-{{ grant.id }}" class="fa fa-pencil icon edit" aria-hidden="true" data-toggle="modal" data-target="#updateGrant"></i>&nbsp;
                    <i id="edit-{{ grant.id }}" class="fa fa-trash icon delete" aria-hidden="true"></i>&nbsp;
                </th>
            </tr>
        {%  endfor %}
    </table>
    <div>
        <input id="build-fixed-tables" type="button" class="col-lg-4 btn btn-default button-color" value="Build Fixed Tables"/>
    </div>
{% endblock body %}
{% block javascripts %}
    <script>
    $(document).ready(function (){
        $("#build-fixed-tables").click(function() {
            $.ajax({
                url: '/super-admin/build-fixed-tables',
                type: 'post',
                success: function(result) {
                    try {
                        let data = JSON.parse(result);
                        alert(data);
                    } catch(e) {
                        alert('Can not parse response on success');
                    }
                },
                error: function(result) {
                    console.log(result.responseText);
                    try {
                        let error = JSON.parse(result.responseText);
                        superAdmin_set_error_message(error.error_message);
                    } catch(e) {
                        superAdmin_set_error_message('Unknown');
                    }
                }
            })
        })
        $(".modal-draggable .modal-dialog").draggable({
            handle: ".modal-header"
        });
        $('.toggle').click(function (event) {
            let id = event.target.id.split('-')[1];
            let data = {};
            data.id = id;
            $.ajax({
                url: '/super-admin/toggle',
                type: 'put',
                data: data,
                success: function () {
                    window.location.reload();
                },
                error: function (result) {
                    try {
                        let error = JSON.parse(result.responseText);
                        superAdmin_set_error_message(error.error_message);
                    } catch(e) {
                        superAdmin_set_error_message('Unknown');
                    }
                }
            })
        });
        $('.edit').click(function (event) {
            let selected_grant = {};
            selected_grant.id = event.target.id.split('-')[1];
            selected_grant.grant = $('#th-' + selected_grant.id + '-grant').text();
            selected_grant.enabled = $('#th-' + selected_grant.id + '-enabled').text();
            selected_grant.description = $('#th-' + selected_grant.id + '-description').text();
            set_selected_grant(selected_grant);
        });
        $('.delete').click(function (event) {
            let id = event.target.id.split('-')[1];
            let data = {};
            data.id = id;
            $.ajax({
                url: '/super-admin/delete-grant',
                type: 'delete',
                data: data,
                success: function(result) {
                    window.location.reload();
                },
                error: function (result) {
                    try {
                        let error = JSON.parse(result.responseText);
                        superAdmin_set_error_message(error.error_message);
                    } catch(e) {
                        superAdmin_set_error_message('Unknown');
                    }
                }
            })
        })
    });
    </script>
{% endblock %}