{% if Action != 'add' %}
<div class="board-inner">
    <ul class="nav nav-tabs debtors-nav" id="myTab">
        <li class="active">
            <a href="#informations" data-toggle="tab" title="{% trans %}General Information{% endtrans %}">
                    <span class="round-tabs one">
                        <i class="glyphicon glyphicon-info-sign"></i>
                     </span>
            </a></li>
        <li id="debtor-contact"><a href="#contacts" data-toggle="tab" title="{% trans %}Contact Persons{% endtrans %}">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-user"></i>
                     </span>
            </a></li>
        <li id="debtor-delivery"><a href="#delivery" data-toggle="tab" title="{% trans %}Delivery Address{% endtrans %}">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-book"></i>
                     </span>
            </a></li>
        <li id="debtor-notes"><a href="#notes" data-toggle="tab" title="{% trans %}Notes{% endtrans %}">
                     <span class="round-tabs four">
                          <i class="glyphicon glyphicon-comment"></i>
                     </span>
            </a></li>
        <li id="debtor-files"><a href="#saved_files" data-toggle="tab" title="{% trans %}Documents{% endtrans %}">
                     <span class="round-tabs five">
                          <i class="glyphicon glyphicon-folder-open"></i>
                     </span>
            </a></li>
    </ul>
</div>
{% endif %}
<div class="tab-content">
    <div class="tab-pane fade in active" id="informations">
        {% include ':user/debtors/components:grant_general_informations.html.twig' %}
    </div>
    {% if Action != 'add' %}
        <div class="tab-pane fade" id="contacts">
            {% include ':user/debtors/components:grant_contact_persons.html.twig' %}
        </div>
        <div class="tab-pane fade" id="delivery">
            {% include ':user/debtors/components:grant_delivery_address.html.twig' %}
        </div>
        <div class="tab-pane fade" id="notes">
            {% include ':user/debtors/components:grant_notes.html.twig' %}
        </div>
        <div class="tab-pane fade" id="saved_files">
            {% include ':user/debtors/components:grant_saved_files.html.twig' %}
        </div>
    {% endif %}
    <div class="clearfix"></div>
</div>