{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    <div class="col-lg-12">
        <br/>
        {% include ':components:html_error.html.twig' with {'context': 'pdf_categoties'} %}
        <div class="form-group row">
            <div class="col-lg-2">
                <label for="date-range">{% trans %}Date{% endtrans %}</label>
                <input style="width: 180px;" class="form-control" id="date-range" type="text">
            </div>
        </div>
        <div class="content-view">
            <iframe  id="pdf-view" width="100%" height="100%" ></iframe>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jspdf.min.js') }}"></script>
    <script src="{{ asset('js/jspdf.debug.js') }}"></script>
    <script src="{{ asset('js/jspdf.plugin.autotable.js') }}"></script>
    <script>
        $(document).ready(function() {
            let date = '';
            $("#article").addClass("active-debt");
            $('#date-range').daterangepicker({
                locale: {
                    format: 'DD-MM-YYYY'
                }
            }, function(start, end, label) {
                let data = {
                    start: start.format('YYYY-MM-DD'),
                    end: end.format('YYYY-MM-DD')
                };
                date = start.format('DD-MM-YYYY') + " / " + end.format('DD-MM-YYYY');
                $.ajax({
                    url: '/articles/get-article-category-statistics-data',
                    type: 'get',
                    data: data,
                    success: function (result) {
                        let data = JSON.parse(result);
                        createPDF(data);
                    },
                    error: function (result) {
                    }
                });
            });
            function createPDF(data) {
                let doc = new jsPDF();
                doc.addImage('{{ logo }}', 'JPEG', 70, 5, 60, 15);
                doc.setFont('Constantia (Body)');
                doc.setFontSize(15);
                doc.text('{% trans %}Category Information{% endtrans %}', 20, 30);
                doc.text('{% trans %}Date{% endtrans %}:', 120, 30);
                doc.text(date ,142, 30);
                doc.line(20, 31, 195, 31);
                doc.setFontSize(15);
                let columns = ['{% trans %}Category{% endtrans %}',
                    '{% trans %}#sold{% endtrans %}',
                    '{% trans %}Total purchase{% endtrans %}',
                    '{% trans %}Total sale{% endtrans %}',
                    '{% trans %}Profit{% endtrans %}',
                    '{% trans %}Profit{% endtrans %} %'];
                let rows = [];
                let article_data = data;
                let percentage= 0;
                let profit = 0;
                jQuery.each(article_data, function (key, value) {
                    row = [];
                    percentage = (value.total_selling / value.total_purchase -1) * 100;
                    profit = (value.total_purchase * percentage) / 100;
                    row.push(
                        unescapeHtml(value.name),
                        $.number(value.number_sold),
                        "€ " + $.number(accounting.unformat(value.total_purchase),2,',','.'),
                        "€ " + $.number(accounting.unformat(value.total_selling),2,',','.'),
                        "€ " + $.number(accounting.unformat(profit),2,',','.'),
                        $.number(accounting.unformat(percentage),2,',','.') + '%',
                    );
                    rows.push(row);
                });
                doc.autoTable(columns, rows,{
                    startY: 40,
                    margin: {
                        left: 20
                    },
                    FontSize: 15,
                    headerStyles:{
                        fillColor: [186,153,105],
                        fontSize: 6,
                        overflow: 'linebreak'
                    },
                    bodyStyles:{
                        fontSize: 10,
                        overflow: 'linebreak'
                    },
                });
                $('#pdf-view').attr('src', doc.output('datauristring'));
            }

            function unescapeHtml(safe) {
                return safe.replace(/&amp;/g, '&')
                    .replace(/&lt;/g, '<')
                    .replace(/&gt;/g, '>')
                    .replace(/&quot;/g, '"')
                    .replace(/&#039;/g, "'");
            }
        });
    </script>
{% endblock %}