{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    {% include ':user/planning/components:modal_add_title.html.twig' %}
    {% include ':user/planning/components:modal_update_delete.html.twig' %}
    <br/>
    <div class="col-lg-12 actions">
        <div class="outgoing"></div>
        <span class="outgoing-text">{% trans %}Orders{% endtrans %}</span>
        <div class="incoming"></div>
        <span class="incoming-text">{% trans %}Suppliers{% endtrans %}</span>
        <div class="custom"></div>
        <span class="custom-text">{% trans %}Note{% endtrans %}</span>
        <span>
            <button type="button"  data-toggle="modal" data-target="#addTitle"  class="btn btn-default btn-md button-color">{% trans %}Add Title{% endtrans %}</button>
        </span><br/>
        <div id='calendar'></div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $(".modal-draggable .modal-dialog").draggable({
                handle: ".modal-header"
            });
            $("#planning").addClass("active-debt");
            $('#calendar').fullCalendar({
                defaultView: 'month',
                buttonIcons: true,
                locale: '{{ locale }}',
                events: '/orders-planning-dates',
                eventClick: function(event) {
                    switch(event.name ) {
                        case 'order':
                            window.location.href = '/orders/' + event.id + '/update-order';
                            break;
                        case 'supplier':
                            window.location.href = '/orders/' + event.order_id + '/update-order';
                            break;
                        default:
                            let data = {};
                            data.id = event.id;
                            set_title_values(data);
                    }
                },
            });
        });
    </script>
    <!-- CALENDAR -->
    <script src="{{ asset('js/fullcalendar.js') }}"></script>
    <script src="{{ asset('js/full_calendar/nl.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}">
{% endblock stylesheets %}