{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    {% set cl = debtor.communicationLanguage %}
    <div class="col-lg-12">
        <div class="col-lg-6">
            <br/>
            <button id="{{ order_id }}" type="button" style="float:left" class="btn btn-default btn-md button-color back-order-to-supplier">Back</button>
        </div>
        <div class="content-view">
            <iframe  id="pdf-view" width="100%" height="88%"></iframe>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- JSPDF -->
    <script src="{{ asset('js/jspdf.debug.js') }}"></script>
    <script src="{{ asset('js/jspdf.customfonts.min.js' ) }}"></script>
    <script src="{{ asset('js/default_vfs.js') }}"></script>
    <script src="{{ asset('js/jspdf.plugin.autotable.js') }}"></script>
    <script>
        $(document).ready(function() {
            function unescapeHtml(safe) {
                return safe.replace(/&amp;/g, '&')
                    .replace(/&lt;/g, '<')
                    .replace(/&gt;/g, '>')
                    .replace(/&quot;/g, '"')
                    .replace(/&#039;/g, "'");
            }
            function determineFontSize(array) {
                return (Math.max(...array) > 22 ? 22*40/Math.max(...array) : 40);
            }
            var array = [];
            {% for name in debtor.spllitedName %}
            array.push(('{{ name }}').length);
            {% endfor %}
            array.push(
                (unescapeHtml('{{ delivery_address.street }}') + unescapeHtml(' {{ delivery_address.number }} ') + unescapeHtml('{{ delivery_address.numberExtension }}')).length,
                ('{{ delivery_address.postCode }}' + ' {{ delivery_address.city }}').length,
            );
            $("#order").addClass("active-debt");
            let doc;
                doc = new jsPDF();
                doc.addFont('DINPro.ttf', 'DINPro', 'normal');
                doc.setFont('DINPro');
                doc.setFontType('normal');
                doc.setFontSize(determineFontSize(array));
            {% set verticalPosition = 60 %}
            {% set verticalPositionIncrement = 20 %}
            {% for name in debtor.spllitedName %}
                doc.text(unescapeHtml('{{ name }}'),
                    30, {{ verticalPosition }} );
            {% set verticalPosition = verticalPosition + verticalPositionIncrement %}
            {% endfor %}
                doc.text(unescapeHtml('{{ delivery_address.street }}') + unescapeHtml(' {{ delivery_address.number }} ') + unescapeHtml('{{ delivery_address.numberExtension }}'),
                    30, {{ verticalPosition }});
            {% set verticalPosition = verticalPosition + verticalPositionIncrement %}
                doc.text('{{ delivery_address.postCode }}' + ' {{ delivery_address.city }}',
                    30, {{ verticalPosition }} );
            {% set verticalPosition = verticalPosition + verticalPositionIncrement %}
            {% if debtor.country != "Netherlands" %}
            doc.text('{{ debtor.country }}',
                30, {{ verticalPosition }} );
            {% set verticalPosition = verticalPosition + verticalPositionIncrement %}
            doc.text('Tel: {{ contact_person.phoneNumber }}',
                30, {{ verticalPosition }} );
            {% set verticalPosition = verticalPosition + verticalPositionIncrement %}
            {% else %}
            doc.text('Tel: {{ contact_person.phoneNumber }}',
                30, {{ verticalPosition }} );
            {% set verticalPosition = verticalPosition + verticalPositionIncrement %}
            {% endif %}

            $('#pdf-view').attr('src',doc.output('datauristring'));
            $('.back-order-to-supplier').click(function (event) {
                window.location.href = '/orders/' + event.target.id + '/update-order';
            });
        });
    </script>
{% endblock %}