{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include ':components:title.html.twig' %}
{% endblock title %}
{% block body %}
    {% set cl = order.debtor.communicationLanguage %}
    {% include ':components:mail.html.twig' with {'communication_language': cl }%}
    <div class="col-lg-12">
        <div class="col-lg-6">
            {% if mail_type ==  constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::INVOICE_SENT') %}
                <h3 style="float:left">{% trans %}Send invoice{% endtrans %}</h3>
            {% endif %}
            {% if mail_type ==  constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::OFFER_EMAILED') %}
                <h3 style="float:left">{% trans %}Send offer{% endtrans %}</h3>
            {% endif %}
            {% if mail_type ==  constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::ORDER_CONFIRMATION_EMAILED') %}
                <h3 style="float:left">{% trans %}Send order confirmation{% endtrans %}</h3>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-6">
            <br/>
            <button id="{{ order.id }}" type="button" style="float:left" class="btn btn-default btn-md button-color back">Back</button>
            {% if order.isSwiss and mail_type ==  constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::INVOICE_SENT') %}
                <button type="button"  data-toggle="modal" data-target="#invoice-note" style="float:left; margin-left: 10px" class="btn btn-default btn-md button-color">{% trans %}Note{% endtrans %}</button>
            {% else %}
                <button type="button"  data-toggle="modal" data-target="#pdf-detail" style="float:left; margin-left: 10px" class="btn btn-default btn-md button-color">{% trans %}Details{% endtrans %}</button>
            {% endif %}
            <input type='file' id="file-pdf" class="btn btn-default btn-md button-color" style="float:left; margin-left: 10px"   accept="application/pdf, image/*" multiple>
        </div>
        <div class="col-lg-6">
            <br/>
            <a id="show-mail-dialog" style="float: right " class="btn btn-default icon-btn button-color " href="#" data-toggle="modal" data-target="#MailModal"><span class="glyphicon btn-glyphicon glyphicon glyphicon glyphicon-envelope img-circle text-color"></span>{% trans %}Send Mail{% endtrans %}</a>
            <br/><br/>
        </div>
    </div>
    <div class="col-lg-12">
        <br/>
        <div class="content-view">
            <iframe id="pdf-view" width="100%" height="100%"></iframe>
        </div>
    </div>

    <div class="modal fade modal-draggable" id="invoice-note" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{% trans %}Note{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="update-note-id"/>
                    <div class="form-group">
                        <input type="checkbox" id="showSwisText" name="showSwisText">
                        <label for="showSwisText">{% trans %}Show Text{% endtrans %} </label><br>
                        <label for="packages" style="float: left">{% trans %}Packages{% endtrans %}:</label>
                        <input type="text" id="packages" class="form-control" >
                        <label for="weight" style="float: left">{% trans %}Weight{% endtrans %}:</label>
                        <input type="text" id="weight" class="form-control " >
                        {% if mail_type == constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::INVOICE_SENT') %}
                            <label for="date-invoice-swis" style="float: left">{% trans %}Invoice date{% endtrans %}:</label>
                            <input id="date-invoice-swis" type="text" class="form-control" >
                        {% elseif mail_type == constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::OFFER_EMAILED') %}
                            <label for="date-offer-swis" style="float: left">{% trans %}Offer date{% endtrans %}:</label>
                            <input id="date-offer-swis" type="text" class="form-control" >
                        {% else %}
                            <label for="date-order-swis" style="float: left">{% trans %}Order Confirmation date{% endtrans %}:</label>
                            <input id="date-order-swis" type="text" class="form-control" >
                            <label for="date-delivery-time-swis" style="float: left">{% trans %}Delivery time{% endtrans %}:</label>
                            <input id="date-delivery-time-swis" type="text" class="form-control" >
                        {% endif %}
                        {% if order.isSwiss and mail_type ==  constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::INVOICE_SENT') %}
                            <br/>
                            <label style="float: left" for="extra_text">{% trans %}Details{% endtrans %} :</label>
                            <textarea class="form-control" rows="4" id="extra_text"></textarea>
                        {% endif %}
                    </div>
                    <button type="button" id="invoice-note-button" value="Submit"  class="btn btn-default btn-block button-color">{% trans %}Generate PDF{% endtrans %}</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-draggable" id="pdf-detail" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{% trans %}Details{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="update-note-id"/>
                    <div class="form-group">
                        {% if mail_type == constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::INVOICE_SENT') %}
                            <label for="date-invoice" style="float: left">{% trans %}Invoice date{% endtrans %}:</label>
                            <input id="date-invoice" type="text" class="form-control" >
                        {% elseif mail_type == constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::OFFER_EMAILED') %}
                            <label for="date-offer" style="float: left">{% trans %}Offer date{% endtrans %}:</label>
                            <input id="date-offer" type="text" class="form-control" >
                        {% else %}
                            <label for="date-order" style="float: left">{% trans %}Order Confirmation date{% endtrans %}:</label>
                            <input id="date-order" type="text" class="form-control" >
                            <label for="date-delivery-time" style="float: left">{% trans %}Delivery time{% endtrans %}:</label>
                            <input id="date-delivery-time" type="text" class="form-control datepicker" >
                        {% endif %}
                        <br/>
                        <label style="float: left" for="extra_text">{% trans %}Details{% endtrans %} :</label>
                        <textarea class="form-control" rows="4" id="extra_text"></textarea>
                    </div>
                    <button type="button" id="pdf-details-button" value="{% trans %}Submit{% endtrans %}"  class="btn btn-default btn-block button-color">{% trans %}Generate PDF{% endtrans %}</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- JSPDF -->
    <script src="{{ asset('js/jspdf.debug.js') }}"></script>
    <script src="{{ asset('js/jspdf.customfonts.min.js' ) }}"></script>
    <script src="{{ asset('js/default_vfs.js') }}"></script>
    <script src="{{ asset('js/jspdf.plugin.autotable.js') }}"></script>
    {% set cl = order.debtor.communicationLanguage %}
    <script>
        let delivery_date;
        $(document).ready(function() {
            $( "#date-invoice" ).datepicker({
                dateFormat: 'dd-mm-yy',
                onSelect: function () {
                    $('#date-invoice').val(this.value);
                }
            });
            $( "#date-invoice-swis" ).datepicker({
                dateFormat: 'dd-mm-yy',
                onSelect: function () {
                    $('#date-invoice-swis').val(this.value);
                }
            });
            $( "#date-offer" ).datepicker({
                dateFormat: 'dd-mm-yy',
                onSelect: function () {
                    $('#date-offer').val(this.value);
                }
            });
            $( "#date-offer-swis" ).datepicker({
                dateFormat: 'dd-mm-yy',
                onSelect: function () {
                    $('#date-offer-swis').val(this.value);
                }
            });
            $( "#date-order" ).datepicker({
                dateFormat: 'dd-mm-yy',
                onSelect: function () {
                    $('#date-order').val(this.value);
                }
            });
            $( "#date-order-swis" ).datepicker({
                dateFormat: 'dd-mm-yy',
                onSelect: function () {
                    $('#date-order-swis').val(this.value);
                }
            });
            $( "#date-delivery-time" ).datepicker({
                dateFormat: 'dd-mm-yy',
                onSelect: function () {
                    $('#date-delivery-time').val(this.value);
                }
            });
            $( "#date-delivery-time-swis" ).datepicker({
                dateFormat: 'dd-mm-yy',
                onSelect: function () {
                    $('#date-delivery-time-swis').val(this.value);
                }
            });
            $("#order").addClass("active-debt");
            let date = "";
            let delivery_date = "";
            let discountText = "";
            let doc;
            let weight = "";
            let showSwisText = false;
            let packages = "";
            let btwNumber = 0;
            let extra_text = "";
            let nextTitle = 0;
            let thank_you_text = "";
            let email_date = "";
            {% if mail_type ==  constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::OFFER_EMAILED') or mail_type == constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::INVOICE_SENT') %}
            {% else %}
            {% if cl == constant('AppBundle\\Entity\\FixedTables\\LocaleEntity::ENGLISH') %}
            discountText = "We kindly ask you for a deposit of € (amount),- .\nYou will find our payment details at the end of this\norderconfirmation";
            {% else %}
            discountText = "Wij vragen u vriendelijk om een aanbetaling van € (amount) ,-.\nDe betalingsgegevens vindt u onderaan deze\nopdrachtbevestiging.";
            {% endif %}
            {% endif %}
            $("#file-pdf").change(function(){
                /*
                let pdf_file = document.getElementById('file-pdf');
                let reader = new FileReader();
                reader.readAsDataURL(pdf_file.files[0]);
                reader.onload = function(e) {
                    $('#pdf-view').attr('src', e.target.result);
                } */
            });
            $('.back').click(function (event) {
                window.location.href = '/orders/' + event.target.id + '/update-order';
            });
            $('#invoice-note-button').click(function (event) {
                weight = $('#weight').val();
                showSwisText = $('#showSwisText').is(':checked');
                packages = $('#packages').val();
                extra_text = $('#extra_text').val();
                {% if order.isSwiss %}
                {% if mail_type == constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::INVOICE_SENT') %}
                date = $('#date-invoice-swis').val();
                {% elseif mail_type == constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::OFFER_EMAILED') %}
                date = $('#date-offer-swis').val();
                {% else %}
                date = $('#date-order-swis').val();
                {% endif %}
                delivery_date = $('#date-delivery-time-swis').val();
                {% else %}
                {% if mail_type == constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::INVOICE_SENT') %}
                date = $('#date-invoice').val();
                {% elseif mail_type == constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::OFFER_EMAILED') %}
                date = $('#date-offer').val();
                {% else %}
                date = $('#date-order').val();
                delivery_date = $('#date-delivery-time').val();
                {% endif %}
                {% endif %}
                if(date === undefined){
                    date = "";
                }
                if(date){
                    email_date = date;
                }else{
                    {% if order_mail_details|length > 0 %}
                    $('#extra_text').val(unescapeHtml('{{ order_mail_details['details'] }}'));
                    email_date = '{{ order_mail_details['created'] }}';
                    {% else %}
                    email_date = moment().format("DD-MM-YYYY");
                    {% endif %}
                }
                $('#pdf-view').attr('src', "about:blank");
                doc = new jsPDF('p', 'mm', 'a4');
                generatePDF();
                $('#invoice-note').modal('hide');
            });
            $('#show-mail-dialog').click(function(event) {
                $('#email').val('{{ order.contactPerson.email }}');
                set_mail_data(doc.output('blob'), '{{ mail_type }}', '{{ order.orderNumber }}', "", "", "", extra_text, $("#file-pdf")[0].files);
            });
            $('#pdf-details-button').click(function (event) {
                extra_text = $('#extra_text').val();
                {% if mail_type == constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::INVOICE_SENT') %}
                date = $('#date-invoice').val();
                {% elseif mail_type == constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::OFFER_EMAILED') %}
                date = $('#date-offer').val();
                {% else %}
                date = $('#date-order').val();
                {% endif %}
                delivery_date = $('#date-delivery-time').val();
                if(date === undefined){
                    date = "";
                }
                if(date){
                    email_date = date;
                }else{
                    {% if order_mail_details|length > 0 %}
                    $('#extra_text').val(unescapeHtml('{{ order_mail_details['details'] }}'));
                    email_date = '{{ order_mail_details['created'] }}';
                    {% else %}
                    email_date = moment().format("DD-MM-YYYY");
                    {% endif %}
                }
                $('#pdf-view').attr('src', "about:blank");
                doc = new jsPDF('p', 'mm', 'a4');
                generatePDF();
                $('#pdf-detail').modal('hide');
            });
            function generatePDF() {
                createLogoAndText();
                doc.setFontSize(11);
                let columnsDelivery = [
                    ("{{ 'Pcs'|trans({}, 'messages', cl) }}").toUpperCase(),
                    ("{{ 'REF.'|trans({}, 'messages', cl) }}").toUpperCase(),
                    ("{{ 'Description'|trans({}, 'messages', cl) }}").toUpperCase(),
                    ("{{ 'Unit price'|trans({}, 'messages', cl) }}").toUpperCase(),
                    '',
                    ("{{ 'Total'|trans({}, 'messages', cl) }}").toUpperCase()
                ];
                let rowsDelivery = [];
                let data = [];
                let orderArticleDescription = "";
                let oa_selling_price = "";
                let articleCurrency = "";
                let counter = 0;
                let article_size = '';
                {% for key,oa in order.orderArticles %}
                article_size = '';
                {% if oa.showSize %}
                    {% if not (oa.article.size) is empty and (oa.article.size) != "-" %}
                    article_size = '{{ oa.article.size }}';
                    {% endif %}
                {% endif %}
                {% if not(oa.material is empty) %}
                    {% if not (oa.article.size) is empty and (oa.article.size) != "" and (oa.article.size) != "-" and oa.showSize %}
                    article_size = article_size + ', ' + '{{ oa.material }}';
                    {% else %}
                    article_size = article_size + '{{ oa.material }}';
                    {% endif %}
                {% else %}
                {% endif %}
                {% if not(oa.color is empty) %}
                    {% if oa.material is empty %}
                        {% if not (oa.article.size) is empty  and (oa.article.size) != "" and (oa.article.size) != "-" and oa.showSize %}
                            article_size += ', {{ oa.color }}';
                        {% else %}
                            article_size += '{{ oa.color }}';
                        {% endif %}
                    {% else %}
                    article_size += ', {{ oa.color }}';
                    {% endif %}
                {% endif %}
                {% if cl == constant('AppBundle\\Entity\\FixedTables\\LocaleEntity::ENGLISH') %}
                {% if oa.description is empty %}
                orderArticleDescription = '{{ oa.article.articleName }} ' + '\n' + article_size;
                orderArticleDescription = unescapeHtml(orderArticleDescription);
                {% else %}
                orderArticleDescription = '{{ oa.description }} ' + '\n' + article_size;
                orderArticleDescription = unescapeHtml(orderArticleDescription);
                {% endif %}
                {% endif %}
                {% if cl == constant('AppBundle\\Entity\\FixedTables\\LocaleEntity::DUTCH') %}
                {% if oa.description is empty %}
                orderArticleDescription = '{{ oa.article.articleNameDutch }} ' + '\n' + article_size;
                orderArticleDescription = unescapeHtml(orderArticleDescription);
                {% else %}
                orderArticleDescription = remove_linebreaks('{{ oa.description }}')+ '\n' + article_size;
                orderArticleDescription = unescapeHtml(orderArticleDescription);
                {% endif %}
                {% endif %}
                data = [];
                {% if key == 0 %}
                articleCurrency =  "€";
                {% else %}
                articleCurrency =  "";
                {% endif %}
                if('{{ oa.quantity }}' > 1){
                    if (('{{ oa.sellingPrice }}' % 1) != 0) {
                        oa_selling_price = "€ " + $.number(accounting.unformat('{{ oa.sellingPrice }}'),2,',','.');
                    } else {
                        oa_selling_price = "€ " + $.number(accounting.unformat('{{ oa.sellingPrice }}'),0,',','.') + ',-'
                    }
                }else{
                    oa_selling_price = "";
                }
                data.push(
                    '{{ oa.quantity }}',
                    '{{ oa.article.articleNumber }}',
                    orderArticleDescription,
                    oa_selling_price,
                    articleCurrency,
                    $.number(accounting.unformat('{{ oa.totalSellingPrice }}'),2,',','.')
                );
                rowsDelivery.push(data);
                {% endfor %}
                let finalYAfterTable = doc.autoTable.previous.finalY;
                if("{{ order.discount }}" != 0) {
                    let discountPack = [];
                    discountPack.push(
                        '',
                        '',
                        "{{ 'Discount'|trans({}, 'messages', cl) }}",
                        '',
                        '',
                        $.number(accounting.unformat('{{ order.discount }}'), 2, ',', '.')
                    );
                    rowsDelivery.push(discountPack);
                }
                if("{{ order.packingAndTransport }}" != 0) {
                    let discountPack = [];
                    discountPack.push(
                        '',
                        '',
                        "Packing and transport",
                        '',
                        '',
                        $.number(accounting.unformat('{{ order.packingAndTransport }}'), 2, ',', '.')
                    );
                    rowsDelivery.push(discountPack);
                }
                let pageContent = function (data) {
                    if(data.pageCount >= 2){
                        doc.setFontType('normal');
                        {% if mail_type == constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::INVOICE_SENT') %}
                        doc.text("{{ 'Invoice Number'|trans({}, 'messages', cl) }}:", 15, 10);
                        doc.text('{{ invoice_number }}', 55, 10);
                        {% else %}
                        doc.text("{{ 'Order Number'|trans({}, 'messages', cl) }}:", 15, 10);
                        doc.text('{{ order.orderNumber }}', 55, 10);
                        {% endif %}
                    }
                    creatingFooter();
                };
                doc.autoTable(columnsDelivery, rowsDelivery,{
                    startY: 108,
                    theme: 'plain',
                    margin: {top: 14},
                    headerStyles:{
                        fillColor: [186,153,105],
                        textColor: 255,
                        font: 'DINPro',
                        fontStyle: 'medium',
                        halign: "left",
                        overflow: 'linebreak',
                    },
                    bodyStyles:{
                        font: 'DINPro',
                        fontStyle: 'normal',
                        halign: "left",
                        fontSize: 11,
                        overflow: 'linebreak',
                    },
                    createdHeaderCell: function (cell, data) {
                        if(data.column.index === 4 || data.column.index === 5){
                            cell.styles.halign = "right";
                        }
                        if(data.column.index === 0){
                            cell.styles.halign = "center";
                        }
                    },
                    createdCell: function (cell, data) {
                        if( data.column.index === 4 || data.column.index === 5){
                            cell.styles.halign = "right";
                        }
                        if(data.column.index === 0){
                            cell.styles.halign = "center";
                        }
                    },
                    addPageContent: pageContent
                });
                let pageWidth = doc.internal.pageSize.width;
                let rows = doc.autoTable.previous.rows;
                let RowsNewLine = 0;
                let euroSignStart = pageWidth - doc.autoTable.previous.columns[5].width - 18 ;
                let extraTextStart  = 16 + doc.autoTable.previous.columns[0].width + doc.autoTable.previous.columns[1].width ;
                doc.setFont('DINPro');
                doc.setFontType('normal');
                doc.setFontSize(12);
                let finalY = doc.autoTable.previous.finalY;
                for(let i = 0; i < rows.length; i++){
                    if(rows[i].newRow){
                        RowsNewLine = rows.length - i;
                    }
                }
                if(extra_text != 0) {
                    finalY += 10;
                    let splitted_text = doc.splitTextToSize( extra_text, doc.internal.pageSize.width - 60);
                    doc.text(extraTextStart, finalY, splitted_text);
                }
                {% if order.isSwiss and mail_type == constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::INVOICE_SENT')%}
                if (showSwisText) {
                    finalY += 20;
                    let swiss_extra_text = "Der Ausfuhrer der Waren, auf Sie sich dieses \nHandels" +
                        "papieren beziecht, erklart, dass diese Waren, \nsoweit nicht" +
                        "anders angegeben, praferenzbegunstigte CE," + "\n" +
                        "Ursprungswaren sind." + "\n\n" +
                        "colli:" + packages + "\n\n" +
                        "gewicht:" + weight;
                    let splitted_text = doc.splitTextToSize( swiss_extra_text, doc.internal.pageSize.width - 60);
                    doc.text(extraTextStart, finalY, splitted_text);
                }
                {% endif %}
                {% if mail_type ==  constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::ORDER_CONFIRMATION_EMAILED') %}
                finalY += 20;
                if(delivery_date != ""){
                    doc.text(extraTextStart, finalY, "{{ 'Delivery time'|trans({}, 'messages', cl) }}: " + delivery_date);
                }
                {% endif %}
                doc.setDrawColor(0, 0, 0);
                {%  if order.isBTWType %}
                nextTitle = 240;
                doc.setLineWidth(0.3);
                doc.line(euroSignStart, nextTitle - 5, 195, nextTitle - 5);
                let totalSellingAmount = $.number(accounting.unformat('{{ order.totalSellingAmountWith2DP }}'),2,',','.');
                doc.text("{{ 'Subtotal'|trans({}, 'messages', cl) }}" , 135, nextTitle);
                doc.text( totalSellingAmount, 195 - 2*totalSellingAmount.length, nextTitle);
                doc.text("€", euroSignStart, nextTitle);
                let pdv = $.number(accounting.unformat('{{ order.pdvWith2DP }}'),2,',','.');
                doc.text("{{ 'btw'|trans({}, 'messages', cl) }} 21%", 135, nextTitle +10);
                doc.text( pdv, 195 - 2*pdv.length, nextTitle+10);
                doc.setFontSize(11);
                doc.text("€", euroSignStart, nextTitle+10);
                doc.setFontSize(12);
                doc.setLineWidth(0.3);
                doc.line(euroSignStart, nextTitle+16, 195, nextTitle+16);
                doc.text(thank_you_text, 10, nextTitle +  10);
                let totalSellingAmountWithPDV = $.number(accounting.unformat('{{ order.totalSellingAmountWithPdvWith2DP }}'),2,',','.');
                doc.setFontSize(11);
                doc.text("€", euroSignStart, nextTitle+20);
                doc.setFontSize(12);
                doc.text(("{{ 'TOTAL'|trans({}, 'messages', cl) }}").toUpperCase() , 135, nextTitle + 20);
                doc.text( totalSellingAmountWithPDV, 195 - 2*totalSellingAmountWithPDV.length, nextTitle + 20);
                doc.setLineWidth(0.3);
                doc.line(euroSignStart,  nextTitle + 23, 195,  nextTitle + 23);
                doc.setLineWidth(0.3);
                {% else %}
                nextTitle = 240;
                {% if order.isSwiss %}
                totalSellingAmountWithPDV = $.number(accounting.unformat('{{ order.totalSellingAmountWithPdvWith2DP }}'),2,',','.');
                doc.text(thank_you_text, 20, nextTitle+ 10);
                {% else %}
                totalSellingAmountWithPDV = $.number(accounting.unformat('{{ order.totalSellingAmountWith2DP  }}'),2,',','.');
                doc.text(thank_you_text, 20, nextTitle + 10);
                {% endif %}
                doc.setFontSize(11);
                doc.text("€", euroSignStart, nextTitle + 20);
                doc.setFontSize(12);
                doc.setLineWidth(0.3);
                doc.line(euroSignStart, nextTitle + 16, 195, nextTitle + 16);
                doc.text(("{{ 'TOTAL'|trans({}, 'messages', cl) }}").toUpperCase() , 135, nextTitle + 20);
                doc.text( totalSellingAmountWithPDV, 195 - 2*totalSellingAmountWithPDV.length, nextTitle + 20);
                doc.setLineWidth(0.3);
                doc.line(euroSignStart, nextTitle + 23, 195, nextTitle + 23);
                doc.setLineWidth(0.3);
                {% endif %}
                $('#pdf-view').attr('src',doc.output('datauristring'));
            }
            function addFont(){
                doc.addFont('DINPro.ttf', 'DINPro', 'normal');
                doc.addFont('DINPro-Medium.ttf', 'DINPro', 'medium');
                doc.addFont('DINPro-Bold.ttf', 'DINPro', 'bold');
            }
            function unescapeHtml(safe) {
                return safe.replace(/&amp;/g, '&')
                    .replace(/&lt;/g, '<')
                    .replace(/&gt;/g, '>')
                    .replace(/&quot;/g, '"')
                    .replace(/&#039;/g, "'");
            }

            function remove_linebreaks(message) {
                return message.replace( /[\r\n]+/gm, "" );
            }

            function createLogoAndText() {
                {% if order.debtor.communicationLanguage == constant('AppBundle\\Entity\\FixedTables\\LocaleEntity::ENGLISH') %}
                btwNumber = 120;
                {% else %}
                btwNumber = 123;
                {% endif %}
                $("#order").addClass("active-debt");
                doc.addImage('{{ logo }}', 'JPEG', 11, 20, 80, 10);
                addFont();
                doc.setFont('DINPro');
                doc.setFontSize(12);
                doc.text(unescapeHtml("{{ order.debtor.name }}"), 15, 44);
                doc.text(unescapeHtml("{{ order.debtor.street }} ") + unescapeHtml("{{ order.debtor.number }} ") + unescapeHtml("{{ order.debtor.numberExtension }}"), 15, 50);
                doc.text('{{ order.debtor.postCode ~ ' ' ~ order.debtor.city}}', 15, 56);
                {% if order.debtor.country != 'Netherlands' %}
                doc.text('{{ order.debtor.country}}', 15, 62);
                {% endif %}
                {% if mail_type == constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::OFFER_EMAILED') %}
                doc.text("{{ 'Date'|trans({}, 'messages', cl) }}:", 15, 82);
                {% if order.contactPerson.phoneNumber != '' %}
                doc.text("{{ 'Phone Number'|trans({}, 'messages', cl) }}:", 15, 92);
                doc.text("{{ order.contactPerson.phoneNumber }}", 55, 92);
                {% endif %}
                {% if order.debtor.BTW != '' %}
                doc.text("{{ 'Vat nr'|trans({}, 'messages', cl) }}:", 103, 92);
                doc.text('{{ order.debtor.BTW }}', btwNumber, 92);
                doc.text("{{ 'Order Number'|trans({}, 'messages', cl) }}:", 103, 82);
                doc.text('{{ order.orderNumber }}', 135, 82);
                {% else %}
                doc.text("{{ 'Order Number'|trans({}, 'messages', cl) }}:", 103, 92);
                doc.text('{{ order.orderNumber }}', 135, 92);
                {% endif %}
                doc.text(email_date, 55, 82);
                doc.setFontSize(16);
                doc.setFontType('bold');
                doc.text('{{ 'Offer'|trans({}, 'messages', cl) }}', 15, 102);
                doc.setFontType('normal');
                doc.setFontSize(12);
                thank_you_text = "{{ 'Thank you for your inquiry'|trans({}, 'messages', cl) }}";
                {% endif %}
                {% if mail_type == constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::ORDER_CONFIRMATION_EMAILED')%}
                doc.text("{{ 'Date'|trans({}, 'messages', cl) }}:", 15, 82);
                doc.text(email_date, 55, 82);
                {% if order.contactPerson.phoneNumber != '' %}
                doc.text("{{ 'Phone Number'|trans({}, 'messages', cl) }}:", 15, 92);
                doc.text("{{ order.contactPerson.phoneNumber }}", 55, 92);
                {% endif %}
                {% if order.debtor.BTW != '' %}
                doc.text("{{ 'Vat nr'|trans({}, 'messages', cl) }}:", 103, 92);
                doc.text('{{ order.debtor.BTW }}', btwNumber, 92);
                doc.text("{{ 'Order Number'|trans({}, 'messages', cl) }}:", 103, 82);
                doc.text('{{ order.orderNumber }}', 135, 82);
                {% else %}
                doc.text("{{ 'Order Number'|trans({}, 'messages', cl) }}:", 103, 92);
                doc.text('{{ order.orderNumber }}', 135, 92);
                {% endif %}
                doc.setFontSize(16);
                doc.setFontType('bold');
                doc.text('{{ 'Order Confirmation'|trans({}, 'messages', cl) }}', 15, 102);
                doc.setFontSize(12);
                thank_you_text = "{{ 'Thank you for your order'|trans({}, 'messages', cl) }}";
                {% endif %}
                {% if mail_type == constant('AppBundle\\Entity\\User\\Orders\\FixedTables\\OrderMailStatusEntity::INVOICE_SENT') %}
                doc.text("{{ 'Invoice Date'|trans({}, 'messages', cl) }}:", 15, 84);
                doc.text(email_date, 55, 84);
                doc.text("{{ 'Invoice Number'|trans({}, 'messages', cl) }}:", 15, 94);
                doc.text('{{ invoice_number }}', 55, 94);
                {% if order.contactPerson.phoneNumber != '' %}
                doc.text("{{ 'Phone Number'|trans({}, 'messages', cl) }}:", 15, 104);
                doc.text("{{ order.contactPerson.phoneNumber }}", 55, 104);
                {% endif %}
                {% if order.debtor.BTW != '' %}
                doc.text("{{ 'Vat nr'|trans({}, 'messages', cl) }}:", 103, 94);
                doc.text('{{ order.debtor.BTW }}', btwNumber, 94);
                doc.text("{{ 'Order Number'|trans({}, 'messages', cl) }}:", 103, 104);
                doc.text('{{ order.orderNumber }}', 135, 104);
                {% else %}
                doc.text("{{ 'Order Number'|trans({}, 'messages', cl) }}:", 103, 104);
                doc.text('{{ order.orderNumber }}', 135, 104);
                {% endif %}
                thank_you_text = "{{ 'Thank you for your purchase'|trans({}, 'messages', cl) }}";
                {% endif %}
            }
            function createHeaderTextFooter() {
            }
            function creatingFooter() {
                nextTitle = 280;
                doc.setFontSize(10);
                let beggingOfText = 60;
                doc.text('ING Bank:',beggingOfText, nextTitle);
                doc.setFontType("bold");
                doc.text('IBAN NL22INGB0007691142', beggingOfText + 17, nextTitle);
                doc.circle(beggingOfText + 66, nextTitle - 1.2 ,0.8,'F');
                doc.text('BIC: INGBNL2A', beggingOfText + 68, nextTitle);
                doc.setFontType("normal");
                beggingOfText = 40;
                doc.text('De Blecourtstraat 28a', beggingOfText, nextTitle + 4);
                doc.circle(beggingOfText + 36, nextTitle + 3.1 ,0.8,'F');
                doc.text('5652 GB Eindhoven',beggingOfText + 38, nextTitle + 4);
                doc.circle(beggingOfText + 71, nextTitle + 3.1 ,0.8,'F');
                doc.text('GSM 06 - 53 30 48 83',beggingOfText + 73, nextTitle + 4);
                beggingOfText = 65;
                doc.text('K.v.K. Eindhoven 77964160', beggingOfText, nextTitle + 8);
                doc.circle(beggingOfText + 46, nextTitle + 7.1 ,0.8,'F');
                doc.text('BTW nr. NL0032.65.124.B10', beggingOfText + 48, nextTitle + 8);
                doc.setFontType("bold");
                beggingOfText = 53;
                doc.text('E-mail: info@dejonginterieur.com', beggingOfText, nextTitle + 12);
                doc.circle(beggingOfText + 58, nextTitle + 11.1 ,0.8,'F');
                doc.text('Website: www.dejonginterieur.com', beggingOfText + 61, nextTitle + 12);
                doc.setFont('DINPro');
                doc.setFontType('normal');
                doc.setFontSize(12);
            }
        });



    </script>
{% endblock %}