{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    <br/>
    {% if Action != 'add' %}
        <div class="row">
            <div class="col-lg-12" >
                <h3 style="float:left;margin-left:5%">{% trans %}Debtor name{% endtrans %}: {{ debtor.name }}</h3>
            </div>
        </div>
    {% endif %}
    <div class="col-lg-12">
        <br/>
        <div class="content">
            {% if layout == 'tabs' %}
                {% include ':user/debtors/layout:tabs_layout.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        {% if Action != "add" %}
        $("#debtor").addClass("active-debt");
        {% if notes | length %}
        $("#debtor-notes").addClass("many-items");
        {% endif %}
        {% if debtor_files | length %}
        $("#debtor-files").addClass("many-items");
        {% endif %}
        {% if debtor.deliveryAddresses | length %}
        $("#debtor-delivery").addClass("many-items");
        {% endif %}
        {% if debtor.contactPersons | length %}
        $("#debtor-contact").addClass("many-items");
        {% endif %}
        {% endif %}
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/countrySelect.css') }}">
{% endblock %}