{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% set var_debtors = 'debtors' %}
{% block body %}
    <div class="col-lg-12 actions">
        <i class="fa fa-user-plus menu-add add" title="{% trans %}Add New Debtor{% endtrans %}" aria-hidden="true"></i>
        <i class="fa fa-bar-chart menu-add chart" aria-hidden="true" title="{% trans %}How found{% endtrans %}"></i>
        <i class="fa fa-sort-numeric-desc menu-add order" aria-hidden="true" title="{% trans %}Ordered Debtors{% endtrans %}"></i>
        {% include ':components:html_error.html.twig' with {'context': var_debtors} %}
        {% include ':components:search.html.twig'%}
    </div>
    <table id="debtor-table" class="table table-bordered">
        <thead class="table-header">
            <tr>
                <th hidden>{% trans %}id{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}City{% endtrans %}</th>
                <th>{% trans %}Email{% endtrans %}</th>
                <th data-dynatable-sorts="parsedTotalFloat">{% trans %}Total purchase{% endtrans %}</th>
                <th data-dynatable-sorts="parsedTotalBuying">{% trans %}Total sale{% endtrans %}</th>
                <th data-dynatable-sorts="parsedProfitAmountFloat">{% trans %}Profit Amount{% endtrans %}</th>
                <th data-dynatable-sorts="parsedProfitFloat">{% trans %}Profit{% endtrans %} %</th>
                <th class="th-center">{% trans %}Action{% endtrans %}</th>
            </tr>
        </thead>
        <tbody class="default-table-body" style="display: none;">
        {% for debtor_view in debtors_view %}
            <tr class="table-rows">
                <td class="click" hidden >{{ debtor_view.id }}</td>
                <td class="click">{{ debtor_view.name }}</td>
                <td class="click">{{ debtor_view.city }}</td>
                <td class="click" >{{ debtor_view.email }}</td>
                <td class="click" >{{ debtor_view.totalPurchasePrice }}</td>
                <td class="click" >{{ debtor_view.totalSellingPrice }}</td>
                <td class="click" >{{ debtor_view.totalSellingPrice - debtor_view.totalPurchasePrice}}</td>
                <td class="click" >{{ debtor_view.profitPercents }}</td>
                <td class="th-center">
                    <i id="update-{{ debtor_view.id }}" class="fa fa-pencil icon update" aria-hidden="true" title="{% trans %}Update Debtor{% endtrans %}"></i>&nbsp;
                    <i id="look-{{ debtor_view.id }}" class="fa fa-eye icon view" aria-hidden="true" title="{% trans %}View Debtor{% endtrans %}"></i>&nbsp;
                    <i id="delete-{{ debtor_view.id }}" class="fa fa-trash icon delete" aria-hidden="true" title="{% trans %}Delete Debtor{% endtrans %}"></i>&nbsp;
               </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
    {% include':components:spinner.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script>
        {% set cl = locale %}
        $(document).on('click', '.update', function(event) {
            window.location.href = '/debtors/' + event.target.id.split('-')[1] + '/update-debtor';
        });
        $(document).on('click', '.click', function(event) {
            let id = $(this).closest('tr').children('td:first').text();
            window.location.href = '/debtors/' + id + '/pdf-view-debtor';
        });
        $(document).on('click', '.statistic', function(event) {
            let id = event.target.id.split('-')[1];
            $.redirect('/debtors/debtors-chart', {'id': id});
        });
        $(document).on('click', '.view', function(event) {
            let id = event.target.id.split('-')[1];
            window.location.href = '/debtors/' + id + '/pdf-view-debtor';
        });
        $(document).on('click', '.delete', function(event) {
            let answer = confirm('{% trans %}Are you sure you want to delete debtor? By deleting this debtor you will delete all date attached to this debtor?{% endtrans %}');
            if(answer) {
                let data = {};
                data.id = event.target.id.split('-')[1];
                $.ajax({
                    url: '/debtors/delete-debtor',
                    type: 'delete',
                    data: data,
                    success: function (result) {
                        window.location.reload();
                    },
                    error: function (result) {
                        try {
                            let error = JSON.parse(result.responseText);
                            {{ var_debtors }}_set_error_message(error.error_message);
                        } catch(e) {
                            {{ var_debtors }}_set_error_message('Uknown');
                        }
                    }
                });
            }
        });
        $(document).ready(function () {
            $('#table-spinner').show();
            $('#debtor-table').dynatable({
                readers: {
                    "{{ 'totalSale'|trans({}, 'messages', cl) }}": function(el, record) {
                        let totalSale = '€ ' + $.number(accounting.unformat(el.innerHTML),2,',','.');
                        record.parsedTotalFloat = parseFloat(el.innerHTML);
                        return totalSale || 0;
                    },
                    "{{ 'profit'|trans({}, 'messages', cl) }}-%": function(el, record) {
                        let profit = parseFloat(el.innerHTML).toFixed(2) + "%";
                        record.parsedProfitFloat = parseFloat(el.innerHTML);
                        return profit || 0;
                    },
                    "{{ 'profitAmount'|trans({}, 'messages', cl) }}": function(el, record) {
                        let totalProfit = '€ ' + $.number(accounting.unformat(el.innerHTML),2,',','.');
                        record.parsedProfitAmountFloat = parseFloat(el.innerHTML);
                        return totalProfit || 0;
                    },
                    "{{ 'totalPurchase'|trans({}, 'messages', cl) }}": function(el, record) {
                        let totalBuying = '€ ' + $.number(accounting.unformat(el.innerHTML),2,',','.');
                        record.parsedTotalBuying = parseFloat(el.innerHTML);
                        return totalBuying || 0;
                    },
                },
                features:{
                    perPageSelect: false,
                    recordCount: false,
                    search: false,
                },
                inputs: {
                    queries: $('#search'),
                },
            });
            $(".default-table-body").show();
            $('#table-spinner').hide();
            $('#search').val(localStorage.getItem('search'));
            localStorage.clear();
            $(".modal-draggable .modal-dialog").draggable({
                handle: ".modal-header"
            });
            $("#debtor").addClass("active-debt");
            $('.add').click(function () {
                 window.location.replace('/debtors/add-debtor');
            });
            $('.chart').click(function (event) {
                window.location.replace('/debtors/how-did-you-find-us');
            });
            $('.order').click(function(event) {
                window.location.replace('/debtors/pdf-order-debtors');
            })
        });

    </script>
{% endblock %}