<table class="table table-bordered">
<tr class="table-header">
    <th>id</th>
    <th>grant</th>
    <th>enabled</th>
    <th>description</th>
    <th class="th-center">Action</th>
</tr>
{% for grant in grants %}
    <tr class="table-rows">
        <th id="th-{{ grant.id }}-id">{{ grant.id }}</th>
        <th id="th-{{ grant.id }}-grant">{{ grant._grant }}</th>
        {% if grant.enabled %}
            <th id="th-{{ grant.id }}-enabled"> true </th>
        {% else %}
            <th id="th-{{ grant.id }}-enabled"> false </th>
        {% endif %}
        <th id="th-{{ grant.id }}-description">{{ grant.description }}</th>
        <th class="th-center">
            {% if grant.enabled %}
                <i id="toggle-{{ grant.id }}" class="fa fa-toggle-off icon toggle" aria-hidden="true"></i>&nbsp;
            {% else %}
                <i id="toggle-{{ grant.id }}" class="fa fa-toggle-on icon toggle" aria-hidden="true"></i>&nbsp;
            {% endif %}
            <i id="edit-{{ grant.id }}" class="fa fa-pencil icon edit" aria-hidden="true" data-toggle="modal" data-target="#updateGrant"></i>&nbsp;
            <i id="edit-{{ grant.id }}" class="fa fa-trash icon delete" aria-hidden="true"></i>&nbsp;
        </th>
    </tr>
{%  endfor %}
</table>