<div class="modal fade modal-draggable" id="{{ action }}Grant" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" style="display:none" id="{{ action }}-id" name="id" value="" >
                    <div class="form-group">
                        <label for="grant">Grant:</label>
                        <input type="text" class="form-control" id="{{ action }}-grant" name="_grant" value="" {% if action == 'update' %} disabled {% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="enabled">Enabled:</label>
                        <input type="checkbox" name="enabled" id="{{ action }}-enabled" value=""/>
                    </div>
                    <div class="form-group">
                        <label for="enabled">Description:</label>
                        <input type="text" name="description" id="{{ action }}-description" value=""/>
                    </div>
                    <button type="button" value="Submit" id="submit-{{ action }}-grant" class="btn btn-default btn-block button-color">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    {% if action == 'update' %}
        function set_selected_grant(selected_grant) {
            $('#update-id').val(selected_grant.id);
            $('#update-grant').val(selected_grant.grant);
            $('#update-enabled').prop('checked', JSON.parse(selected_grant.enabled));
            $('#update-description').val(selected_grant.description);
        }
    {% endif %}
    $('#submit-{{ action }}-grant').click(function (event) {
        let data = {};
        data.id = $('#{{ action }}-id').val();
        data._grant = $('#{{ action }}-grant').val();
        data.enabled = $('#{{ action }}-enabled').is(':checked');
        data.description = $('#{{ action }}-description').val();
        $.ajax({
            url: '/super-admin/{{ action }}-grant',
        {% if action == 'add' %}
            type: 'post',
        {% elseif action == 'update' %}
            type: 'put',
        {% endif %}
            data: data,
            success: function (result) {
                window.location.reload();
            },
            error: function (result) {
                let error = JSON.parse(result.responseText);
                alert('Error ' + error.error_message);
                window.location.replace('/super-admin');
            }
        })
    });
</script>