body {
    color: #fff;
    background-color: #393939;
}
.form-login{
    width: 320px;
    margin: auto;
}
.logo {
    padding-bottom: 5px;
}
.img {
    height: 100%;
    width: 100%;
}
.float-left {
    float: left;
}
.panel {
    background-color: #2E3030;
    border-color: transparent;
}
label {
    font-weight: 500;
}
.panel-login{
    width: 400px;
}
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.button-color{
    border-radius: 3px;
    background-color: #138D82;
    color: #fff;
    border-color: transparent;
}
.row-center{
    padding-top: 250px;
}
.table{
    color: #000;
}
.table-rows{
    background-color: #fff;
}
.table-header{
    background-color: #138D82;
    color: #fff;
}
th{
    font-weight: 500;
}
.panel-header img{
    float: left;
    height: auto;
    width: 15%;
}
.row-regular{
    padding-top: 50px;
}
.menu-item{
    float: left;
    padding-top: 20px;
    padding-bottom: 50px;
}

.menu-add{
    float: left;
    color: #fff;
    font-size: 20px;
    padding-top: 13px;
    cursor: pointer;
}
.menu-settings{
    float: left;
    color: #fff;
    font-size: 20px;
    padding-top: 13px;
    cursor: pointer;
    padding-right: 5px;
}
.modal-draggable .modal-backdrop {
    position: fixed;
}

.modal.modal-draggable {
    overflow: hidden;
}

.modal-draggable .modal-header:hover {
    cursor: move;
}

.modal-header{
    background-color: #138D82;
    cursor: move;
}
.modal.fade.ui-draggable-dragging {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}
.modal-body{
    color: #000;
}
.menu-debit-item{
    color: #9fa0a0;
    font-size: 30px;
    padding-left: 10px;
}
.menu-debit-name{
    color: #9fa0a0;
    font-size: 15px;
}
.menu span:hover{
    text-decoration: none;
}
.menu-leve-item{
    color: #9fa0a0;
    font-size: 30px;
    padding-left: 26px;
}
.menu-leve-name{
    color: #9fa0a0;
    font-size: 15px;
}
.menu-order-item{
    color: #9fa0a0;
    font-size: 30px;
    padding-left: 25px;
}
.menu-order-name{
    color: #9fa0a0;
    font-size: 15px;
    padding-left: 20px;
}
.menu-artik-item{
    color: #9fa0a0;
    font-size: 30px;
}
.menu-artik-name{
    color: #9fa0a0;
    font-size: 15px;
}
.menu-plan-item{
    color: #9fa0a0;
    font-size: 30px;
}
.menu-plan-name{
    color: #9fa0a0;
    font-size: 15px;
}
.menu-fact-item{
    color: #9fa0a0;
    font-size: 30px;
    padding-left: 8px;
}
.menu-fact-name{
    color: #9fa0a0;
    font-size: 15px;
}
.menu-user-item{
    color: #9fa0a0;
    font-size: 30px;
}
.menu-user-name{
    color: #9fa0a0;
    font-size: 15px;
}
.menu-admin {
    display: block;
    text-decoration: none;
    color: #fff;
}
.menu-logout{
    display: block;
    text-decoration: none;
    color: #fff;
}
.menu-admin:hover{
    color:#fff;
    text-decoration: none;
}
.menu-logout:hover{
    color:#fff;
    text-decoration: none;
}
.menu-leng{
    cursor: pointer;
}
a span{
    text-decoration: none;
    display: inline-block;
}
.menu-debit:hover i{
    color: #fff;
}
.menu-debit:hover span{
    color: #fff;
}
.menu-icon:hover i{
    color: #fff;
}
.menu-icon:hover span{
    color: #fff;
}
.menu-leve:hover i{
    color: #fff;
}
.menu-leve:hover span{
    color: #fff;
}
.menu-order:hover i{
    color: #fff;
}
.menu-order:hover span{
    color: #fff;
}
.menu-artik:hover i{
    color: #fff;
}
.menu-artik:hover span{
    color: #fff;
}
.menu-plan:hover i{
    color: #fff;
}
.menu-plan:hover span{
    color: #fff;
}
.menu-fact:hover i{
    color: #fff;
}
.menu-fact:hover span{
    color: #fff;
}
.actions{
    padding-top: 20px;
}
.menu{
    padding-top: 15px;
    padding-left: 0px;
}
table, th, td {
    border: 1px solid black;
}
.icon{
    cursor: pointer;
}
.search-form {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}
.search-form input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
}
.search-form input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}
.search-form input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}
.search-form input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form:hover,
.search-form.hover {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
}
.search-form span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #138D82;
    left: initial;
    font-size: 14px;
}
.search{
    width: 250px;
    float: right;
    padding-bottom: 5px;
}
.th-center{
    text-align: center;
}
.active-debt i{
    color: #fff;
}
.active-debt span{
    color: #fff;
}
.content{
    border: 1px solid #9fa0a0;
    border-radius: 11px;
    /* padding: 14px; */
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
    height: 100%;
}
.margin-setter{
    margin-left: 5px !important;
}
.label-text{
    float: left;
    width: 130px;
}
.control-label{
    text-align: left !important;
}
.title-text{
    float: left;
    border-bottom: 1px solid #9fa0a0;
    width: 740px;
    text-align: left;
}
#dataTable{
    height: 100px;
    overflow: scroll;
}
.fa-add{
    display: block;
    float: left;
    padding-top: 10px;
    cursor: pointer;
}
.click{
    cursor: pointer;
}
.table-rows:hover{
    background-color: #e6e6e6;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    background: #9fa0a0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background-color: transparent;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border-radius: 100px;
    background: transparent;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
    border: 2px solid #9fa0a0;
    color: #9fa0a0;
}

li.active span.round-tabs.one{
    color: #BA9969;
    border: 2px solid #BA9969;
}

span.round-tabs.two{
    border: 2px solid #9fa0a0;
    color: #9fa0a0;
}

li.active span.round-tabs.two{
    color: #BA9969;
    border: 2px solid #BA9969;
}

span.round-tabs.three{
    border: 2px solid #9fa0a0;
    color: #9fa0a0;
}

li.active span.round-tabs.three{
    color: #BA9969;
    border: 2px solid #BA9969;
}

span.round-tabs.four{
    border: 2px solid #9fa0a0;
    color: #9fa0a0;
}

li.active span.round-tabs.four{
    color: #BA9969;
    border: 2px solid #BA9969;
}

.nav-tabs{
    border-bottom: 1px solid #9fa0a0;
}
.nav-tabs > li.active > a span.round-tabs{
}
.nav-tabs > li {
    width: 20%;
}
.nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #9fa0a0;
    transition:0.1s ease-in-out;

}
.nav-tabs > li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #9fa0a0;

}
.nav-tabs > li a{
    width: 50px;
    height: 50px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    border: none !important;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
    position: relative;
    padding-top: 50px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}
.btn.green{
    background-color:#5cb85c;
}
@media( max-width : 585px ){

    .board {
        width: 90%;
        height:auto !important;
    }
    span.round-tabs {
        font-size:16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
    }
    .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height:50px;
    }

    .nav-tabs > li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

    .btn-outline-rounded {
        padding:12px 20px;
    }
}
.modal-process{
    background-color: #fff;
    border-bottom: none;
}
.nav{
    padding-left: 120px;
}
.basic{
    border: none;
    border-radius: 0px;
}
