{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include ':components:title.html.twig' %}
{% endblock title %}
{% block body %}
    {% include ':user/articles/components:modal_article.html.twig' with {'article_action': 'add'} %}
    {% include ':user/articles/components:modal_article.html.twig' with {'article_action': 'update'} %}
    {% include ':user/articles/components:modal_custom_article.html.twig' with {'custom_article_action': 'add_custom'} %}
    {% include ':user/articles/components:modal_custom_article.html.twig' with {'custom_article_action': 'update_custom'} %}
    {% include ':components:html_error.html.twig' with {'context': 'articles'} %}
    <div class="col-lg-12 actions">
        <i class="fa fa-user-plus menu-add add" aria-hidden="true"  data-toggle="modal" data-target="#addArticleModal"></i>
        <i class="fa fa-plus-square menu-add add" aria-hidden="true" data-toggle="modal" data-target="#add_customCustomArticleModal"></i>
        <i class="fa fa-bar-chart menu-add chart" aria-hidden="true" title="{% trans %}Categories Graph{% endtrans %}"></i>
        <i class="fa fa-sort-numeric-desc menu-add order" aria-hidden="true" title="{% trans %}Ordered Categories{% endtrans %}"></i>
        {% include ':components:search.html.twig'%}
    </div>
        <table id="article-table" class="table table-bordered">
            <thead>
                <tr class="table-header">
                    <th>{% trans %}ART. NR.{% endtrans %}</th>
                    <th>{% trans %}Article{% endtrans %}</th>
                    <th>{% trans %}Photo{% endtrans %}</th>
                    <th>{% trans %}Size{% endtrans %}</th>
                    <th data-dynatable-sorts="parsedPurchaseFloat">{% trans %}Purchase Price{% endtrans %}</th>
                    <th data-dynatable-sorts="parsedSellingFloat">{% trans %}Selling Price{% endtrans %}</th>
                    <th data-dynatable-sorts="parsedSellingVatFloat">{% trans %}Selling Price with VAT{% endtrans %}</th>
                    <th data-dynatable-sorts="parsedSaleFloat">{% trans %}Sale{% endtrans %}</th>
                    <th data-dynatable-sorts="parsedProfitAmountFloat">{% trans %}Profit Amount{% endtrans %}</th>
                    <th data-dynatable-sorts="parsedProfitFloat">{% trans %}Profit{% endtrans %} %</th>
                    <th class="th-center">{% trans %}Action{% endtrans %}</th>
                </tr>
            </thead>
            <tbody class="default-table-body" style="display: none">
                {% for article in articles %}
                    <tr class="table-rows">
                        <td class="click click" >{{ article.articleNumber }}</td>
                        {% if locale == constant('AppBundle\\Entity\\FixedTables\\LocaleEntity::ENGLISH') %}
                            <td class="click click" >{{ article.articleName }}</td>
                        {% endif %}
                        {% if locale == constant('AppBundle\\Entity\\FixedTables\\LocaleEntity::DUTCH') %}
                            <td class="click click" >{{ article.articleNameDutch }}</td>
                        {% endif %}
                        {% if locale == constant('AppBundle\\Entity\\FixedTables\\LocaleEntity::GERMAN') %}
                            <td class="click click" >{{ article.articleNameGerman }}</td>
                        {% endif %}
                        <td class="click click" >
                            {% if (article.pictureUrl) and (article.pictureUrl != 'default.jpg') %}
                            <img class="article-photo" rel="popover" data-img="{{ asset(company ~ 'images/') }}{{ article.pictureUrl }}" src="{{ asset(company ~ 'images/') }}{{ article.pictureUrl }}" />
                            {% endif %}
                        </td>
                        <td class="click click" >{{ article.size }}</td>
                        <td class="click click"  >{{ article.purchasePrice }}</td>
                        <td class="click click"  >{{ article.sellingPrice }}</td>
                        <td class="click click"  >{{ article.sellingPriceWithPdv }}</td>
                        <td class="click click"  >{{ article.totalSellingPrice }}</td>
                        <td class="click click"  >{{ article.totalSellingPrice - article.totalPurchasePrice}}</td>
                        <td class="click click" >{{ article.profitPercents }}</td>
                        <td class="th-center">
                            <i id="update--{{ article.id }}" class="fa fa-pencil icon update" aria-hidden="true" data-toggle="modal" data-target="#updateArticleModal"></i>&nbsp;
                            <!--<i id="statistic--{{ article.articleNumber }}" class="fa fa-bar-chart icon chart" aria-hidden="true"></i>&nbsp;-->
                            <i id="delete--{{ article.articleNumber }}" class="fa fa-trash icon delete" aria-hidden="true"></i>&nbsp;
                        </td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
    {% include':components:spinner.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script>
        {% set cl = locale %}
        $(document).ready(function () {
            $('#table-spinner').show();
            $('#article-table').dynatable({
                readers: {
                    "{{ 'sale'|trans({}, 'messages', cl) }}": function(el, record) {
                        let sale = '€ ' + $.number(accounting.unformat(el.innerHTML),2,',','.');
                        record.parsedSaleFloat = parseFloat(el.innerHTML);
                        return sale || 0;
                    },

                    "{{ 'profit'|trans({}, 'messages', cl) }}-%": function(el, record) {
                        let profit = parseFloat(el.innerHTML).toFixed(2) + "%";
                        record.parsedProfitFloat = parseFloat(el.innerHTML);
                        return profit || 0;
                    },
                    "{{ 'sellingPrice'|trans({}, 'messages', cl) }}": function(el, record) {
                        let selling = '€ ' + $.number(accounting.unformat(el.innerHTML),2,',','.');
                        record.parsedSellingFloat = parseFloat(el.innerHTML);
                        return selling || 0;
                    },
                    "{{ 'sellingPriceWithVat'|trans({}, 'messages', cl) }}": function(el, record) {
                        let sellingVAT = '€ ' + $.number(accounting.unformat(el.innerHTML),2,',','.');
                        record.parsedSellingVatFloat = parseFloat(el.innerHTML);
                        return sellingVAT || 0;
                    },
                    "{{ 'purchasePrice'|trans({}, 'messages', cl) }}": function(el, record) {
                        let purchase = '€ ' + $.number(accounting.unformat(el.innerHTML),2,',','.');
                        record.parsedPurchaseFloat = parseFloat(el.innerHTML);
                        return purchase || 0;
                    },
                    "{{ 'profitAmount'|trans({}, 'messages', cl) }}": function(el, record) {
                        let totalProfit = '€ ' + $.number(accounting.unformat(el.innerHTML),2,',','.');
                        record.parsedProfitAmountFloat = parseFloat(el.innerHTML);
                        return totalProfit || 0;
                    },
                },
                features:{
                    perPageSelect: false,
                    recordCount: false,
                    search: false,
                },
                inputs: {
                    queries: $('#search'),
                },
            });
            $("#article").addClass("active-debt");
            $(".default-table-body").show();
            $('#search').val(localStorage.getItem('search'));
            $('#table-spinner').hide();
            $('body').popover({
                selector: '[rel=popover]',
                trigger: 'hover',
                html: true,
                content: function () {
                    return '<img class="article-photo-popover" src="'+$(this).data('img') + '" />';
                }
            });
            $('.chart').click(function (event) {
                window.location.replace('/articles/pdf-articles');
            });
            $('.order').click(function (event) {
                window.location.replace('/articles/pdf-categories');
            });
        });
        $(document).on("click", ".update", function(e) {
            let data = {};
            data.id = event.target.id.split('--')[1];
            set_update_values_article(data);
        });
        $(document).on("click", ".delete", function(e) {
            let answer = confirm('{% trans %}Are you sure you want to delete this article? By deleting this article you will delete all date attached to this debtor?{% endtrans %}');
            if(answer) {
                let data = {};
                data.article_number = event.target.id.split('--')[1];
                $.ajax({
                    url: '/articles/delete-article',
                    type: 'delete',
                    data: data,
                    success: function (result) {
                        window.location.reload();
                    },
                    error: function (result) {
                        let error = undefined;
                        try {
                            error = JSON.parse(result.responseText);
                        } catch(e) {
                            error.error_message = 'Unknown';
                        }
                        articles_set_error_message(error.error_message);
                    }
                })
            }
        });
    </script>
{% endblock %}
