{% set var_suppliers_general_infromation = 'suppliers_general_information' %}
<div class="form-horizontal">
    <form class="{{ Action }}-general-information-submit" id="update-general-information-submit{{ Action == 'update' ? '-'~supplier.id : '' }}">
        {% include ':components:html_error.html.twig' with {'context': var_suppliers_general_infromation} %}
        <h5 class="title-text">{% trans %}Supplier Information{% endtrans %}</h5><br/><br/>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label label-text" for="name">{% trans %}Name{% endtrans %}:</label>
                <div class="col-sm-6">
                    <input maxlength="50" required id="{{ Action }}_name" type="text" class="form-control input-sm">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label label-text" for="email">{% trans %}Email{% endtrans %}:</label>
                <div class="col-sm-6">
                    <input maxlength="50" required id="{{ Action }}_email" type="text" class="form-control input-sm">
                </div>
            </div>
            <div class="form-group">
                <label class="label-text control-label">{% trans %}Communication language{% endtrans %}:</label>
                <div class="col-sm-6">
                    <select required id="{{ Action }}_communication-language" class="form-control">
                        <option value="">{% trans %}Choose..{% endtrans %}</option>
                        <option value="en">{% trans %}English{% endtrans %}</option>
                        <option value="nl">{% trans %}Nederlands{% endtrans %}</option>
                    </select>
                </div>
            </div>
        </div>
        {% if Action == 'add' %}
            <div class="col-lg-6">
                <div class="form-group" id="{{ Action }}_show-phone-number-general">
                    <label class="control-label label-text" for="{{ Action }}_phone-number-general">{% trans %}Phone number{% endtrans %}:</label>
                    <div class="col-sm-6">
                        <input maxlength="100" id="{{ Action }}_phone-number-general" type="text" class="form-control input-sm">
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-lg-12">
            <div class="row">
                <h5 class="title-text">{% trans %}Address Information{% endtrans %}</h5><br/><br/>
                <div class="form-group col-xs-4 col-xs-offset-1">
                    <label for="street" style="float: left">{% trans %}Street{% endtrans %}:</label>
                    <input maxlength="60" required id="{{ Action }}_street" type="text" class="form-control input-sm">
                </div>
                <div class="form-group col-xs-4 margin-setter">
                    <label for="house_number" style="float: left">{% trans %}House number{% endtrans %}:</label>
                    <input maxlength="30" required id="{{ Action }}_house_number" type="text" class="form-control input-sm">
                </div>
                <div class="form-group col-xs-4 margin-setter">
                    <label for="number_extension" style="float: left">{% trans %}House extension{% endtrans %}:</label>
                    <input maxlength="50" id="{{ Action }}_number_extension" type="text" class="form-control input-sm">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-4 col-xs-offset-1 ">
                    <label for="postcode" style="float: left">{% trans %}Postcode{% endtrans %}:</label>
                    <input maxlength="50" required id="{{ Action }}_postcode" type="text" class="form-control input-sm">
                </div>
                <div class="form-group col-xs-4 margin-setter">
                    <label for="city" style="float: left">{% trans %}City{% endtrans %}:</label>
                    <input maxlength="50" required id="{{ Action }}_city" type="text" class="form-control input-sm">
                </div>
                <div class="form-group col-xs-4 margin-setter country">
                    <label style="float: left">{% trans %}Country{% endtrans %}:</label>
                    <input type="text" id="{{ Action }}_supplier_country" class="form-control input-sm"/>
                    <input type="hidden" id="country_code"/>
                </div>
            </div>
        </div>
        <div style="float: right;" class="col-lg-4">
            <input type="submit" value="{% trans %}Submit{% endtrans %}" class="btn btn-default btn-block button-color"><br/>
        </div>
    </form>
</div>
<script src="{{ asset('js/countrySelect.js') }}"></script>
<script>
    let countryData;
    $(document).ready(function() {
        $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        let activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('#myTab a[href="' + activeTab + '"]').tab('show');
        }
        {% if Action != 'add' %}
        function set_general_information() {
            $('#{{ Action }}_name').val('{{ supplier.name }}');
            $('#{{ Action }}_email').val('{{ supplier.email }}');
            $('#{{ Action }}_communication-language').val('{{ supplier.communicationLanguage }}');
            $('#{{ Action }}_street').val('{{ supplier.street }}');
            $('#{{ Action }}_house_number').val('{{ supplier.number }}');
            $('#{{ Action }}_number_extension').val('{{ supplier.numberExtension }}');
            $('#{{ Action }}_postcode').val('{{ supplier.postCode }}');
            $('#{{ Action }}_city').val('{{ supplier.city }}');
            $("#{{ Action }}_supplier_country").countrySelect("setCountry", '{{ supplier.country }}');
        };
        set_general_information();
        {% endif %}
    });
    {% if Action == 'view' %}
    $('.{{ Action }}-general-information-submit').hide();
    {% endif %}
    $(".{{ Action }}-general-information-submit").submit(function (event) {
        let supplier = getFormData();
        supplier.id = event.target.id.split('-')[4];
        $.ajax({
            {% if Action == 'add' %}
            url: '/suppliers/add-supplier',
            type: 'post',
            {% elseif Action == 'update' %}
            url: '/suppliers/update-supplier',
            type: 'put',
            {% endif %}
            data: supplier,
            success: function (result) {
                let data = JSON.parse(result);
                window.location.href = '/suppliers/' + data.id + '/update-supplier';
            },
            error: function (result) {
                try {
                    let error = JSON.parse(result.responseText);
                    {{ var_suppliers_general_infromation }}_set_error_message(error.error_message);
                } catch (e) {
                    {{ var_suppliers_general_infromation }}_set_error_message('Unknown');
                }
            }
        });
        function getFormData() {
            let supplier = {};
            supplier.name = $('#{{ Action }}_name').val();
            supplier.email = $('#{{ Action }}_email').val();
            supplier.communication_language = $('#{{ Action }}_communication-language').val();
            supplier.street = $('#{{ Action }}_street').val();
            supplier.house_number = $('#{{ Action }}_house_number').val();
            supplier.number_extension = $('#{{ Action }}_number_extension').val();
            supplier.post_code = $('#{{ Action }}_postcode').val();
            supplier.city = $('#{{ Action }}_city').val();
            countryData = $("#{{ Action }}_supplier_country").countrySelect("getSelectedCountryData");
            supplier.country = countryData.name;
            {% if Action == 'add' %}
            supplier.phone_number = $("#add_phone-number-general").val();
            {% endif %}
            return supplier;
        }

        event.preventDefault();
    });
    $("#{{ Action }}_supplier_country").countrySelect({
        preferredCountries: ['nl', 'de', 'fr'],
    });

    $('.{{ Action }}-general-information-submit input')
        .on('invalid', function(){
            return this.setCustomValidity('{% trans %}Please fill out this field{% endtrans %}');
        })
        .on('input', function(){
            return this.setCustomValidity('');
        });
    $('.{{ Action }}-general-information-submit select')
        .on('invalid', function(){
            return this.setCustomValidity('{% trans %}Please select and item in the list{% endtrans %}');
        })
        .on('input', function(){
            return this.setCustomValidity('');
        });
</script>