<div class="modal fade modal-draggable" id="updateOrderSupplier" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Status{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                {% include ':components:modal_error.html.twig' with {'context': 'order_to_supplier'}%}
                <input type="hidden" id="order-article-id"/>
                <div id="to-supplier-status-div" class="form-group">
                </div>
                <button type="button" value="Submit" id="submit-to-supplier-status" class="btn btn-default btn-block button-color">{% trans %}Submit{% endtrans %}</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    let data_ajax = {};
    $(".modal-draggable .modal-dialog").draggable({
        handle: ".modal-header"
    });
    function set_change_status(data) {
        $('#order-article-id').val(data.id);
        data_ajax = data.id;
        $.ajax({
            url: '/orders/order-article-supplier-status',
            type: 'get',
            data: data_ajax,
            success: function (result) {
                try {
                    let to_supplier_statuses = JSON.parse(result);
                    let html = '';
                    html += '<select id="to-supplier-status" class="form-control">';
                    html += '<option selected disabled hidden>{% trans %}Choose..{% endtrans %}</option>'
                    to_supplier_statuses.forEach(function(element) {
                        html +=  '<option value="' + element.name + '">' + element.trans + '</option>';
                    });
                    html += '</select>';
                    $('#to-supplier-status-div').html(html);
                    $('#to-supplier-status-div select').val(data.status);
                } catch(e) {
                    order_to_supplier_set_error_message('Data inconsistent');
                }
            },
            error: function(result) {
                let error = {};
                try {
                    error = JSON.parse(result.responseText);
                } catch(e) {
                    error.error_message = 'Unknown';
                }
                order_to_supplier_set_error_message(error.error_message);
            }
        });
    };
    $('#submit-to-supplier-status').click(function(event) {
        let data = {};
        data.id = $('#order-article-id').val();
        data.to_supplier_status = $('#to-supplier-status-div select').val();
        $.ajax({
            url: '/orders/order-article-supplier-status',
            type: 'put',
            data: data,
            success: function(result) {
                let order_article_id = JSON.parse(result);
                window.location.href = '/suppliers/' + order_article_id.id + '/order-supplier';
            },
            error: function(result) {
                let error = {};
                try {
                    error = JSON.parse(result.responseText);
                } catch(e) {
                    error.error_message = 'Unknown';
                }
                order_to_supplier_set_error_message(error.error_message);
            }
        })
    })
</script>