{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    <br/>
    {% if Action != 'add' %}
    <div class="row">
        <div class="col-lg-12">
            <h3 style="float:left;margin-left:5%">{% trans %}Supplier name{% endtrans %}: {{ supplier.name }}</h3>
        </div>
    </div>
    {% endif %}
    <div class="col-lg-12">
        <br/>
        <div class="content">
            {% if layout == 'tabs' %}
                {% include ':user/suppliers/layout:tabs_layout.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $("#supplier").addClass("active-debt");
        {% if Action != "add" %}
        {% if notes | length %}
        $("#supplier-notes").addClass("many-items");
        {% endif %}
        {% if supplier_files | length %}
        $("#supplier-files").addClass("many-items");
        {% endif %}
        {% if supplier.contactPersons | length %}
        $("#supplier-contact").addClass("many-items");
        {% endif %}
        {% endif %}
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/countrySelect.css') }}">
{% endblock %}