{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    <div class="col-lg-12 actions">
        <i class="fa fa-user-plus menu-add add" aria-hidden="true" title="{% trans %}Add New Supplier{% endtrans %}"></i>
        {% include ':components:html_error.html.twig' with {'context': 'add_supplier'} %}
        {% include ':components:search.html.twig'%}
    </div>
    <table id="supplier-table" class="table table-bordered">
        <thead>
            <tr class="table-header">
                <th hidden>{% trans %}id{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Email{% endtrans %}</th>
                <th>{% trans %}Street{% endtrans %}</th>
                <th>{% trans %}House number{% endtrans %}</th>
                <th>{% trans %}House extension{% endtrans %}</th>
                <th>{% trans %}Postcode{% endtrans %}</th>
                <th>{% trans %}City{% endtrans %}</th>
                <th>{% trans %}Country{% endtrans %}</th>
                <th class="th-center">{% trans %}Action{% endtrans %}</th>
            </tr>
        </thead>
        <tbody class="default-table-body" style="display: none">
        {% for supplier_view in suppliers_view %}
            <tr class="table-rows">
                <td class="click" hidden >{{ supplier_view.id }}</td>
                <td class="click"  >{{ supplier_view.name }}</td>
                <td class="click" >{{ supplier_view.email }}</td>
                <td class="click" >{{ supplier_view.street }}</td>
                <td class="click"  >{{ supplier_view.number }}</td>
                <td class="click" >{{ supplier_view.numberExtension }}</td>
                <td class="click" >{{ supplier_view.postcode }}</td>
                <td class="click" >{{ supplier_view.city }}</td>
                <td class="click" >{{ supplier_view.country }}</td>
                <td class="th-center">
                    <i id="update-{{ supplier_view.id }}" class="fa fa-pencil icon update" aria-hidden="true" title="{% trans %}Update Supplier{% endtrans %}"></i>&nbsp;
                    <i id="look-{{ supplier_view.id }}" class="fa fa-eye icon view" aria-hidden="true" title="{% trans %}View Supplier{% endtrans %}"></i>&nbsp;
                    <i id="{{ supplier_view.id }}" class="fa fa-car order icon" aria-hidden="true" title="{% trans %}Order To Supplier{% endtrans %}"></i>
                    <i id="delete-{{ supplier_view.id }}" class="fa fa-trash icon delete" aria-hidden="true" title="{% trans %}Delete Supplier{% endtrans %}"></i>&nbsp;
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
    {% include':components:spinner.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/countrySelect.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#table-spinner').show();
            $('#supplier-table').dynatable({
                features:{
                    perPageSelect: false,
                    recordCount: false,
                    search: false,
                },
                inputs: {
                    queries: $('#search'),
                },
            });
            $(".default-table-body").show();
            $('#table-spinner').hide();
            $("#supplier").addClass("active-debt");
            $('#search').val(localStorage.getItem('search'));
            localStorage.clear();
            $(".modal-draggable .modal-dialog").draggable({
                handle: ".modal-header"
            });
        });
        $(document).on("click", ".order", function(event) {
            let id = event.target.id;
            window.location.href = '/suppliers/' + id + '/order-supplier'
        });
        $(document).on("click", ".add", function(event) {
            window.location.replace('/suppliers/add-supplier');
        });
        $(document).on("click", ".update", function(event) {
            let id = event.target.id.split('-')[1];
            window.location.href = '/suppliers/' + id + '/update-supplier';
        });
        $(document).on("click", ".view", function(event) {
            let id = event.target.id.split('-')[1];
            window.location.href = '/suppliers/' + id + '/pdf-view-supplier';
        });
        $(document).on("click", ".click", function(event) {
            let id = $(this).closest('tr').children('td:first').text();
            window.location.href = '/suppliers/' + id + '/pdf-view-supplier';
        });
        $(document).on("click", ".delete", function(event) {
            let answer = confirm('Are you sure you want to delete supplier?');
            if(answer) {
                let data = {};
                data.id = event.target.id.split('-')[1];
                $.ajax({
                    url: '/suppliers/delete-supplier',
                    type: 'delete',
                    data: data,
                    success: function (result) {
                        window.location.reload()
                    },
                    error: function (result) {
                        let error = {};
                        try{
                            error = JSON.parse(result.responseText);
                        } catch(e) {
                            error.error_message = 'Unknown';
                        }
                    }
                })
            }
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/countrySelect.css') }}">
{% endblock %}