{% set order_supplier_context = 'order_supplier' %}
{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include ':components:title.html.twig' %}
{% endblock title %}
{% block body %}
    {% include ':user/suppliers/components:modal_update_order_supplier.html.twig' %}
    {% include ':components:mail_view.html.twig' %}
    <div class="col-lg-12 actions">
        <div class="col-lg-12">
            <h3 style="float:left">{% trans %}Supplier name{% endtrans %}: {{ supplier.name }}</h3>
        </div>

        {% include ':components:html_error.html.twig' with {'context': order_supplier_context} %}
        {% include ':components:search.html.twig'%}
        {% if type == 'archive' %}
            <button id="{{ supplier.id }}" type="button" style="float:left" class="btn btn-default btn-md button-color back">Back</button>
        {% else %}
            <i id="{{ supplier.id }}" class="fa fa-archive menu-add archive" aria-hidden="true"></i>
        {% endif %}
    </div>
    <table id="order-supplier-table" class="table table-bordered">
        <thead>
            <tr class="table-header">
                <th>{% trans %}Date{% endtrans %}</th>
                <th>{% trans %}Article Name{% endtrans %}</th>
                <th>{% trans %}Contact Person{% endtrans %}</th>
                <th>{% trans %}Order Status{% endtrans %}</th>
                <th>{% trans %}Commission{% endtrans %}</th>
                <th>{% trans %}Supervisor{% endtrans %}</th>
                <th>{% trans %}Delivery Date{% endtrans %} </th>
                <th hidden>{% trans %}Id{% endtrans %} </th>
                <th class="th-center">{% trans %}Action{% endtrans %}</th>
            </tr>
        </thead>
        {% for order_article in order_articles %}
            <tr class="table-rows" style="display: none">
                <td class="click click-{{ order_article.order.id }}" >{{ order_article.updatedString }}</td>
                <td class="click click-{{ order_article.order.id }}" >{{ order_article.articleName }}</td>
                <td class="click click-{{ order_article.order.id }}" >{{ order_article.contactPerson }}</td>
                <td class="click click-{{ order_article.order.id }}" >{{ order_article.toSupplierStatus.name|trans }}</td>
                <td class="click click-{{ order_article.order.id }}" >{{ order_article.commission }}</td>
                <td class="click click-{{ order_article.order.id }}" >{{ order_article.username }}</td>
                <td class="click click-{{ order_article.order.id }}" >{{ order_article.deliveryTimeString }}</td>
                <td hidden class="click click-{{ order_article.id }}" >{{ order_article.order.id }}</td>
                <td class="th-center">
                    <i id="update-{{ order_article.id }}" class="fa fa-pencil icon update" aria-hidden="true" data-toggle="modal" data-target="#updateOrderSupplier" title="{% trans %}Change Order to Supplier Status{% endtrans %}"></i>&nbsp;
                    <i id="view-{{ order_article.id }}" class="fa fa-eye icon view" aria-hidden="true" data-toggle="modal" data-target="#MailViewModal" title="{% trans %}Supplier email{% endtrans %}"></i>&nbsp;
                </td>
            </tr>
        {%  endfor %}
    </table>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#supplier").addClass("active-debt");
            $('#table-spinner').show();
            $('#order-supplier-table').dynatable({
                features:{
                    perPageSelect: false,
                    recordCount: false,
                    search: false,
                },
                inputs: {
                    queries: $('#search'),
                },
            });
            $(".default-table-body").show();
            $('#table-spinner').hide();
        });
        $(document).on("click", ".click", function(event) {
            let tableRow = $(this).closest("tr")
                .find("td")
                .map(function() {
                    return $(this).text();
                }).get();

            let id = tableRow[7];
            window.location.href = '/orders/' + id + '/update-order'
        });
        $(document).on("click", ".update", function(event) {
            let tableRow = $(this).closest("tr")
                .find("td")
                .map(function() {
                    return $(this).text();
                }).get();
            let data = {};
            data.id = event.target.id.split('-')[1];
            data.status = tableRow[3];
            set_change_status(data);
        });
        $(document).on("click", ".view", function(event) {
            let id = event.target.id.split('-')[1];
            $.ajax({
                url: '/orders/get-mail-to-supplier',
                data: {'id': id},
                type: 'post',
                success: function (result) {
                    try {
                        let data = JSON.parse(result);
                        set_mail_view_data(data);
                    } catch(e) {
                        $('#MailViewModal').modal('hide');
                    }
                },
                error: function (result) {
                    try {
                        let error = JSON.parse(result.responseText);
                        {{ order_supplier_context }}_set_error_message(error.error_message);
                    } catch(e) {
                        {{ order_supplier_context }}_set_error_message('Unknown');
                    }
                }
            })
        });
        $('.archive').click(function (event) {
            let id = event.target.id;
            window.location.href = '/suppliers/' + id + '/finished-suppliers';
        });
        $('.back').click(function (event) {
            let id = event.target.id;
            window.location.href = '/suppliers/' + id + '/order-supplier';
        })
    </script>
{% endblock %}