{% if Action != 'add' %}
    <div class="board-inner">
        <ul class="nav nav-tabs nav-suppliers" id="myTab">
            <li class="active">
                <a href="#informations" data-toggle="tab" title="{% trans %}General Information{% endtrans %}">
                    <span class="round-tabs one">
                        <i class="glyphicon glyphicon-info-sign"></i>
                     </span>
                </a></li>
            <li id="supplier-contact"><a href="#contacts" data-toggle="tab" title="{% trans %}Contact Persons{% endtrans %}">
                         <span class="round-tabs two">
                             <i class="glyphicon glyphicon-user"></i>
                         </span>
                </a></li>
            <li id="supplier-notes"><a href="#notes" data-toggle="tab" title="{% trans %}Notes{% endtrans %}">
                         <span class="round-tabs four">
                              <i class="glyphicon glyphicon-comment"></i>
                         </span>
                </a></li>
            <li id="supplier-files"><a href="#saved_pdfs" data-toggle="tab" title="{% trans %}Documents{% endtrans %}">
                     <span class="round-tabs five">
                          <i class="glyphicon glyphicon-folder-open"></i>
                     </span>
                </a></li>
        </ul>
    </div>
{% endif %}
<div class="tab-content">
    <div class="tab-pane fade in active" id="informations">
        {% include ':user/suppliers/components:grant_general_informations.html.twig' %}
    </div>
    {% if Action != 'add' %}
        <div class="tab-pane fade" id="contacts">
            {% include ':user/suppliers/components:grant_contact_persons.html.twig' %}
        </div>
        <div class="tab-pane fade" id="notes">
            {% include ':user/suppliers/components:grant_notes.html.twig' %}
        </div>
        <div class="tab-pane fade" id="saved_pdfs">
            {% include ':user/suppliers/components:grant_saved_files.html.twig' %}
        </div>
    {% endif %}
    <div class="clearfix"></div>
</div>