{% extends company ~ 'base_with_background.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body_with_background %}
<h2>{% trans %}Error{% endtrans %}</h2>
<p>{{ error.message }}</p>
{% endblock body_with_background %}