<div class="board-inner">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#informations" data-toggle="tab" title="General Informations">
                <span class="round-tabs one">
                    <i class="glyphicon glyphicon-info-sign"></i>
                 </span>
            </a></li>
        <li><a href="#contacts" data-toggle="tab" title="Contact Persons">
                 <span class="round-tabs two">
                     <i class="glyphicon glyphicon-user"></i>
                 </span>
            </a></li>
        <li><a href="#delivery" data-toggle="tab" title="Delivery Address">
                 <span class="round-tabs three">
                      <i class="glyphicon glyphicon-book"></i>
                 </span>
            </a></li>
        <li><a href="#notes" data-toggle="tab" title="Notes">
                 <span class="round-tabs four">
                      <i class="glyphicon glyphicon-comment"></i>
                 </span>
            </a></li>
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane fade in active" id="informations">

    </div>
    <div class="tab-pane fade" id="contacts">

    </div>
    <div class="tab-pane fade" id="delivery">

    </div>
    <div class="tab-pane fade" id="notes">

    </div>
    <div class="clearfix"></div>
</div>