{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    <br/>
    <div  class="col-lg-12">
        <br/>
        {% include ':components:html_error.html.twig' with {'context': 'article_charts'} %}
        <div class="col-lg-12">
            <div class="form-group col-xs-3  col-xs-offset-1">
                <label class="label-text control-label">{% trans %}Category{% endtrans %}:</label>
                <select id="article-category" class="form-control">
                    <option selected disabled hidden>{% trans %}Choose..{% endtrans %}</option>
                    {% for category in categories %}
                        <option value="{{ category.name }}">{{ category.trans }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-xs-3 margin-setter" id="article-sub-categories-div">
            </div>
        </div>
        <div class="col-lg-12">
            <br/><br/>
        </div>
        {% include ':components:date_for_charts.html.twig' %}
        <div  class="col-lg-12">
            <div class="content">
                <div id="container" style="min-width: 310px; height: 500px; width: 100%;  margin: 0 auto"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- CHARTS -->
    <script src="{{ asset('js/highstock.js') }}"></script>
    <script src="{{ asset('js/highcharts-3d.js') }}"></script>
    <script src="{{ asset('js/highcharts-more.js') }}"></script>
    <script src="{{ asset('js/highcharts-theme.js') }}"></script>
    <script>
        function render_article_sub_categories(article_category) {
            let data = {};
            data.article_category = article_category;
            $.ajax({
                url: '/articles/article-sub-categories',
                type: 'post',
                data: data,
                success: function (result) {
                    try {
                        let article_sub_categories = JSON.parse(result);
                        if (article_sub_categories.length > 0) {
                            let html = "<label class='label-text control-label'>{% trans %}Sub Category{% endtrans %}:</label>";
                            html += "<select id='article-sub-category' class='form-control'>";
                            html += '<option selected disabled hidden>{% trans %}Choose..{% endtrans %}</option>'
                            jQuery.each(article_sub_categories, function (key, value) {
                                html += '<option value="' + value.name + '">' + value.trans + '</option>'
                            });
                            html += '</select>'
                            $('#article-sub-categories-div').html(html);
                            $('#article-sub-categories-div').show();
                            $('#article-sub-categories-div select').on('change', function (event) {
                                get_data_and_redraw_chart();
                            });
                        } else {
                            $('#article-sub-categories-div').hide();
                        }
                    } catch(e) {
                        article_charts_set_error_message('Inconsistent data');
                    }
                },
                error: function (result) {
                    let error = {};
                    try {
                        error = JSON.parse(result.responseText);
                    } catch(e) {
                        error.error_message = 'Unknown';
                    }
                    article_charts_set_error_message(error.error_message);
                }
            })
        };
        function get_data_and_redraw_chart() {
            $.ajax({
                url: '/articles/charts?category_name=' + $('#article-category').val() + '&sub_category_name=' + $('#article-sub-category').val() + '&start=' + start.format('YYYY-MM-DD') + '&end=' + end.format('YYYY-MM-DD'),
                type: 'get',
                success: function (result) {
                    let data = {};
                    try {
                        data = JSON.parse(result);
                    } catch (e) {
                        article_charts_set_error_message('Inconsistent data');
                    }
                    let plot_data = [
                        {
                            name: '{% trans %}profit{% endtrans %}',
                            data: data.profit
                        },
                        {
                            name: '{% trans %}purchase{% endtrans %}',
                            data: data.purchase_prices
                        },
                    ];
                    Highcharts.setOptions({
                        chart: {
                            style: {
                                fontFamily: 'sans-serif'
                            }
                        }
                    });
                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: '{% trans %}Category activity{% endtrans %}'
                        },
                        xAxis: {
                            categories: data.xAxis,
                            crosshair: true
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: '&euros;'
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                }
                            }
                        },
                        legend: {
                            align: 'right',
                            x: -30,
                            verticalAlign: 'top',
                            y: 25,
                            floating: true,
                            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                            borderColor: '#CCC',
                            borderWidth: 1,
                            shadow: false
                        },
                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true,
                                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                                    style: {
                                        //color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                                        fontSize: 12,
                                        fontFamily: 'sans-serif'
                                    }
                                }
                            }
                        },
                        series: plot_data
                    });
                },
                error: function (result) {
                    let error = {};
                    try {
                        error = JSON.parse(result.responseText);
                    } catch (e) {
                        error.error_message = 'Unknown';
                    }
                    article_charts_set_error_message(error.error_message);
                }
            });
        };
        $(document).ready(function () {
            $("#article").addClass("active-debt");
            $("#article-category").change(function (event) {
                let article_category = $('#article-category').val();
                render_article_sub_categories(article_category);
            });
        });
    </script>
{% endblock %}