{% extends company ~ 'base.html.twig' %}
{% block title %}
    {% include 'components/title.html.twig' %}
{% endblock title %}
{% block body %}
    <div class="col-lg-12">
        <br/>
        <div class="content">
            <div class="row">
                <br>
                <div class="col-lg-6">
                    <br/>
                    <button id="{{ order_id }}" type="button" style="float:left" class="btn btn-default btn-md button-color back-email-view">Back</button>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label style="float: left" for="mail-view-subject">{% trans %}Subject{% endtrans %} :</label>
                        <input maxlength="200" type="text" class="form-control" value="{{ mail.mailSubject }}" id="mail-view-subject" disabled/>
                    </div>
                    <div class="form-group">
                        <label style="float: left" for="mail-view">{% trans %}Email Address{% endtrans %} :</label><br><br>
                        <span style="float: left"  id="mail-view-address">{{ mail.sendTo }}</span>
                    </div><br/>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label style="float: left" for="mail-view-message">{% trans %}Message{% endtrans %}</label>
                        <textarea maxlength="20000" name="message" id="mail-view-message"class="form-control" rows="12" cols="25" disabled>{{ mail.mailBody }}</textarea>
                    </div>
                </div>
            </div>
            <div class="rows">
                <table class="table table-bordered">
                    <thead class="table-header">
                        <tr>
                            <th>{% trans %}Datum{% endtrans %}</th>
                            <th>{% trans %}File Name{% endtrans %}</th>
                            <th>{% trans %}Action{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody class="default-table-body">
                    {% for file in attachment_files %}
                        <tr class="table-rows">
                            <td>{{ file.createdString }}</td>
                            <td>{{ file.originalName }}</td>
                            <td class="th-center"> <i id="look-{{ file.id }}" class="fa fa-eye icon view-file" aria-hidden="true"></i>&nbsp;</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#order").addClass("active-debt");
            $('.view-file').click(function (event) {
                let id = event.target.id.split('-')[1];
                window.location.href = '/orders/get_attached_file/' + id;
            });
            $('.back-email-view').click(function (event) {
                window.location.href = '/orders/' + event.target.id + '/update-order';
            });
        });
    </script>
{% endblock %}
