<div class="filter-popover">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-filter"></span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id="article-filter">
            <li>
                <label class="dropdown-menu-item checkbox">
                    <input type="checkbox" value="article-name" name="article-group" class="article-check"/>
                    <span class="glyphicon glyphicon-unchecked article-check"></span>
                    {% trans %}Article Name{% endtrans %}
                </label>
            </li>
            <li>
                <label class="dropdown-menu-item checkbox">
                    <input type="checkbox" value="article-number" name="article-group" class="article-check"/>
                    <span class="glyphicon glyphicon-unchecked article-check"></span>
                    {% trans %}Article Number{% endtrans %}
                </label>
            </li>
        <li>
            <button type="button" class="btn btn-success btn-xs apply-filter">Apply</button>
        </li>
    </ul>
</div>
<script>
    let article_filter = "article-number";
    set_filter_values(article_filter);
    $( '.dropdown-menu li' ).on( 'click', function( event ) {
        event.preventDefault();
        let $checkbox = $(this).find('.checkbox');
        if (!$checkbox.length) {
            return;
        }
        let $input = $checkbox.find('input');
        let $icon = $checkbox.find('span.glyphicon');
        if (!$input.is(':checked')) {
            $('.article-check').removeClass('glyphicon-check').addClass('glyphicon-unchecked');
            $icon.removeClass('glyphicon-unchecked').addClass('glyphicon-check');
            article_filter = $input.val();
            set_filter_values(article_filter);
        }
        return false;
    });
</script>
