<div class="modal fade modal-draggable" id="{{ article_action }}ArticleModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Article{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                {% include ':components:modal_error.html.twig' with {'context': article_action ~ 'Article'}%}
                <form id="form-{{ article_action }}-article" class="form-horizontal" enctype="multipart/form-data">
                    <div class="col-lg-12">
                        <div class="form-group col-xs-5 col-xs-offset-1">
                            <label for="photo" style="float: left">{% trans %}Article Photo{% endtrans %}:</label>
                            <img id="{{ article_action }}-preview-article" class="photo-preview" src="{{ asset('images/preview.png') }}"/>
                            <input type="file" name="{{ article_action }}-file-upload" id="{{ article_action }}-file-upload" accept="image/*" class="input-file" onchange="{{ article_action }}ReadURL(this);">
                            <label for="{{ article_action }}-file-upload"><span>{% trans %}Choose a file{% endtrans %}</span></label>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-xs-6 col-xs-offset-1">
                            <label for="{{ article_action }}-article-number" style="float: left">{% trans %}Article Number{% endtrans %}:</label>
                            <input maxlength="20" required id="{{ article_action }}-article-number" name="article_number"  type="text" class="form-control input-sm" {% if article_action == 'update' %}  {% endif %}/>
                        </div>
                        <div class="form-group col-xs-6 margin-setter">
                            <label for="{{ article_action }}-size" style="float: left">{% trans %}Article Size{% endtrans %}:</label>
                            <input maxlength="50" required id="{{ article_action }}-size" type="text" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-xs-6 col-xs-offset-1">
                            <label for="{{ article_action }}-article-name-english" style="float: left">{% trans %}Article Name{% endtrans %} {% trans %}English{% endtrans %}:</label>
                            <input maxlength="200" id="{{ article_action }}-article-name-english"  type="text" class="form-control input-sm">
                        </div>
                        <div class="form-group col-xs-6 margin-setter">
                            <label for="{{ article_action }}-article-name-dutch" style="float: left">{% trans %}Article Name{% endtrans %} {% trans %}Nederlands{% endtrans %}:</label>
                            <input maxlength="200" id="{{ article_action }}-article-name-dutch"  type="text" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <input type="hidden" id="{{ article_action }}-article-id"/>
                        <div class="form-group col-xs-4 col-xs-offset-1">
                            <label for="{{ article_action }}-purchase-price" style="float: left">{% trans %}Purchase Price{% endtrans %}:</label>
                            <input type="number" class="form-control input-sm" step=".01" id="{{ article_action }}-purchase-price" />
                        </div>
                        <div class="form-group col-xs-4 margin-setter">
                            <label for="{{ article_action }}-selling-price" style="float: left">{% trans %}Selling Price{% endtrans %}:</label>
                            <input id="{{ article_action }}-selling-price" type="number" step=".01" class="form-control input-sm" >
                        </div>
                        <div class="form-group col-xs-4 margin-setter">
                            <label for="{{ article_action }}-selling-price-with-pdv" style="float: left">{% trans %}Selling Price with VAT{% endtrans %}:</label>
                            <input id="{{ article_action }}-selling-price-with-pdv" step=".01" type="number" class="form-control input-sm" >
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-xs-6  col-xs-offset-1">
                            <label class="label-text control-label">{% trans %}Category{% endtrans %}:</label>
                            <select required id="{{ article_action }}-article-category" class="form-control">
                                <option value="">{% trans %}Choose..{% endtrans %}</option>
                                {% for category in categories %}
                                    <option value="{{ category.name }}">{{ category.trans }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-xs-6 margin-setter" id="{{ article_action }}-article-sub-categories-div" {% if article_action == 'add' %} hidden {% endif %}>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-xs-12">
                            <label for="{{ article_action }}-description" style="float: left">{% trans %}Description{% endtrans %}:</label>
                            <textarea  id="{{ article_action }}-description" class="form-control input-sm" rows="8" ></textarea>
                        </div>
                    </div>
                    <input type="submit" value="{% trans %}Submit{% endtrans %}" class="btn btn-default btn-block button-color">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(".modal-draggable .modal-dialog").draggable({
        handle: ".modal-header"
    });
    function {{ article_action }}ReadURL(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.onload = function (e) {
                var img =  new Image();
                img.src = e.target.result;
                img.onload = function()
                {
                    if(this.width <= 1920 && this.height <= 1080)
                    {
                        $('#{{ article_action }}-preview-article')
                            .attr('src', e.target.result);
                    }
                    else
                    {
                        alert("Picture too big");
                    }
                    console.log("imag " + reader.width + " " + reader.height);
                };
            };
            reader.readAsDataURL(input.files[0]);
        }
    };
    function {{ article_action }}_render_article_sub_categories(article_category, article_sub_category_name) {
        let data = {};
        data.article_category = article_category;
        $.ajax({
            url: '/articles/article-sub-categories',
            type: 'post',
            data: data,
            success: function (result) {
                try {
                    let article_sub_categories = JSON.parse(result);
                    if (article_sub_categories.length > 0) {
                        let html = "<label class='label-text control-label'>{% trans %}Sub Category{% endtrans %}:</label>";
                        html += "<select required id='{{ article_action }}-article-sub-category' class='form-control'>";
                        html += "<option value=''>{% trans %}Choose..{% endtrans %}</option>";
                        jQuery.each(article_sub_categories, function (key, value) {
                            html += '<option value="' + value.name + '">' + value.trans + '</option>'
                        });
                        html += '</select>'
                        $('#{{ article_action }}-article-sub-categories-div').html(html);
                        $('#{{ article_action }}-article-sub-categories-div').show();
                        if (article_sub_category_name !== null) {
                            $("#{{ article_action }}-article-sub-category").val(article_sub_category_name);
                        }
                    } else {
                        $('#{{ article_action }}-article-sub-categories-div').hide();
                    }
                } catch(e) {

                }
            },
            error: function (result) {
                let error = {};
                try {
                    error = JSON.parse(result.responseText);
                } catch(e) {
                    error.error_message = 'Unknown';
                }
                {{ article_action }}Article_set_error_message(error.error_message);
            }
        })
    };
    {% if article_action == 'update' %}
    let haha = "";
        function set_update_values_article(article) {
            $.ajax({
                url: '/articles',
                type: 'post',
                data: article,
                success: function (result) {
                    try {
                        article = JSON.parse(result);
                        $('#update-article-id').val(article.id);
                        $("#update-article-number").val(article.articleNumber);
                        $("#update-article-name-english").val(article.articleName);
                        $("#update-article-name-dutch").val(article.articleNameDutch);
                        $("#update-size").val(article.size);
                        $("#update-purchase-price").val(article.purchasePrice);
                        $("#update-selling-price").val(article.sellingPrice);
                        $("#update-selling-price-with-pdv").val(article.sellingPriceWithPdv);
                        $("#update-description").val(article.description);
                        $("#update-article-category").val(article.articleCategory.name);
                        if(article.articleSubCategory != null) {
                            update_render_article_sub_categories(article.articleCategory.name, article.articleSubCategory.name);
                        } else {
                            update_render_article_sub_categories(article.articleCategory.name, null);
                        }
                        $("#update-preview-article").attr('src', '{{ asset(company ~ 'images/') }}' + article.pictureUrl)
                    } catch(e) {
                        updateArticle_set_error_message('Article data inconsistent');
                    }
                },
                error: function(result) {
                    try {
                        let error = JSON.parse(result.responseText);
                        updateArticle_set_error_message(error.error_message);
                    } catch(e) {
                        updateArticle_set_error_message('Unknown');
                    }
                }
            });
        };
    {% endif %}
    $('#form-{{ article_action }}-article').on('submit' , function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        let data = new FormData(this);
        data.append('article_id', $("#{{ article_action }}-article-id").val());
        data.append('article_number', $("#{{ article_action }}-article-number").val());
        data.append('article_name_english', $("#{{ article_action }}-article-name-english").val());
        data.append('article_name_dutch', $("#{{ article_action }}-article-name-dutch").val());
        data.append('article_name_german', '');
        data.append('size', $("#{{ article_action }}-size").val());
        data.append('purchase_price', $("#{{ article_action }}-purchase-price").val());
        data.append('selling_price', $("#{{ article_action }}-selling-price").val());
        data.append('selling_price_with_pdv', $("#{{ article_action }}-selling-price-with-pdv").val());
        data.append('article_category', $("#{{ article_action }}-article-category").val());
        data.append('article_sub_category', $("#{{ article_action }}-article-sub-category").val());
        data.append('description', $("#{{ article_action }}-description").val());
        $.ajax({
            {% if article_action == 'add'%}
                url: '/articles/add-article',
            {% elseif article_action == 'update' %}
                url: '/articles/update-article',
            {% endif %}
            type: 'post',
            data: data,
            contentType: false,
            cache: false,
            processData: false,
            success: function (result) {
                window.location.reload();
            },
            error: function (result) {
                try {
                    let error = JSON.parse(result.responseText);
                    {{ article_action }}Article_set_error_message(error.error_message);
                } catch (e) {
                    {{ article_action }}Article_set_error_message('Unknown');
                }
            }
        });
    });
    $("#{{ article_action }}-article-category").change(function (event) {
        let article_category = $('#{{ article_action }}-article-category').val();
        {{ article_action }}_render_article_sub_categories(article_category, null);
    });




    $('#form-{{ article_action }}-article input')
    .on('invalid', function(){
        return this.setCustomValidity('{% trans %}Please fill out this field{% endtrans %}');
    })
    .on('input', function(){
        return this.setCustomValidity('');
    });
    $('#form-{{ article_action }}-article select')
    .on('invalid', function(){
        return this.setCustomValidity('{% trans %}Please select and item in the list{% endtrans %}');
    })
    .on('input', function(){
        return this.setCustomValidity('');
    });
</script>