<div class="modal fade modal-draggable" id="{{ custom_article_action }}CustomArticleModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Custom Article{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                {% include ':components:modal_error.html.twig' with {'context': custom_article_action ~ 'Article'}%}
                <form id="form-{{ custom_article_action }}-article" class="form-horizontal" enctype="multipart/form-data">
                    <div class="col-lg-12">
                        <div class="form-group col-xs-5 col-xs-offset-1">
                            <label for="photo" style="float: left">{% trans %}Article Photo{% endtrans %}:</label>
                            <img id="{{ custom_article_action }}-preview-article" class="photo-preview" src="{{ asset('images/preview.png') }}"/>
                            <input type="file" name="{{ custom_article_action }}-file-upload" id="{{ custom_article_action }}-file-upload" accept="image/*" class="input-file" onchange="{{ custom_article_action }}ReadURL(this);">
                            <label for="{{ custom_article_action }}-file-upload"><span>{% trans %}Choose a file{% endtrans %}</span></label>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-xs-1 col-xs-offset-1 custom-input" style="    width: 74px;">
                            <input type="text" class="form-control input-sm" value="C" style="width: 30px;" disabled />
                        </div>
                        <div class="form-group col-xs-5">
                            <label for="{{ custom_article_action }}-article-number" style="float: left">{% trans %}Article Number{% endtrans %}:</label>
                            <input id="{{ custom_article_action }}-article-number" name="article_number" type="text" class="form-control input-sm" {% if custom_article_action == 'update' %} {% endif %}/>
                        </div>
                        <div class="form-group col-xs-6 margin-setter">
                            <label for="{{ custom_article_action }}-size" style="float: left">{% trans %}Article Size{% endtrans %}:</label>
                            <input id="{{ custom_article_action }}-size" type="text" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-xs-6 col-xs-offset-1">
                            <label for="{{ custom_article_action }}-article-name-english" style="float: left">{% trans %}Article Name{% endtrans %} {% trans %}English{% endtrans %}:</label>
                            <input id="{{ custom_article_action }}-article-name-english"  type="text" class="form-control input-sm">
                        </div>
                        <div class="form-group col-xs-6 margin-setter">
                            <label for="{{ custom_article_action }}-article-name-dutch" style="float: left">{% trans %}Article Name{% endtrans %} {% trans %}Dutch{% endtrans %}:</label>
                            <input id="{{ custom_article_action }}-article-name-dutch"  type="text" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <input type="hidden" id="{{ custom_article_action }}-article-number"/>
                        <div class="form-group col-xs-4 col-xs-offset-1">
                            <label for="{{ custom_article_action }}-purchase-price" style="float: left">{% trans %}Purchase Price{% endtrans %}:</label>
                            <input type="number" class="form-control input-sm" id="{{ custom_article_action }}-purchase-price" />
                        </div>
                        <div class="form-group col-xs-4 margin-setter">
                            <label for="{{ custom_article_action }}-selling-price" style="float: left">{% trans %}Selling Price{% endtrans %}:</label>
                            <input id="{{ custom_article_action }}-selling-price" type="number" class="form-control input-sm" >
                        </div>
                        <div class="form-group col-xs-4 margin-setter">
                            <label for="{{ custom_article_action }}-selling-price-with-pdv" style="float: left">{% trans %}Selling Price with VAT{% endtrans %}:</label>
                            <input id="{{ custom_article_action }}-selling-price-with-pdv" type="number" class="form-control input-sm" >
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-xs-6  col-xs-offset-1">
                            <label class="label-text control-label">{% trans %}Category{% endtrans %}:</label>
                            <select id="{{ custom_article_action }}-article-category" class="form-control">
                                <option selected disabled hidden>{% trans %}Choose..{% endtrans %}</option>
                                {% for category in categories %}
                                    <option value="{{ category.name }}">{{ category.trans }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-xs-6 margin-setter" id="{{ custom_article_action }}-article-sub-categories-div" {% if custom_article_action == 'add' %} hidden {% endif %}>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-xs-12">
                            <label for="{{ custom_article_action }}-description" style="float: left">{% trans %}Description{% endtrans %}:</label>
                            <textarea  id="{{ custom_article_action }}-description" class="form-control input-sm" rows="8" ></textarea>
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-default btn-block button-color">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(".modal-draggable .modal-dialog").draggable({
        handle: ".modal-header"
    });
    function {{ custom_article_action }}ReadURL(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.onload = function (e) {
                //console.log('{{ custom_article_action }}');
                $('#{{ custom_article_action }}-preview-article')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    function {{ custom_article_action }}_render_article_sub_categories(article_category, article_sub_category_name) {
        let data = {};
        data.article_category = article_category;
        $.ajax({
            url: '/articles/article-sub-categories',
            type: 'post',
            data: data,
            success: function (result) {
                try {
                    let article_sub_categories = JSON.parse(result);
                    if (article_sub_categories.length > 0) {
                        let html = "<label class='label-text control-label'>{% trans %}Sub Category{% endtrans %}:</label>";
                        html += "<select id='{{ custom_article_action }}-article-sub-category' class='form-control'>";
                        html += "<option selected disabled hidden>{% trans %}Choose..{% endtrans %}</option>";
                        jQuery.each(article_sub_categories, function (key, value) {
                            html += '<option value="' + value.name + '">' + value.trans + '</option>'
                        });
                        html += '</select>'
                        $('#{{ custom_article_action }}-article-sub-categories-div').html(html);
                        $('#{{ custom_article_action }}-article-sub-categories-div').show();
                        if (article_sub_category_name !== null) {
                            $("#{{ custom_article_action }}-article-sub-category").val(article_sub_category_name);
                        }
                    } else {
                        $('#{{ custom_article_action }}-article-sub-categories-div').hide();
                    }
                } catch(e) {

                }
            },
            error: function (result) {
                let error = {};
                try {
                    error = JSON.parse(result.responseText);
                } catch(e) {
                    error.error_message = 'Unknown';
                }
                {{ custom_article_action }}Article_set_error_message(error.error_message);
            }
        })
    };
    {% if custom_article_action == 'update' %}
    function set_update_values_article(article) {
        $.ajax({
            url: '/articles',
            type: 'post',
            data: article,
            success: function (result) {
                try {
                    article = JSON.parse(result);
                    $("#update_custom-article-number").val(article.articleNumber);
                    $("#update_custom-article-name-english").val(article.articleName);
                    $("#update_custom-article-name-dutch").val(article.articleNameDutch);
                    $("#update_custom-size").val(article.size);
                    $("#update_custom-purchase-price").val(article.purchasePrice);
                    $("#update_custom-selling-price").val(article.sellingPrice);
                    $("#update_custom-selling-price-with-pdv").val(article.sellingPriceWithPdv);
                    $("#update_custom-description").val(article.description);
                    $("#update_custom-article-category").val(article.articleCategory.name);
                    update_render_article_sub_categories(article.articleCategory.name, article.articleSubCategory.name);
                    $("#update_custom-preview-article").attr('src', '{{ asset(company ~ 'images/') }}' + article.pictureUrl)
                } catch(e) {
                    updateArticle_set_error_message('Article data inconsistent');
                }
            },
            error: function(result) {
                try {
                    let error = JSON.parse(result.responseText);
                    updateArticle_set_error_message(error.error_message);
                } catch(e) {
                    updateArticle_set_error_message('Unknown');
                }
            }
        });
    };
    {% endif %}
    $('#form-{{ custom_article_action }}-article').on('submit' , function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        let data = new FormData(this);
        data.append('article_number', "C " + $("#{{ custom_article_action }}-article-number").val());
        data.append('article_name_english', $("#{{ custom_article_action }}-article-name-english").val());
        data.append('article_name_dutch', $("#{{ custom_article_action }}-article-name-dutch").val());
        data.append('article_name_german', '');
        data.append('size', $("#{{ custom_article_action }}-size").val());
        data.append('purchase_price', $("#{{ custom_article_action }}-purchase-price").val());
        data.append('selling_price', $("#{{ custom_article_action }}-selling-price").val());
        data.append('selling_price_with_pdv', $("#{{ custom_article_action }}-selling-price-with-pdv").val());
        data.append('description', $("#{{ custom_article_action }}-description").val());
        data.append('article_category', $("#{{ custom_article_action }}-article-category").val());
        data.append('article_sub_category', $("#{{ custom_article_action }}-article-sub-category").val());
        data.append('type', 'custom');
        $.ajax({
            {% if custom_article_action == 'add_custom'%}
            url: '/articles/add-article',
            {% elseif custom_article_action == 'update_custom' %}
            url: '/articles/update-article',
            {% endif %}
            type: 'post',
            data: data,
            contentType: false,
            cache: false,
            processData: false,
            success: function (result) {
                window.location.reload();
            },
            error: function (result) {
                try {
                    let error = JSON.parse(result.responseText);
                    {{ custom_article_action }}Article_set_error_message(error.error_message);
                } catch (e) {
                    {{ custom_article_action }}Article_set_error_message('Unknown');
                }
            }
        });
    });
    $("#{{ custom_article_action }}-article-category").change(function (event) {
        let article_category = $('#{{ custom_article_action }}-article-category').val();
        {{ custom_article_action }}_render_article_sub_categories(article_category, null);
    });
</script>